<div class="mss-view-container">
  <div class="mss-header-row">
    <span class="mss-title">{{'settings.title' | translate}}</span>
  </div>
  <div class="form-wrapper">
    <div class="form-container">
      <form [formGroup]="infoForm" class="form" *ngIf="profile">
        <mss-input formControlName="id" class="input" [type]="'number'" [value]="editableProfile.id" [label]="'basic.id' | translate">
        </mss-input>
        <mss-input formControlName="firstName" class="input" [(value)]="editableProfile.firstName" [label]="'basic.firstName' | translate">
        </mss-input>
        <mss-input formControlName="surname" class="input" [(value)]="editableProfile.lastName" [label]="'basic.lastName' | translate">
        </mss-input>
        <mss-input formControlName="email" class="input" [(value)]="editableProfile.email" [label]="'basic.email' | translate">
        </mss-input>
        <mss-input formControlName="phone" class="input" [(value)]="editableProfile.phone" [label]="'basic.phone' | translate">
        </mss-input>
        <div class="button-container">
          <mss-button class="mss-action-button save" [label]="'basic.save' | translate" (click)="updateUser()"></mss-button>
        </div>
      </form>
    </div>
    <div class="form-container">
      <form [formGroup]="passwordForm" class="form">
        <mss-input formControlName="oldPassword" class="input" type="password" [(value)]="oldPassword"
                   [label]="'settings.oldPassword' | translate"
                   [placeholder]="' '">
        </mss-input>
        <mss-input formControlName="newPassword" class="input" type="password" [(value)]="newPassword"
                   [label]="'settings.newPassword' | translate"
                   [placeholder]="' '">
        </mss-input>
        <mss-input formControlName="newPasswordConfirmation" class="input" type="password" [(value)]="newPasswordConfirmation"
                   [label]="'settings.confirmPassword' | translate" [placeholder]="' '">
        </mss-input>
        <div class="button-container">
          <mss-button class="mss-action-button save" [label]="'basic.save' | translate" (click)="updatePassword()"></mss-button>

        </div>
      </form>
    </div>
    <mss-select [options]="languages" [selectedOption]="selectedLanguage" [label]="'Jazyk'" [labelPosition]="'top'"
                (selectedOptionChange)="selectLanguage($event)"></mss-select>
  </div>
</div>


