@import 'theme';

.button-container {
  display: flex;
  justify-content: flex-end;
}

.content {
  margin-top: 30px;
  width: 100%;

  &.flex {
    display: flex;
  }

  .column {
    flex-grow: 1;
    min-width: 300px;

    &:first-child {
      margin-right: 30px;
    }

    &:last-child {
      margin-left: 30px;
    }
  }
}

.form-item {
  max-width: $default-input-width;
}
