<div class="mss-view-container">
  <div class="mss-header-row">
    <span class="mss-title">{{'settings.title' | translate}}</span>
  </div>

  <mss-tabs class="tabs" [items]="sections" (itemChanged)="visibleSection = $event"></mss-tabs>

  <div class="content" *ngIf="profile && visibleSection.value === 'USER'">
    <mss-user-detail class="content-item"></mss-user-detail>
  </div>

  <form [formGroup]="passwordForm" *ngIf="profile && visibleSection.value === 'PASSWORD'">
    <div class="content flex">
      <div class="column">
        <mss-input formControlName="oldPassword" type="password"
                   [label]="'settings.oldPassword' | translate">
        </mss-input>
      </div>

      <div class="column">
        <mss-input formControlName="newPassword" type="password"
                   [label]="'settings.newPassword' | translate">
        </mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="newPasswordConfirmation" type="password"
                   [label]="'settings.confirmPassword' | translate">
        </mss-input>
        <div class="mss-validation-label"></div>
      </div>
    </div>
    <div class="button-container">
      <mss-button class="mss-action-button save" [label]="'basic.save' | translate" (click)="updatePassword()"></mss-button>
    </div>
  </form>

  <div class="content" *ngIf="visibleSection.value === 'PAGE'">
    <div class="column">
      <mss-select [options]="languages" [selectedOption]="selectedLanguage" [label]="'Jazyk'" [labelPosition]="'top'"
                  (selectedOptionChange)="selectLanguage($event)"></mss-select>
    </div>
    <div class="column"></div>
  </div>

  <div class="content" *ngIf="visibleSection.value === 'ISSUER' && profile">
    <mss-issuer-detail [issuerId]="profile.resourceId"></mss-issuer-detail>
  </div>

  <div class="content" *ngIf="visibleSection.value === 'CARD_GROUP' && profile">
    <mss-card-group-detail [cardGroupId]="profile.resourceId"></mss-card-group-detail>
  </div>

  <div class="content" *ngIf="visibleSection.value === 'NETWORK' && profile">
    <mss-acquirer-detail [acquirerCode]="profile.resourceAcquirerId"></mss-acquirer-detail>
  </div>

  <div class="content" *ngIf="visibleSection.value === 'MERCHANT' && profile">
    <mss-merchants-detail [merchantId]="profile.resourceAcquirerId"></mss-merchants-detail>
  </div>

  <div class="content" *ngIf="visibleSection.value === 'ORG_UNIT' && profile">
    <mss-org-unit-detail [orgUnitId]="profile.resourceAcquirerId"></mss-org-unit-detail>
  </div>
</div>


