@import 'theme';

.mss-action-button {
  &.shifted {
    margin-left: 50px;
  }
}

.row {
  display: flex;

  &.wrapped {
    flex-wrap: wrap;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.content {
  margin: 25px 0 20px 0;
  display: flex;

  .filter-item {
    margin-right: 60px;
    margin-bottom: 15px;
    width: $default-input-width;

    .label {
      width: $default-label-width;
    }

    .calendar-input {
      width: $default-input-width-label-top;
    }
  }
}

.calendar-select {
  @include default-component-label;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-margin {
  margin-top: 20px;
}
