@import 'theme';

$filter-item-width: 500px;
$calendar-text-color: #747474;
$date-label-width: 136px;

.mss-action-button {
  &.shifted {
    margin-left: 50px;
  }
}

.row {
  display: flex;

  &.wrapped {
    flex-wrap: wrap;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.content {
  margin: 25px 0 20px 0;
  display: flex;

  .filter-item {
    margin-right: 60px;
    margin-bottom: 15px;
    width: $filter-item-width;

    .label {
      width: $date-label-width;
    }
  }
}

.calendar-select {
  @include default-component-label;

  display: flex;
  align-items: center;
  color: $calendar-text-color;
}

.top-margin {
  margin-top: 20px;
}
