@import 'theme';

.mss-action-button {
  &.shifted {
    margin-left: 50px;
  }
}

.row {
  display: flex;

  &.wrapped {
    flex-wrap: wrap;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.content {
  margin: 25px 0 20px 0;
  display: flex;

  .label {
    @include default-component-label;

    width: $default-label-width;
  }
}

.calendar-select {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .calendar-input {
    width: $default-input-width-label-top;
  }
}

.top-margin {
  margin-top: 20px;
}
