@import 'theme';

$header-text-color: $secondary-color;
$button-width: 200px;
$form-item-width: 400px;

.card-groups-container {
  padding: 40px 50px;

  .header {
    color: $header-text-color;
    font-size: 36px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  .button {
    height: 43px;
  }
}

.filter {
  .select-row {
    display: flex;
    justify-content: space-between;
  }

  .button {
    width: $button-width;
  }

  .filter-item {
    margin-bottom: 10px;
    width: 500px;
  }
}

.content {
  .tabs {
    margin-bottom: 30px;
  }

  .section {
    display: none;

    .column {
      &:first-child {
        margin-right: 30px;
      }

      &:last-child {
        margin-left: 30px;
      }

      .form-item {
        width: $form-item-width;
      }
    }

    &.visible {
      display: flex;
    }
  }

  .submit-button {
    float: right;
    width: $button-width;
    margin-top: 30px;
  }
}