<div class="card-groups-container">
  <div class="mss-header-row">
    <span class="mss-title">{{'cardGroups.title' | translate}}</span>
    <mss-button class="mss-action-button" (click)="goToCreate()" [label]="'cardGroups.addCardGroup' | translate"
                *mssRoleIf="'cardGroups.create'">
    </mss-button>
  </div>

  <div class="row">
    <form class="column right-padding-tabs" [formGroup]="filterForm" (ngSubmit)="getCardGroups()">
      <mss-tabs *ngIf="issuerTab" class="tabs" [items]="filterSections" (itemChanged)="visibleSection = $event"></mss-tabs>
      <div class="content column" *ngIf="visibleSection.value ===  cardFilterSection[0]">
        <div class="row wrapped">
          <div class="tab-content">
            <mss-input [label]="'cardGroups.name' | translate" formControlName="name" class="form-item"></mss-input>
          </div>
          <div class="tab-content">
            <mss-input [label]="'basic.id' | translate" formControlName="id" class="form-item"></mss-input>
          </div>
          <div class="tab-content">
            <mss-input [label]="'basic.ico' | translate" formControlName="ico" class="form-item"></mss-input>
          </div>
          <div class="tab-content">
            <mss-input [label]="'basic.dic' | translate" formControlName="dic" class="form-item"></mss-input>
          </div>
          <div class="tab-content">
            <mss-input [label]="'basic.city' | translate" formControlName="city" class="form-item"></mss-input>
          </div>
        </div>
      </div>
      <div class="content column" *ngIf="visibleSection.value ===  cardFilterSection[1]">
        <div class="row wrapped">
          <div class="column">
            <mss-select [options]="issuerCodes" *mssRoleIf="'cardGroups.issuerCodeSelect'"
                        formControlName="issuerCode"
                        [label]="'dictionary.issuerCode' | translate"
                        (selectedOptionChange)="issuerSelect($event)"
                        class="form-item"></mss-select>
          </div>
          <div class="column">
            <mss-select [options]="cardGroupCodes" *mssRoleIf="'cardGroups.cardGroupCodeSelect'"
                        formControlName="cardGroupCode"
                        [label]="'dictionary.cardGroupCode' | translate"
                        class="form-item"></mss-select>
          </div>
        </div>
        <div class="row wrapped">
        </div>
      </div>
      <div class="mss-action-button">
        <mss-button [label]="'basic.search' | translate" type="submit"></mss-button>
      </div>
    </form>
    <mss-button class="mss-action-button" type="button" (click)="clearFilter()" [label]="'basic.clearFilter' | translate"></mss-button>
  </div>

  <div *ngIf="rows" class="data-table-container">
    <ngx-datatable #table [externalPaging]="true" [loadingIndicator]="loading" [count]="tableData ? tableData.totalElements : 0 "
                   [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                   (activate)="goToDetail($event)"
                   [externalSorting]="true"
                   (sort)="getSortedCardGroups($event)"
                   [limit]="requestModel.pagination.number" [rows]="rows" (page)="setPage($event)">
      <ngx-datatable-column [name]="'basic.name' | translate" prop="name" [sortable]="false"></ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.code' | translate" prop="code" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.ico' | translate" prop="ico" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.dic' | translate" prop="dic" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.state' | translate" prop="state" [sortable]="false"></ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.specificSymbol' | translate" prop="specificSymbol" [sortable]="true"></ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-curPage="curPage">
          <mss-table-footer
            [page]="curPage"
            [rowsShown]="pageSize"
            [rowCount]="rowCount"
            (rowsShownChange)="changeLimit($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>

