@import 'theme';

.row {
  display: flex;

  &.wrapped {
    flex-wrap: wrap;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.right-padding-tabs {
  padding-right: 50px;
}

.content {
  padding: 40px 0 20px 0;
}

.add-card-group-modal-content {
  .tabs {
    margin-bottom: 30px;
  }

  .section {
    display: none;

    .column {
      &:first-child {
        margin-right: 30px;
      }

      &:last-child {
        margin-left: 30px;
      }
    }

    &.visible {
      display: flex;
    }
  }
}
