@import 'theme';

$form-item-width: 400px;

.card-groups-container {
  padding: 40px 50px;
}

.filter {
  .select-row {
    display: flex;
    justify-content: space-between;
  }

  .filter-item {
    margin-bottom: 10px;
    width: 500px;
  }
}

.content {
  .tabs {
    margin-bottom: 30px;
  }

  .section {
    display: none;

    .column {
      &:first-child {
        margin-right: 30px;
      }

      &:last-child {
        margin-left: 30px;
      }

      .form-item {
        width: $form-item-width;
      }
    }

    &.visible {
      display: flex;
    }
  }
}
