<div class="mss-view-container">
  <div class="mss-header-row">
    <div class="mss-title" *ngIf="paymentTopup != null">{{'paymentTopups.detail.title' | translate}} - {{paymentTopup.uuid}}</div>
    <ng-container *mssRoleIf="'paymentTopups.edit'">
      <mss-button [label]="'paymentTopups.detail.process' | translate"
                  (click)="processPayment()"
                  *ngIf="paymentTopup?.state === 'NEW'">
      </mss-button>
    </ng-container>
  </div>

  <div class="payment-topups-detail-content" *ngIf="!isEditing && paymentTopup">
    <div class="content-column">
      <div class="mss-input-like-container">
        <div class="label">{{'dictionary.uuid' | translate}}</div>
        <div class="value">{{paymentTopup.uuid}}</div>
      </div>
      <div class="mss-input-like-container">
        <div class="label">{{'dictionary.amount' | translate}}</div>
        <div class="value">{{paymentTopup.amount}}</div>
      </div>
      <div class="mss-input-like-container">
        <div class="label">{{'paymentTopups.createdAt' | translate}}</div>
        <div class="value">{{getFormatedDate(paymentTopup.created)}}</div>
      </div>
      <div class="mss-input-like-container">
        <div class="label">{{'paymentTopups.changedAt' | translate}}</div>
        <div class="value">{{getFormatedDate(paymentTopup.changed)}}</div>
      </div>
      <div class="mss-input-like-container">
        <div class="label">{{'paymentTopups.settlementDate' | translate}}</div>
        <div class="value">{{getFormatedDate(paymentTopup.settlemntDate)}}</div>
      </div>
    </div>
    <div class="content-column">
      <div class="mss-input-like-container">
        <div class="label">{{'dictionary.variableSymbol' | translate}}</div>
        <div class="value">{{paymentTopup.variableSymbol}}</div>
      </div>
      <div class="mss-input-like-container">
        <div class="label">{{'dictionary.specificSymbol' | translate}}</div>
        <div class="value">{{paymentTopup.specificSymbol}}</div>
      </div>
      <div class="mss-input-like-container">
        <div class="label">{{'basic.state' | translate}}</div>
        <div class="value">{{('enums.paymentsTypes.' + paymentTopup.state) | translate}}</div>
      </div>
      <div class="mss-input-like-container">
        <div class="label">{{'dictionary.issuerCode' | translate}}</div>
        <div class="value">{{paymentTopup.issuerCode}}</div>
      </div>
      <div class="mss-input-like-container">
        <div class="label">{{'dictionary.cardGroupCode' | translate}}</div>
        <div class="value">{{paymentTopup.cardGroupCode}}</div>
      </div>
    </div>
  </div>

  <div class="payment-topups-detail-content" *ngIf="isEditing" [formGroup]="paymentTopupsForm">
    <div class="content-column">
      <mss-input class="editable-item" [label]="'dictionary.variableSymbol' | translate" formControlName="variableSymbol">
      </mss-input>
      <mss-input class="editable-item" [label]="'dictionary.specificSymbol' | translate" formControlName="specificSymbol">
      </mss-input>
    </div>
    <div class="content-column">
      <mss-select *ngIf="canEditState" [label]="'basic.state' | translate" class="editable-item"
                  [options]="stateOptions" formControlName="state">
      </mss-select>
    </div>
  </div>

  <div class="mss-buttons-row" *mssRoleIf="'paymentTopups.edit'">
    <mss-button *ngIf="!isEditing" class="mss-action-button" [label]="'basic.edit' | translate"
                (click)="toggleEditing()">
    </mss-button>
    <mss-button *ngIf="isEditing" [label]="'basic.dismiss' | translate" class="mss-action-button right-margin"
                (click)="toggleEditing()">
    </mss-button>
    <mss-button *ngIf="isEditing" [label]="'basic.save' | translate" class="mss-action-button"
                (click)="updatePaymentTopup()" [disabled]="paymentTopupsForm.invalid">
    </mss-button>
  </div>
</div>