@import 'theme';

.payment-topups-detail-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .content-column {
    display: flex;
    flex-direction: column;

    width: 45%;
    min-width: 500px;

    .mss-input-like-container, .editable-item {
      margin: 6px 0;
    }
  }
}

.editable-content {
  margin: 6px 0;
}