<div class="mss-view-container">
  <div class="mss-title">{{'issuers.titleDetail' | translate}}</div>
  <div class="form-wrapper">
    <div class="mss-form-container">
      <form [formGroup]="editIssuerForm" class="edit-issuer-form">
        <div class="edit-issuer-inputs" *ngIf="isEditing">
          <div class="edit-issuer-input-side">
            <mss-input formControlName="code" [label]="('basic.code' | translate) + '*'"
                       [warn]="isPresent('code')"></mss-input>
            <div class="mss-validation-label"><span *ngIf="isPresent('code')">{{'basic.required.code' | translate}}</span></div>
            <mss-input formControlName="name" [label]="('basic.name' | translate) + '*'"
                       [warn]="isPresent('name')"></mss-input>
            <div class="mss-validation-label"><span *ngIf="isPresent('name')">{{'basic.required.name' | translate}}</span></div>
            <mss-input formControlName="contactFirstname"
                       [label]="'basic.firstName' | translate"></mss-input>
            <div class="mss-validation-label"></div>
            <mss-input formControlName="contactLastname"
                       [label]="'basic.lastName' | translate"></mss-input>
            <div class="mss-validation-label"></div>
            <mss-input formControlName="ico" [label]="'basic.ico' | translate"></mss-input>
            <div class="mss-validation-label"><span *ngIf="isPresent('ico')">{{'basic.required.ico' | translate}}</span></div>
            <mss-input formControlName="dic" [label]="'basic.dic' | translate"></mss-input>
            <div class="mss-validation-label"><span *ngIf="isPresent('dic')">{{'basic.required.dic' | translate}}</span></div>
          </div>
          <div class="edit-issuer-input-side">
            <mss-input formControlName="email" [label]="'basic.email' | translate">></mss-input>
            <div class="mss-validation-label"></div>
            <mss-input formControlName="phone" [label]="'basic.phone' | translate"></mss-input>
            <div class="mss-validation-label"><span *ngIf="editIssuerForm.get('phone').hasError('pattern')">{{'basic.required.phone' |
              translate}}</span></div>
            <mss-input formControlName="addressName" [label]="'basic.address' | translate"></mss-input>
            <div class="mss-validation-label"></div>
            <mss-input formControlName="city" [label]="'basic.city' | translate"></mss-input>
            <div class="mss-validation-label"><span *ngIf="isPresent('city')">{{'basic.required.city' | translate}}</span></div>
            <mss-input formControlName="street" [label]="'basic.street' | translate"></mss-input>
            <div class="mss-validation-label"><span *ngIf="isPresent('street')">{{'basic.required.street' | translate}}</span></div>
            <mss-input formControlName="zip" [label]="'basic.zip' | translate"></mss-input>
            <div class="mss-validation-label"><span *ngIf="isPresent('zip')">{{'basic.required.zip' | translate}}</span></div>
            <mss-select [label]="'dictionary.state' | translate" formControlName="state" [options]="stateOptions"></mss-select>
            <div class="mss-validation-label"></div>
          </div>
        </div>
        <div class="edit-issuer-inputs" *ngIf="!isEditing && issuer">
          <div class="edit-issuer-input-side">
            <div class="detail-container">
              <div class="detail-col">
                <p class="detail-row detail-title">{{'basic.code' | translate}}:</p>
                <p class="detail-row detail-title">{{'basic.name' | translate}}:</p>
                <p class="detail-row detail-title">{{'basic.firstName' | translate}}:</p>
                <p class="detail-row detail-title">{{'basic.lastName' | translate}}:</p>
                <p class="detail-row detail-title">{{'basic.ico' | translate}}:</p>
                <p class="detail-row detail-title">{{'basic.dic' | translate}}:</p>
              </div>
              <div class="detail-col">
                <p class="detail-row">{{issuer.code}} </p>
                <p class="detail-row">{{issuer.name}} </p>
                <p class="detail-row">{{issuer.contactFirstname}} </p>
                <p class="detail-row">{{issuer.contactLastname}} </p>
                <p class="detail-row">{{issuer.ico}} </p>
                <p class="detail-row">{{issuer.dic}} </p>
              </div>
            </div>
          </div>
          <div class="edit-issuer-input-side">
            <div class="detail-container">
              <div class="detail-col">
                <p class="detail-row detail-title">{{'basic.email' | translate}}:</p>
                <p class="detail-row detail-title">{{'basic.phone' | translate}}:</p>
                <p class="detail-row detail-title">{{'basic.address' | translate}}:</p>
                <p class="detail-row detail-title">{{'basic.city' | translate}}:</p>
                <p class="detail-row detail-title">{{'basic.street' | translate}}:</p>
                <p class="detail-row detail-title">{{'basic.zip' | translate}}:</p>
                <p class="detail-row detail-title">{{'dictionary.state' | translate}}:</p>
              </div>
              <div class="detail-col">
                <p class="detail-row">{{issuer.email}} </p>
                <p class="detail-row">{{issuer.phone}} </p>
                <p class="detail-row">{{issuer.addressName}} </p>
                <p class="detail-row">{{issuer.city}} </p>
                <p class="detail-row">{{issuer.street}} </p>
                <p class="detail-row">{{issuer.zip}} </p>
                <p class="detail-row">{{issuer.state}} </p>
              </div>
            </div>
          </div>
        </div>
        <div class="edit-issuer-buttons">
          <mss-button *ngIf="!isEditing" class="edit-issuer-button" [label]="'basic.edit' | translate"
                      (click)="toggleUpdateIssuer()"></mss-button>
          <mss-button *ngIf="isEditing" [label]="'basic.dismiss' | translate" class="edit-issuer-button"
                      (click)="toggleUpdateIssuer()"></mss-button>
          <mss-button *ngIf="isEditing" [label]="'basic.save' | translate" class="edit-issuer-button" (click)="updateIssuer()"
                      [disabled]="editIssuerForm.invalid"></mss-button>
        </div>
      </form>
    </div>
  </div>
</div>
