@import 'theme';

.edit-issuer-inputs {
  display: flex;
  justify-content: space-between;
}

.detail-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;

  &:first-child {
    margin-right: 30px;
  }

  &:last-child {
    margin-left: 30px;
  }

  .mss-input-like-container {
    margin-bottom: 18px;
  }
}

.tabs {
  margin-bottom: 30px;
}
