<div class="mss-view-container">
  <div class="mss-header-row">
    <span class="mss-title">{{'campaigns.list.title' | translate}}</span>
    <mss-button class="mss-action-button" [label]="'campaigns.list.addCampaign' | translate" (click)="toggleNewCampaignForm()"></mss-button>
  </div>
  <div class="data-table-container">
    <ngx-datatable #table [loadingIndicator]="loading" [columnMode]="'force'" [rows]="rows"
                   [headerHeight]="70" [footerHeight]="50" [rowHeight]="'auto'"
                   [externalPaging]="true" [limit]="rowLimit"
                   [externalSorting]="true" (sort)="getSortedCampaigns($event)"
                   [selectionType]="'single'" (select)="redirectToDetail($event)"
                   [count]="totalItems" (page)="setPage($event)">
      <ngx-datatable-column prop="name" [name]="'basic.name' | translate" [cellClass]="'mss-click-able'" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column prop="campaignName" [name]="'campaigns.dictionary.campaignName' | translate" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column prop="orderCampaign" [name]="'campaigns.dictionary.orderCampaign' | translate" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column prop="runAfterStart" [name]="'campaigns.dictionary.runAfterStart' | translate" [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.delete' | translate" [width]="70" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <div class="edit-buttons-container">
            <i (click)="showDeleteModal($event,row.name)" class="material-icons table-icon">clear</i>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.action' | translate" [width]="70" [sortable]="false" prop="running">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <div class="edit-buttons-container">
            <i (click)="toggle($event,row)" class="material-icons table-icon">{{value ? 'stop' : 'play_arrow'}}</i>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template>
          <mss-table-footer
            [page]="pageNumber"
            [rowsShown]="rowLimit"
            [rowCount]="totalItems"
            (rowsShownChange)="changeLimit($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>
<mss-modal-window [(visible)]="newCampaignModalShowing">
  <h3 class="mss-modal-title">{{'campaigns.list.addCampaign' | translate}}</h3>
  <form [formGroup]="newCampaignForm" class="new-campaign-form">
    <mss-input formControlName="name" [(value)]="newCampaign.name" [label]="('basic.name' | translate) + '*'"
               [warn]="isPresent('name')"></mss-input>
    <div class="mss-validation-label"><span *ngIf="isPresent('name')">{{'basic.required.name' | translate}}</span></div>

    <mss-input formControlName="orderCampaign" [(value)]="newCampaign.orderCampaign" type="number"
               [label]="'campaigns.dictionary.orderCampaign' | translate"></mss-input>
    <div class="mss-validation-label"></div>

    <mss-checkbox [(checked)]="newCampaign.runAfterStart" [label]="'campaigns.dictionary.runAfterStart' | translate"></mss-checkbox>
    <div class="mss-validation-label"></div>

    <mss-select [options]="campaignFactories" [(selectedOption)]="newCampaign.campaignName"
                [label]="'campaigns.dictionary.campaignName' | translate"></mss-select>
    <div class="mss-validation-label"></div>
    <div class="mss-buttons-row">
      <mss-button label="{{'basic.dismiss' | translate}}" class="mss-action-button right-margin" type="button"
                  (click)="toggleNewCampaignForm()"></mss-button>
      <mss-button label="{{'basic.add' | translate}}" class="mss-action-button" (click)="addCampaign()" type="submit"
                  [disabled]="newCampaignForm.invalid"></mss-button>
    </div>
  </form>
</mss-modal-window>
<mss-modal-window [(visible)]="warnModalVisible">
  <h3 class="mss-modal-title">{{'campaigns.list.deleteQuestion' | translate}}</h3>
  <div class="warn-buttons">
    <mss-button class="button" [label]="'basic.dismiss' | translate" (click)="warnModalVisible = false"></mss-button>
    <mss-button class="button" [label]="'basic.yes' | translate" (click)="deleteCampaign()"></mss-button>
  </div>
</mss-modal-window>
