@import 'theme';

.new-campaign-form-title {
  color: $primary-text-color;
  font-size: 25px;
  padding: 18px 24px 0 24px;
}

.new-campaign-form {
  display: flex;
  flex-direction: column;

  .new-campaign-buttons {
    display: flex;
    justify-content: space-between;

    .new-campaign-button {
      width: 45%;
    }
  }
}

.edit-buttons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
}

.table-icon {
  cursor: pointer;
}

/deep/ .datatable-body-row {
  cursor: pointer;

  &:hover {
    background-color: $data-table-hover-color;
  }
}

.warn-buttons {
  display: flex;
  justify-content: flex-end;

  .button:not(:first-child) {
    margin-left: 20px;
  }
}
