<div class="mss-view-container">
  <div class="mss-title">Moje Karta</div>
  <div class="form-wrapper">
    <div class="mss-form-container">
      <mss-input class="pin-input" type="password" label="Starý PIN:" placeholder="Zadejte aktuální PIN" [(value)]="pin.actual"></mss-input>
      <mss-input class="pin-input" type="password" label="Nový PIN:" placeholder="Zadejte nový PIN" [(value)]="pin.changed"></mss-input>
      <mss-input class="pin-input" type="password" label="Znovu nový PIN:" placeholder="Znovu zadejte nový PIN" [(value)]="pin.control"></mss-input>
      <div class="pin-button-container">
        <mss-button class="card-view-button" label="Změnit PIN"></mss-button>
      </div>
    </div>

    <div class="mss-form-container">
      <div class="card-status-container">
        <div class="card-status-label">Stav karty:
          <span class="card-status-enabled" [ngClass]="{'card-status-disabled': !cardActive}">{{cardActive ? 'Aktivní' : 'Zablokovaná'}}</span>
        </div>
        <mss-button class="card-view-button" [label]="cardActive ? 'Zablokovat kartu' : 'Reaktivovat kartu'"
                    (click)="toggleStatusChange()"></mss-button>
      </div>

      <mss-modal-window [(visible)]="cardStatusChangeVisible">
        <div class="card-modal-title">Změna stavu karty</div>
        <div *ngIf="cardActive" class="card-modal-text">Opravdu chcete zablokovat vaši kartu?</div>
        <div *ngIf="!cardActive" class="card-modal-text">Opravdu chcete reaktivovat vaši kartu?</div>
        <div class="confirmation-buttons">
          <mss-button class="confirm-button" label="Potvrdit" (click)="toggleCardStatus()"></mss-button>
          <mss-button label="Zrušit" (click)="toggleStatusChange()"></mss-button>
        </div>
      </mss-modal-window>
    </div>
  </div>

</div>
