<div class="mss-view-container">
  <div class="mss-header-row">
    <span class="mss-title">{{'cards.userCard.title' | translate}}</span>
  </div>

  <div class="form-wrapper">
    <div class="mss-form-container">
      <mss-input class="pin-input" type="password" [label]="'cards.userCard.pin.oldPin' | translate" [(value)]="pin.actual"></mss-input>
      <mss-input class="pin-input" type="password" [label]="'cards.userCard.pin.newPin' | translate" [(value)]="pin.changed"></mss-input>
      <mss-input class="pin-input" type="password" [label]="'cards.userCard.pin.confirmPin' | translate"
                 [(value)]="pin.control"></mss-input>
      <div class="pin-button-container">
        <mss-button class="mss-action-button" [label]="'cards.userCard.pin.changePin' | translate"></mss-button>
      </div>
    </div>

    <div class="mss-form-container">
      <div class="card-status-container">
        <div class="card-status-label">{{'cards.userCard.cardState.title' | translate}}:
          <span class="mss-action-button card-status-enabled" [ngClass]="{'card-status-disabled': !cardActive}">
            {{cardActive ? ('cards.userCard.cardState.ENABLED' | translate) : ('cards.userCard.cardState.DISABLED' | translate) }}
          </span>
        </div>
        <mss-button class="mss-action-button"
                    [label]="cardActive ? ('cards.userCard.deactivate' | translate) : ('cards.userCard.activate' | translate)"
                    (click)="toggleStatusChange()"></mss-button>
      </div>

      <mss-modal-window [(visible)]="cardStatusChangeVisible">
        <h3 class="mss-modal-title">{{'cards.userCard.warnModal.title' | translate}}</h3>
        <div *ngIf="cardActive" class="card-modal-text">{{'cards.userCard.warnModal.deactivate' | translate}}</div>
        <div *ngIf="!cardActive" class="card-modal-text">{{'cards.userCard.cardState.warnModal.activate' | translate}}</div>
        <div class="confirmation-buttons">
          <mss-button class="confirm-button" [label]="'basic.yes' | translate" (click)="toggleCardStatus()"></mss-button>
          <mss-button [label]="'basic.dismiss' | translate" (click)="toggleStatusChange()"></mss-button>
        </div>
      </mss-modal-window>
    </div>
  </div>

</div>
