<div *ngIf="cardData" class="mss-view-container">
  <div class="mss-header-row">
    <span class="mss-title">{{'cards.cardDetail.title' | translate}} - {{cardData.card.cardUuid}}</span>
  </div>

  <mss-tabs [items]="detailOptions" (itemChanged)="setSelectedOption($event)"></mss-tabs>

  <div class="card-detail-content" [formGroup]="cardForm">
    <div *ngIf="selectedOption === detailOptions[0]">
      <div class="category-wrapper">
        <div class="column" *ngFor="let infoColumn of basicInfo">
          <div class="mss-input-like-container card-detail-item" *ngFor="let item of infoColumn">
            <div class="label">{{item['label']}}</div>
            <div class="value">{{item['value']}}</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="selectedOption === detailOptions[1]">
      <div class="category-wrapper">
        <div class="column" *ngFor="let infoColumn of ownerInfo">
          <div class="mss-input-like-container card-detail-item" *ngFor="let item of infoColumn">
            <div class="label">{{item['label']}}</div>
            <div class="value">{{item['value']}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="data-table-container row-break" *ngIf="selectedOption === detailOptions[2] && selectedAccountData.content">
      <mss-tabs [items]="accountOptions" (itemChanged)="setSelectedAccountOption($event)" *ngIf="accountOptions.length > 0"></mss-tabs>
      <ngx-datatable #table [loadingIndicator]="loading" [rows]="selectedAccountData.content"
                     [headerHeight]="70" [footerHeight]="50" [rowHeight]="'auto'"
                     [limit]="requestModel.pagination.number" [count]="selectedAccountData ? selectedAccountData.totalElements : 0"
                     [externalSorting]="true" [externalPaging]="true"
                     (sort)="getSortedTransfers($event)" (page)="setPage($event)">
        <ngx-datatable-column [name]="'dictionary.uuid' | translate" prop="uuid" [sortable]="false"></ngx-datatable-column>
        <ngx-datatable-column [name]="'dictionary.trxUuid' | translate" prop="trxUuid"></ngx-datatable-column>
        <ngx-datatable-column [name]="'dictionary.dttm' | translate" prop="dttm" [sortable]="false"></ngx-datatable-column>
        <ngx-datatable-column [name]="'dictionary.trxDttm' | translate" prop="trxTermDttm"></ngx-datatable-column>
        <ngx-datatable-column [name]="'dictionary.amount' | translate" prop="amount"></ngx-datatable-column>
        <ngx-datatable-column [name]="'dictionary.type' | translate" prop="amount"></ngx-datatable-column>
        <ngx-datatable-column [name]="'dictionary.state' | translate" prop="state"></ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template
            ngx-datatable-footer-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-curPage="curPage">
            <mss-table-footer
              [page]="curPage"
              [rowsShown]="pageSize"
              [rowCount]="rowCount"
              (rowsShownChange)="changeLimit($event)"
              (changePage)="table.onFooterPage($event)"
              class="d-table-footer">
            </mss-table-footer>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
</div>
