@import 'theme';

.card-detail-content {
  margin: 25px 0;
}

.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  .column {
    flex-grow: 1;
    min-width: 300px;
    margin: 0 12px;

    .card-detail-item {
      margin: 6px 0;
    }
  }
}

.item {
  width: calc(50% - 15px);
  margin: 6px 0;
}

.no-account-text {
  @include default-component-label;
}
