<h1 class="showcase-title">Component Showcase</h1>
<div class="showcase-container">
  <div class="showcase-row">
    <mss-button (click)="buttonClicked()" label="Button..."></mss-button>
    <mss-button (click)="buttonClicked()" label="...with icon..." icon="assets/icons/mock_icon.svg"></mss-button>
    <mss-button (click)="buttonClicked()" label="...on right." icon="assets/icons/mock_icon.svg" iconPosition="right"></mss-button>
    <label>Clicks: {{buttonClicksCounter}}!</label>
  </div>
</div>