
.showcase-title {
  margin-left: 24px;
}

.showcase-container {
  padding: 24px;
  margin: 12px 24px;
  border-radius: 10px;
  background-color: #cccccc;
  display: flex;
  flex-direction: column;

  .showcase-row {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    border-bottom: 1px dashed black;
    width: auto;
  }
}