<div class="data-table-container">
  <ngx-datatable #table [columns]="columns" [loadingIndicator]="false"
                 [columnMode]="'force'" [headerHeight]="70" [footerHeight]="50" [rowHeight]="'auto'" [limit]="rowLimit" [rows]="rows">
    <ngx-datatable-column name="Name"></ngx-datatable-column>
    <ngx-datatable-column name="Company"></ngx-datatable-column>
    <ngx-datatable-column name="Gender" [cellClass]="getCellClass"></ngx-datatable-column>
  </ngx-datatable>
  <div class="datatable-select">
    <span class="select-text">Položek na stránku</span>
    <mss-select [options]="rowLimitOptions" [selectedOption]="rowLimit" (selectedOptionChange)="changeLimit($event)">
    </mss-select>
  </div>
</div>
