@import 'theme';

$blocks-bottom-margin: 30px;

.button {
  height: 43px;
  width: 230px;
}

.tabs-row {
  display: flex;
  justify-content: space-between;

  .column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.content {
  display: flex;
  flex-direction: column;

  .tabs-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .button {
      float: right;
      margin-top: $blocks-bottom-margin;
    }

    .tabs {
      margin-bottom: $blocks-bottom-margin;
    }

    .tab-content {
      display: flex;

      .values {
        display: flex;
        flex-grow: 1;
      }

      .tab-item {
        margin-bottom: 18px;
      }

      .column {
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        flex-direction: column;

        &:first-child:not(:last-child) {
          margin-right: 30px;
        }

        &:last-child:not(:first-child) {
          margin-left: 30px;
        }
      }
    }
  }
}

.typeSelect {
  margin-bottom: 15px;
  max-width: $default-input-width;
}

.invisible {
  height: $input-height;
  width: $input-width;
  padding: 13px 21px;
}
