<div class="mss-view-container">
  <div class="mss-header row">
    <div class="mss-title">{{'topupsSchedule.detail.title' | translate}}</div>
  </div>

  <div class="content" *ngIf="scheduleDetail">
    <div class="content-column">
      <div class="mss-input-like-container">
        <div class="label">{{'topupsSchedule.dictionary.filename' | translate}}</div>
        <div class="value">{{scheduleDetail.filename}}</div>
      </div>
      <div class="mss-input-like-container" *mssRoleIf="'createEdit.issuerCodeSelect'">
        <div class="label">{{'dictionary.issuerCode' | translate}}</div>
        <div class="value">{{scheduleDetail.issuerCode}}</div>
      </div>
      <div class="mss-input-like-container" *mssRoleIf="'createEdit.cardGroupCodeSelect'">
        <div class="label">{{'topupsSchedule.dictionary.cardGroupName' | translate}}</div>
        <div class="value">{{scheduleDetail.cardGroupName}}</div>
      </div>
      <div class="mss-input-like-container">
        <div class="label">{{'basic.state' | translate}}</div>
        <div class="value">{{scheduleDetail.state}}</div>
      </div>
    </div>
    <div class="content-column">
      <div class="mss-input-like-container">
        <div class="label">{{'dictionary.specificSymbol' | translate}}</div>
        <div class="value">{{scheduleDetail.specificSymbol}}</div>
      </div>
      <div class="mss-input-like-container">
        <div class="label">{{'dictionary.variableSymbol' | translate}}</div>
        <div class="value">{{scheduleDetail.variableSymbol}}</div>
      </div>
      <div class="mss-input-like-container">
        <div class="label">{{'dictionary.amount' | translate}}</div>
        <div class="value">{{scheduleDetail.amountAll | currency:scheduleDetail['currency']['code']:true:'1.' +
          scheduleDetail['currency']['digits']}}
        </div>
      </div>
    </div>
  </div>

  <div class="mss-title">{{'topupsSchedule.detail.secondTitle' | translate}}</div>
  <!-- DATA TABLE-->
  <div class="data-table-container">
    <ngx-datatable #table [loadingIndicator]="itemLoading" [rows]="tableData?.content ? tableData.content : []" [columnMode]="'force'"
                   [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                   [limit]="requestModel.pagination.number" [count]="tableData ? tableData.totalElements : 0"
                   [externalSorting]="true" [externalPaging]="true"
                   (sort)="getSortedTopupsScheduleItems($event)"
                   (page)="setPage($event)">
      <ngx-datatable-column prop="login" [name]="'basic.login' | translate"
                            [sortable]="true" [width]="100">
      </ngx-datatable-column>
      <ngx-datatable-column prop="filename" [name]="'topupsSchedule.dictionary.filename' | translate"
                            [sortable]="true" [width]="100">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <span [title]="value" class="mss-limited-text">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="amount" [name]="'dictionary.amount' | translate" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <div>{{value | currency:row['currency']['code']:true:'1.' + row['currency']['digits']}}</div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template>
          <mss-table-footer
            [page]=" pageNumber"
            [rowsShown]="rowLimit"
            [rowCount]="totalItems"
            (rowsShownChange)="changeLimit($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>

</div>