<div *ngIf="show" class="select-overlay" (click)="switchDropdown(); touched()"></div>
<div class="select-container" [ngClass]="{'left': labelPosition === 'left', 'top': labelPosition === 'top'}">
  <div class="select-label" [ngClass]="{'left': labelPosition === 'left', 'top': labelPosition === 'top'}" *ngIf="label">{{label}}</div>
  <div class="select-inner-container">
    <button (click)="switchDropdown()" [ngClass]="{'disabled': disabled, 'select-button-small': variant === 'small'}" [disabled]="disabled"
            type="button" class="select-button">
      <span>{{selectedOptionLabel}}</span>
      <div class="select-action-container">
        <img class="arrow" [ngClass]="{'rotate': show}" src="assets/icons/select-arrow.svg">
        <div *ngIf="clearAble" (click)="clearInput($event)" class="clear-container">
          <div class="clear">+</div>
        </div>
      </div>
    </button>
    <div *ngIf="options && options.length > 0" [ngClass]="{'show': show}" class="select-content">
      <a class="option" *ngFor="let item of options" (click)="selectOption(item.value)">{{item.label ? item.label : item.value}}</a>
    </div>
  </div>
</div>
