<div class="mss-view-container">
  <div class="mss-header-row">
    <div class="mss-title">{{'upload.title' | translate}}</div>
  </div>

  <div class="upload-form-container">
    <mss-select [label]="'upload.importCodeSelect' | translate" [options]="importCodes" [selectedOption]="selectedCode"
                (selectedOptionChange)="selectCode($event)" class="mss-filter-item"></mss-select>
    <mss-upload-input [label]="'upload.uploadFile' | translate" (file)="fileChange($event)"
                      [type]="'input'" *ngIf="enableUpload" class="mss-filter-item">
    </mss-upload-input>
    <mss-button [label]="'upload.confirm' | translate" *ngIf="enableConfirm" (click)="uploadFile()" class="mss-action-button"></mss-button>
  </div>
</div>