<div class="sequences-wrapper mss-view-container">
  <div class="mss-header-row">
    <span class="mss-title">{{'sequences.title' | translate}}</span>
    <mss-button class="mss-action-button" [label]="'sequences.addSequence' | translate"
                (click)="redirectToSequenceCreation()" *mssRoleIf="'terminals.create'">
    </mss-button>
  </div>
  <div class="data-table-container">
    <ngx-datatable (activate)="redirectToDetail($event)" #table [loadingIndicator]="loading"
                   [columnMode]="'force'" [headerHeight]="70" [footerHeight]="50"
                   [rowHeight]="'auto'" [limit]="rowLimit" [rows]="sequenceRows">
      <ngx-datatable-column [name]="'sequences.dictionary.resource' | translate" prop="resource">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{'enums.resources.' + value | translate}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'sequences.dictionary.resourceId' | translate" prop="resourceId"></ngx-datatable-column>
      <ngx-datatable-column [name]="'sequences.dictionary.type' | translate" prop="type">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{'enums.sequenceTypes.' + value | translate}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'sequences.dictionary.order' | translate" prop="order">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'sequences.dictionary.template' | translate" prop="template">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.delete' | translate" [maxWidth]="100">
        <ng-template ngx-datatable-cell-template let-row="row">
          <i (click)="showDeleteModal(row, $event)" class="material-icons click-able">clear</i>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-curPage="curPage">
          <mss-table-footer
            [page]="curPage"
            [rowsShown]="pageSize"
            [rowCount]="rowCount"
            (rowsShownChange)="changeLimit($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>
<mss-modal-window [(visible)]="warnModalVisible">
  <h3 class="mss-modal-title">{{'sequences.deleteSequenceConfirmation' | translate}}</h3>
  <div class="warn-buttons">
    <mss-button class="button" (click)="toggleWarnModal()" label="Zavřít"></mss-button>
    <mss-button class="button" (click)="deleteRow()" label="Ano"></mss-button>
  </div>
</mss-modal-window>
