<div class="mss-view-container">
  <div class="mss-header-row">
    <div class="mss-title" *ngIf="mode !== ComponentMode.Create">{{'imports.detail.title' | translate}} - {{importName}}</div>
    <div class="mss-title" *ngIf="mode === ComponentMode.Create">{{'imports.list.addImport' | translate}}</div>
    <div class="mss-buttons-row" *ngIf="mode !== ComponentMode.Create">
      <mss-button class="mss-action-button right-margin" *ngIf="importDetail"
                  [label]="importDetail.running ?  ('basic.deactivate' | translate) : ('basic.activate' | translate)"
                  (click)="toggleImport()"></mss-button>
      <mss-button class="mss-action-button" (click)="modalVisible = true"
                  [label]="'basic.delete' | translate"></mss-button>
    </div>
  </div>

  <form [formGroup]="importEditForm" (ngSubmit)="handleImportSubmit()" *ngIf="mode === ComponentMode.Create || importDetail">
    <div class="content">
      <div class="column">
        <mss-input *ngIf="mode !== ComponentMode.View" class="item" [label]="'basic.name' | translate" formControlName="name"></mss-input>
        <div *ngIf="mode === ComponentMode.View" class="mss-input-like-container item">
          <div class="label">{{'basic.name' | translate}}</div>
          <div class="value">{{importDetail.name}}</div>
        </div>
        <mss-input *ngIf="mode !== ComponentMode.View" class="item" formControlName="nameRead"
                   [label]="'imports.dictionary.nameRead' | translate"></mss-input>
        <div *ngIf="mode === ComponentMode.View" class="mss-input-like-container item">
          <div class="label">{{'imports.dictionary.nameRead' | translate}}</div>
          <div class="value">{{importDetail.nameRead}}</div>
        </div>
      </div>
      <div class="column">
        <mss-select *ngIf="mode !== ComponentMode.View" class="item" [options]="importTypes" [label]="'imports.dictionary.type' | translate"
                    formControlName="type"></mss-select>
        <div *ngIf="mode === ComponentMode.View" class="mss-input-like-container item">
          <div class="label">{{'imports.dictionary.type' | translate}}</div>
          <div class="value">{{'enums.importTypes.' + importDetail.type | translate}}</div>
        </div>
        <mss-toggle *ngIf="mode !== ComponentMode.View" [label]="'imports.dictionary.runAfterStart' | translate"
                    formControlName="runAfterStart"></mss-toggle>
        <div *ngIf="mode === ComponentMode.View" class="mss-input-like-container item">
          <div class="label">{{'imports.dictionary.runAfterStart' | translate}}</div>
          <div class="value">{{importDetail.runAfterStart ? ('basic.yes' | translate) : ('basic.no' | translate)}}</div>
        </div>
      </div>
    </div>
    <div class="mss-buttons-row">
      <mss-button [label]="'basic.edit' | translate" *ngIf="mode === ComponentMode.View" type="button" (click)="startEditing()"
                  class="mss-action-button"></mss-button>
      <mss-button [label]="'basic.dismiss' | translate" *ngIf="mode === ComponentMode.Edit" type="button" (click)="cancelEditing()"
                  class="mss-action-button right-margin"></mss-button>
      <mss-button [label]="'basic.dismiss' | translate" *ngIf="mode === ComponentMode.Create" type="button" (click)="goToList()"
                  class="mss-action-button right-margin"></mss-button>
      <mss-button [label]="'basic.save' | translate" *ngIf="mode === ComponentMode.Edit" type="submit" [disabled]="importEditForm.invalid"
                  class="mss-action-button"></mss-button>
      <mss-button [label]="'basic.add' | translate" *ngIf="mode === ComponentMode.Create" type="submit" [disabled]="importEditForm.invalid"
                  class="mss-action-button"></mss-button>
    </div>
  </form>

  <!-- Properties -->
  <div class="properties" *ngIf="mode !== ComponentMode.Create">
    <div class="mss-header-row">
      <div class="mss-title">{{'imports.dictionary.properties' | translate}}</div>
      <mss-button class="mss-action-button" (click)="toggleProperties()"
                  [label]="editingProperties ? ('basic.preview' | translate) : ('basic.edit' | translate)"></mss-button>
    </div>
    <div class="content" *ngIf="!editingProperties">
      <div class="column " *ngIf="properties.length === 0">{{'imports.detail.noProperty' | translate}}
      </div>
      <div class="column" *ngIf="properties.length > 0">
        <div class="mss-input-like-container item" *ngFor="let property of properties">
          <div class="label">{{property.pk.key}}</div>
          <div class="value">{{property.value}}</div>
        </div>
      </div>
      <div class="column"></div>
    </div>
    <form novalidate *ngIf="editingProperties && propertyForm" [formGroup]="propertyForm" (ngSubmit)="updateProperties()">
      <div class="content">
        <div class="column" *ngIf="propertyForm.value.length === 0">
          {{'imports.detail.noDefaultProperty' | translate}}
        </div>
        <div class="column" *ngIf="propertyForm.value.length > 0">
          <div *ngFor="let property of propertyForm.value; let i = index; trackBy: identifyProperty" [formGroupName]="i" class="item">
            <mss-input *ngIf="property.type === 'STRING'" [placeholder]="property.placeholder"
                       [label]="property.key + (property.required ? '*' : '')" formControlName="value"></mss-input>
            <mss-input *ngIf="property.type === 'NUMBER'" [placeholder]="property.placeholder" [type]="number"
                       [label]="property.key + (property.required ? '*' : '')" formControlName="value"></mss-input>
            <mss-toggle *ngIf="property.type === 'BOOLEAN'" [label]="property.key + (property.required ? '*' : '')"
                        formControlName="value"></mss-toggle>
            <mss-select *ngIf="property.data" [showName]="property.placeholder" [label]="property.key + (property.required ? '*' : '')"
                        formControlName="value" [options]="property.data"></mss-select>
          </div>
        </div>
        <div class="column"></div>
      </div>
      <div class="button-container">
        <mss-button *ngIf="propertyForm.value.length > 0" [disabled]="propertyForm.invalid" class="mss-action-button"
                    [label]="'basic.save' | translate"></mss-button>
      </div>
    </form>
  </div>
</div>

<mss-modal-window [(visible)]="modalVisible">
  <h3 class="mss-modal-title">
    {{'imports.list.deleteQuestion' | translate}}
  </h3>
  <div class="button-container">
    <mss-button class="mss-action-button right-margin" [label]="'basic.dismiss' | translate" (click)="modalVisible = false"></mss-button>
    <mss-button class="mss-action-button" [label]="'basic.yes' | translate" (click)="deleteImport()"></mss-button>
  </div>
</mss-modal-window>
