<div class="login-wrapper">
  <div class="login-container">
    <form [formGroup]="loginForm" class="login-form">
      <img class="logo" src="assets/mock/shrek.png">
      <mss-input formControlName="email" class="input" [(value)]="email" [placeholder]="'Váš email'"></mss-input>
      <span *ngIf="loginForm.invalid && loginForm.touched">You're doomed</span>
      <mss-input formControlName="password" class="input" [(value)]="password" [placeholder]="'Heslo'"></mss-input>
      <mss-button label="PŘIHLÁSIT SE"></mss-button>
    </form>
  </div>
</div>
