$login-background-color: #ffffff;
$form-padding: 50px;

.login-wrapper {
  background: url('../../assets/images/background.jpg') center center;
  background-size: cover;
}

.login-container {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  background-color: $login-background-color;
  padding: $form-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
  margin-bottom: 50px;
}

.input {
  margin-bottom: 30px;
  width: 450px;
}

.login-button {
  width: 450px;
  height: 66px;
}
