<div *ngIf="user" class="mss-view-container">
  <div class="mss-title title">{{'users.detail.title' | translate}} - {{user.id}}</div>

  <mss-tabs [items]="detailOptions" (itemChanged)="setSelectedOption($event)"></mss-tabs>

  <div class="user-detail-content" [formGroup]="userForm">
    <div *ngIf="selectedOption === detailOptions[0]">
      <div class="category-wrapper">
        <div class="column" *ngFor="let infoColumn of basicInfo">
          <div *ngIf="!editing">
            <div class="mss-input-like-container user-detail-item" *ngFor="let item of infoColumn">
              <div class="label">{{item['label']}}</div>
              <div class="value">{{item['value']}}</div>
            </div>
          </div>
          <div *ngIf="editing">
            <div class="user-detail-item" *ngFor="let item of infoColumn">
              <mss-input
                *ngIf="item['type'] == null"
                [label]="item['label']"
                [formControlName]="item['formName']">
              </mss-input>
              <mss-select
                *ngIf="item['type'] === 'select'"
                [options]="stateOptions" [label]="item['label']"
                [formControlName]="item['formName']">
              </mss-select>
              <mss-toggle
                *ngIf="item['type'] === 'toggle'"
                [label]="item['label']"
                [formControlName]="item['formName']">
              </mss-toggle>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="selectedOption === detailOptions[1]">
      <div class="category-wrapper">
        <div class="column" *ngFor="let infoColumn of personalInfo">
          <div *ngIf="!editing">
            <div class="mss-input-like-container user-detail-item" *ngFor="let item of infoColumn">
              <div class="label">{{item['label']}}</div>
              <div class="value">{{item['value']}}</div>
            </div>
          </div>

          <div *ngIf="editing">
            <div class="user-detail-item" *ngFor="let item of infoColumn">
              <mss-input [label]="item['label']" [formControlName]="item['formName']"></mss-input>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div *ngIf="selectedOption === detailOptions[2]">
      <ngx-datatable #table *ngIf="roleInfo" [rows]="roleInfo"
                     [headerHeight]="60" [footerHeight]="50"
                     [columnMode]="'force'" [rowHeight]="'auto'">
        <ngx-datatable-column [name]="'users.detail.authorities' | translate" prop="authorities"></ngx-datatable-column>
        <ngx-datatable-column [name]="'users.detail.resource' | translate" prop="resource" [maxWidth]="200"></ngx-datatable-column>
        <ngx-datatable-column [name]="'users.detail.resourceId' | translate" prop="resourceId" [maxWidth]="200"></ngx-datatable-column>
      </ngx-datatable>
    </div>

    <div *ngIf="selectedOption === detailOptions[3]">
      Cards placeholder
    </div>

    <div *mssRoleIf="'users.edit'">
      <div class="edit-buttons-container" *ngIf="selectedOption === detailOptions[0] || selectedOption === detailOptions[1]">
        <mss-button [label]="'basic.edit' | translate" *ngIf="!editing" (click)="startEditing()" class="edit-button"></mss-button>
        <mss-button [label]="'basic.save' | translate" *ngIf="editing" (click)="submitEdit()" class="edit-button"></mss-button>
        <mss-button [label]="'basic.dismiss' | translate" *ngIf="editing" (click)="cancelEditing()" class="edit-button"></mss-button>
      </div>
    </div>
  </div>
</div>
