.content {
  margin-bottom: 30px;

  .tabs {
    margin-bottom: 30px;
  }

  .section {
    display: flex;
    flex-wrap: wrap;

    .column {
      flex-grow: 1;
      flex-basis: 0;

      &:first-child {
        margin-right: 30px;
      }

      &:last-child {
        margin-left: 30px;
      }
    }

    &.submit-button {
      display: flex;
      justify-content: flex-end;
    }

    &.column {
      flex-direction: column;
    }
  }
}

.icon {
  cursor: pointer;
}
