<div [ngClass]="{'mss-view-container': completeView}">
  <div class="mss-header-row" *ngIf="completeView">
    <span class="mss-title"
          *ngIf="mode === Mode.Create">
      {{'acquirers.list.addAcquirer' | translate}}
    </span>
    <span class="mss-title"
          *ngIf="acquirerData && mode !== Mode.Create">
      {{'acquirers.detail.title' | translate}} - {{acquirerData.name}}
    </span>
    <mss-button *ngIf="mode !== Mode.Create" class="mss-action-button" [label]="'basic.delete' | translate"
                (click)="deleteModalVisible = true"></mss-button>
  </div>

  <!--ADMIN VIEW-->
  <div class="content" *mssRoleIf="'admin.view'">
    <div class="tabs">
      <mss-tabs [items]="tabsOptions" (itemChanged)="visibleTab = $event"></mss-tabs>
    </div>
    <form [formGroup]="acquirerForm" novalidate (ngSubmit)="editAcquirer()" *ngIf="mode === Mode.Edit || mode === Mode.Create">
      <div class="section" [ngClass]="{'visible': visibleTab.value === AcquirerSections.BASIC}">
        <div class="column">
          <div class="form-item">
            <mss-input [label]="('basic.name' | translate) + '*'" formControlName="name" [warn]="isInvalid('name')"></mss-input>
            <div class="mss-validation-label">
              <span *ngIf="isInvalid('name')">{{'basic.required.name' | translate}}</span>
            </div>
          </div>
          <div class="form-item">
            <mss-input [label]="('basic.code' | translate) + '*'" formControlName="code" [warn]="isInvalid('code')"></mss-input>
            <div class="mss-validation-label">
              <span *ngIf="isInvalid('code')">{{'basic.required.code' | translate}}</span>
            </div>
          </div>
          <div class="form-item">
            <mss-input [label]="('acquirers.dictionary.acquiringInstitutionCode' | translate) + '*'"
                       [warn]="isInvalid('acquiringInstitutionCode')" formControlName="acquiringInstitutionCode"></mss-input>
            <div class="mss-validation-label">
              <span *ngIf="isInvalid('acquiringInstitutionCode')">
                {{'acquirers.dictionary.required.acquiringInstitutionCode' | translate}}
              </span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="form-item">
            <mss-input [label]="('acquirers.dictionary.hsmKeyName' | translate) + '*'" formControlName="hsmKeyName"
                       [warn]="isInvalid('hsmKeyName')"></mss-input>
            <div class="mss-validation-label">
              <span *ngIf="isInvalid('hsmKeyName')">{{'acquirers.dictionary.required.hsmKeyName' | translate}}</span>
            </div>
          </div>
          <div class="form-item">
            <mss-input [label]="('acquirers.dictionary.hsmTransitKeyName' | translate) + '*'" formControlName="hsmTransitKeyName"
                       [warn]="isInvalid('hsmTransitKeyName')"></mss-input>
            <div class="mss-validation-label">
              <span *ngIf="isInvalid('hsmTransitKeyName')">{{'acquirers.dictionary.required.hsmTransitKeyName' | translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="section" [ngClass]="{'visible': visibleTab.value === AcquirerSections.ADDRESS}">
        <div class="column">
          <div class="form-item">
            <mss-select [label]="'basic.country' | translate" [options]="countries" formControlName="country"></mss-select>
            <div class="mss-validation-label">
            </div>
          </div>
          <div class="form-item">
            <mss-input [label]="'basic.region' | translate" formControlName="region"></mss-input>
            <div class="mss-validation-label">
            </div>
          </div>
          <div class="form-item">
            <mss-input [label]="'basic.city' | translate" formControlName="city"></mss-input>
            <div class="mss-validation-label">
            </div>
          </div>
        </div>
        <div class="column">
          <div class="form-item">
            <mss-input [label]="'basic.street' | translate" formControlName="street"></mss-input>
            <div class="mss-validation-label">
            </div>
          </div>
          <div class="form-item">
            <mss-input [label]="'basic.zip' | translate" formControlName="zip"></mss-input>
            <div class="mss-validation-label">
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="visibleTab.value !== AcquirerSections.KEYS">
        <div *ngIf="mode === Mode.Edit" class="mss-buttons-row">
          <mss-button class="mss-action-button right-margin" (click)="mode = Mode.View" type="button"
                      [label]="'basic.dismiss' | translate"></mss-button>
          <mss-button class="mss-action-button" [disabled]="acquirerForm.invalid" [label]="'basic.save' | translate" type="submit">
          </mss-button>
        </div>
        <div *ngIf="mode === Mode.Create" class="mss-buttons-row">
          <mss-button class="mss-action-button right-margin" (click)="cancelCreateNewAcquirer()" type="button"
                      [label]="'basic.dismiss' | translate"></mss-button>
          <mss-button class="mss-action-button" (click)="createNewAcquirer()" type="button" [disabled]="acquirerForm.invalid"
                      [label]="'basic.add' | translate"></mss-button>
        </div>
      </div>
    </form>

    <div class="section" *ngIf="mode === Mode.View && acquirerData" [ngClass]="{'visible': visibleTab.value === AcquirerSections.BASIC}">
      <div class="column">
        <div class="mss-input-like-container">
          <div class="label">{{'basic.name' | translate}}</div>
          <div class="value">{{acquirerData.name}}</div>
        </div>
        <div class="mss-validation-label"></div>
        <div class="mss-input-like-container">
          <div class="label">{{'basic.code' | translate}}</div>
          <div class="value">{{acquirerData.code}}</div>
        </div>
        <div class="mss-validation-label"></div>
        <div class="mss-input-like-container">
          <div class="label">{{'acquirers.dictionary.acquiringInstitutionCode' | translate}}</div>
          <div class="value">{{acquirerData.acquiringInstitutionCode}}</div>
        </div>
        <div class="mss-validation-label"></div>
      </div>
      <div class="column">
        <div class="mss-input-like-container">
          <div class="label">{{'acquirers.dictionary.hsmKeyName' | translate}}</div>
          <div class="value">{{acquirerData.hsmKeyName}}</div>
        </div>
        <div class="mss-validation-label"></div>
        <div class="mss-input-like-container">
          <div class="label">{{'acquirers.dictionary.hsmTransitKeyName' | translate}}</div>
          <div class="value">{{acquirerData.hsmTransitKeyName}}</div>
        </div>
        <div class="mss-validation-label"></div>

      </div>
    </div>
    <div class="section" *ngIf="mode === Mode.View && acquirerData" [ngClass]="{'visible': visibleTab.value === AcquirerSections.ADDRESS}">
      <div class="column">
        <div class="mss-input-like-container">
          <div class="label">{{'basic.country' | translate}}</div>
          <div class="value">{{acquirerData.country}}</div>
        </div>
        <div class="mss-validation-label"></div>
        <div class="mss-input-like-container">
          <div class="label">{{'basic.region' | translate}}</div>
          <div class="value">{{acquirerData.region}}</div>
        </div>
        <div class="mss-validation-label"></div>
        <div class="mss-input-like-container">
          <div class="label">{{'basic.city' | translate}}</div>
          <div class="value">{{acquirerData.city}}</div>
        </div>
        <div class="mss-validation-label"></div>
      </div>
      <div class="column">
        <div class="mss-input-like-container">
          <div class="label">{{'basic.street' | translate}}</div>
          <div class="value">{{acquirerData.street}}</div>
        </div>
        <div class="mss-validation-label"></div>
        <div class="mss-input-like-container">
          <div class="label">{{'basic.zip' | translate}}</div>
          <div class="value">{{acquirerData.zip}}</div>
        </div>
        <div class="mss-validation-label"></div>
      </div>
    </div>
    <div class="section column" [ngClass]="{'visible': visibleTab.value === AcquirerSections.KEYS}">
      <div class="mss-buttons-row">
        <mss-button class="mss-action-button" (click)="modalVisible = true" [label]="'acquirers.detail.addKey' | translate"></mss-button>
      </div>
      <div class="data-table-container">
        <ngx-datatable [columnMode]="'force'" [rows]="keyRows"
                       [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                       [selectionType]="'single'">
          <ngx-datatable-column [name]="'basic.id' | translate" prop="id" [sortable]="true"></ngx-datatable-column>
          <ngx-datatable-column [name]="'acquirers.dictionary.keyName' | translate" prop="keyName"
                                [sortable]="false"></ngx-datatable-column>
          <ngx-datatable-column [name]="'acquirers.dictionary.keyValue' | translate" prop="keyValue"
                                [sortable]="false"></ngx-datatable-column>
          <ngx-datatable-column [name]="'acquirers.dictionary.last' | translate" prop="last" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-value="value">
              {{value ? ('basic.yes' | translate) : ('basic.no' | translate)}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [name]="'basic.action' | translate" [sortable]="false" prop="last" [maxWidth]="80">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <i class="material-icons icon" *ngIf="!value" [title]="'acquirers.detail.setAsLast' | translate" (click)="setAsLast(row.id)">arrow_upward</i>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
    <div class="mss-buttons-row">
      <mss-button *ngIf="mode === Mode.View && visibleTab.value !== AcquirerSections.KEYS"
                  class="mss-action-button"
                  (click)="mode = Mode.Edit"
                  [label]="'basic.edit' | translate"></mss-button>
    </div>
  </div>
  <!--ACQUIRER VIEW-->
  <div class="content" *mssRoleIf="'networks.view'">
    <form [formGroup]="acquirerForm" novalidate (ngSubmit)="editAcquirer()" *ngIf="mode === Mode.Edit">
      <div class="section visible">
        <div class="column">
          <div class="form-item">
            <mss-input [label]="('basic.name' | translate) + '*'" formControlName="name" [warn]="isInvalid('name')"></mss-input>
            <div class="mss-validation-label">
              <span *ngIf="isInvalid('name')">{{'basic.required.name' | translate}}</span>
            </div>
          </div>
          <div class="form-item">
            <mss-input [label]="('basic.code' | translate) + '*'" formControlName="code" [warn]="isInvalid('code')"></mss-input>
            <div class="mss-validation-label">
              <span *ngIf="isInvalid('code')">{{'basic.required.code' | translate}}</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="form-item">
            <mss-select [label]="'basic.country' | translate" [options]="countries" formControlName="country"></mss-select>
            <div class="mss-validation-label">
            </div>
          </div>
          <div class="form-item">
            <mss-input [label]="'basic.region' | translate" formControlName="region"></mss-input>
            <div class="mss-validation-label">
            </div>
          </div>
          <div class="form-item">
            <mss-input [label]="'basic.city' | translate" formControlName="city"></mss-input>
            <div class="mss-validation-label">
            </div>
          </div>
          <div class="form-item">
            <mss-input [label]="'basic.street' | translate" formControlName="street"></mss-input>
            <div class="mss-validation-label">
            </div>
          </div>
          <div class="form-item">
            <mss-input [label]="'basic.zip' | translate" formControlName="zip"></mss-input>
            <div class="mss-validation-label">
            </div>
          </div>
        </div>
      </div>
      <div class="mss-buttons-row">
        <mss-button class="mss-action-button right-margin" (click)="mode = Mode.View" type="button"
                    [label]="'basic.dismiss' | translate"></mss-button>
        <mss-button class="mss-action-button" [disabled]="acquirerForm.invalid" [label]="'basic.save' | translate" type="submit">
        </mss-button>
      </div>
    </form>
    <div class="section visible" *ngIf="mode === Mode.View && acquirerData">
      <div class="column">
        <div class="mss-input-like-container">
          <div class="label">{{'basic.name' | translate}}</div>
          <div class="value">{{acquirerData.name}}</div>
        </div>
        <div class="mss-validation-label"></div>
        <div class="mss-input-like-container">
          <div class="label">{{'basic.code' | translate}}</div>
          <div class="value">{{acquirerData.code}}</div>
        </div>
        <div class="mss-validation-label"></div>
      </div>
      <div class="column">
        <div class="mss-input-like-container">
          <div class="label">{{'basic.country' | translate}}</div>
          <div class="value">{{acquirerData.country}}</div>
        </div>
        <div class="mss-validation-label"></div>
        <div class="mss-input-like-container">
          <div class="label">{{'basic.region' | translate}}</div>
          <div class="value">{{acquirerData.region}}</div>
        </div>
        <div class="mss-validation-label"></div>
        <div class="mss-input-like-container">
          <div class="label">{{'basic.city' | translate}}</div>
          <div class="value">{{acquirerData.city}}</div>
        </div>
        <div class="mss-validation-label"></div>
        <div class="mss-input-like-container">
          <div class="label">{{'basic.street' | translate}}</div>
          <div class="value">{{acquirerData.street}}</div>
        </div>
        <div class="mss-validation-label"></div>
        <div class="mss-input-like-container">
          <div class="label">{{'basic.zip' | translate}}</div>
          <div class="value">{{acquirerData.zip}}</div>
        </div>
        <div class="mss-validation-label"></div>
      </div>
    </div>
    <div class="mss-buttons-row" *mssRoleIf="'networks.edit'">
      <mss-button *ngIf="mode === Mode.View"
                  class="mss-action-button"
                  (click)="mode = Mode.Edit"
                  [label]="'basic.edit' | translate"></mss-button>
    </div>
  </div>
</div>

<mss-modal-window [(visible)]="deleteModalVisible">
  <div class="mss-view-container">
    <div class="mss-title">
      {{'acquirers.list.deleteQuestion' | translate}}
    </div>

    <div class="mss-buttons-row">
      <mss-button class="mss-action-button right-margin" (click)="deleteModalVisible = false"
                  [label]="'basic.dismiss' | translate"></mss-button>
      <mss-button class="mss-action-button" (click)="deleteAcquirer()" [label]="'basic.yes' | translate"></mss-button>
    </div>
  </div>
</mss-modal-window>

<mss-modal-window [(visible)]="modalVisible">
  <div class="mss-view-container">
    <h3 class="mss-modal-title">{{'acquirers.detail.addKey' | translate}}</h3>
    <div class="content">
      <form novalidate [formGroup]="newKeyForm" (ngSubmit)="addNewKey()">
        <mss-input [label]="'acquirers.dictionary.keyName' | translate" formControlName="keyName" [warn]="isPresentKeyName()"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresentKeyName()">{{'basic.required.keyName' | translate}}</span></div>
        <mss-input [label]="'acquirers.dictionary.keyValue' | translate" formControlName="keyValue"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-checkbox [label]="'acquirers.dictionary.last' | translate" formControlName="last"></mss-checkbox>
        <div class="mss-buttons-row">
          <mss-button class="mss-action-button right-margin" type="button" (click)="modalVisible = false"
                      [label]="'basic.dismiss' | translate"></mss-button>
          <mss-button class="mss-action-button" type="submit" [disabled]="newKeyForm.invalid"
                      [label]="'acquirers.detail.addKey' | translate"></mss-button>
        </div>
      </form>
    </div>
  </div>
</mss-modal-window>
