<div class="mss-view-container">
  <div class="mss-header-row">
    <h1 class="mss-title">{{'orgUnits.list.title' | translate}}</h1>
    <mss-button class="mss-action-button" [label]="'orgUnits.list.addOrgUnit' | translate" (click)="goToCreate()"
                *mssRoleIf="'orgUnits.create'"></mss-button>
  </div>

  <div class="row">
    <div class="column" [formGroup]="filterForm" *ngIf="visibleFilter">
      <mss-tabs class="tabs" [items]="filterOptions" (itemChanged)="visibleFilter = $event" *ngIf="showNetworkTab"></mss-tabs>

      <div class="content column" *ngIf="visibleFilter.value ===  OrgUnitFilterSections.BASIC">
        <div class="row wrapped">
          <mss-input class="mss-filter-item" formControlName="name" [label]="'basic.name' | translate"></mss-input>
          <mss-input class="mss-filter-item" formControlName="code" [label]="'basic.code' | translate"></mss-input>
        </div>
      </div>
      <div class="content column" *ngIf="visibleFilter.value ===  OrgUnitFilterSections.NETWORK">
        <div class="row wrapped" *mssRoleIf="'orgUnits.networkCodeSelect'">
          <mss-input class="mss-filter-item" formControlName="networkName" [label]="'orgUnits.dictionary.networkName' | translate"></mss-input>
          <mss-select class="mss-filter-item" formControlName="networkCode" [options]="networkCodes" [clearAble]="true"
                      [label]="'dictionary.networkCode' | translate"></mss-select>
        </div>
        <div class="row wrapped" *mssRoleIf="'orgUnits.merchantCodeSelect'">
          <mss-input class="mss-filter-item" formControlName="merchantName"
                     [label]="'orgUnits.dictionary.merchantName' | translate"></mss-input>
          <mss-select class="mss-filter-item" formControlName="merchantId" [options]="merchantCodes" [clearAble]="true"
                      [label]="'orgUnits.dictionary.merchantId' | translate"></mss-select>
        </div>
      </div>
    </div>
    <mss-button class="mss-action-button shifted" [label]="'basic.clearFilter' | translate" (click)="clearFilter()"></mss-button>
  </div>

  <div class="mss-action-button">
    <mss-button [label]="'basic.search' | translate" (click)="getOrgUnits()"></mss-button>
  </div>

  <div class="org-unit-list">
    <div class="data-table-container">
      <ngx-datatable #table [rows]="tableRows" [headerHeight]="70" [footerHeight]="50" rowHeight="auto" [columnMode]="'force'"
                     [externalPaging]="true" [externalSorting]="true" (sort)="getSortedOrgUnits($event)" (activate)="onRowActivate($event)"
                     [count]="totalItems" [limit]="itemLimit" [offset]="pageNumber" (page)="setPage($event)">
        <ngx-datatable-column [name]="'basic.name' | translate" prop="name" [sortable]="true"></ngx-datatable-column>
        <ngx-datatable-column [name]="'basic.code' | translate" prop="code" [sortable]="true"></ngx-datatable-column>
        <ngx-datatable-column [name]="'dictionary.networkCode' | translate" prop="networkCode" [sortable]="false" *mssRoleIf="'admin.view'">
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'dictionary.merchantCode' | translate" prop="merchantCode" [sortable]="false"></ngx-datatable-column>
        <ngx-datatable-column [name]="'basic.street' | translate" prop="street" [sortable]="false"></ngx-datatable-column>
        <ngx-datatable-column [name]="'basic.city' | translate" prop="city" [sortable]="false"></ngx-datatable-column>
        <ngx-datatable-column [name]="'basic.zip' | translate" prop="zip" [sortable]="false"></ngx-datatable-column>
        <ngx-datatable-column [name]="'dictionary.state' | translate" prop="state" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-value="value">
            <span class="mss-datatable-state-value" [ngClass]="{'disabled': value === 'DISABLED'}">{{value}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'basic.options' | translate" [sortable]="false" [maxWidth]="105">
          <ng-template ngx-datatable-cell-template let-row="row">
            <ng-container *mssRoleIf="'orgUnits.edit'">
              <a class="row-action" *ngIf="row.state !== 'DISABLED'">
                <i class="material-icons" (click)="showDeleteModal(row.id, $event)" [title]="'basic.delete' | translate">delete</i>
              </a>
            </ng-container>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template ngx-datatable-footer-template>
            <mss-table-footer
              [page]="pageNumber"
              [rowsShown]="itemLimit"
              [rowCount]="totalItems"
              (rowsShownChange)="itemsPerPage($event)"
              (changePage)="table.onFooterPage($event)"
              class="d-table-footer">
            </mss-table-footer>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
</div>

<mss-modal-window [(visible)]="deleteModalShown">
  <div class="delete-prompt">
    <h3 class="mss-modal-title">{{'orgUnits.list.removeQuestion' | translate}}</h3>
    <div class="delete-prompt-footer">
      <mss-button class="delete-prompt-action" [label]="'basic.dismiss' | translate" (click)="hideDeleteModal()"></mss-button>
      <mss-button class="delete-prompt-action" [label]="'basic.delete' | translate" (click)="deleteOrgUnit()"></mss-button>
    </div>
  </div>
</mss-modal-window>
