<div class="mss-view-container" xmlns="">
  <div class="view-header">
    <h1 class="mss-title">{{'orgUnits.list.title' | translate}}</h1>
    <mss-button [label]="'orgUnits.list.addOrgUnit' | translate" (click)="showCreateModal()"></mss-button>
  </div>
  <div class="org-unit-list">
    <div class="data-table-container">
      <ngx-datatable #table [rows]="tableRows" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" columnMode="force"
                     [externalPaging]="true"
                     [externalSorting]="true" (sort)="getSortedOrgUnits($event)"
                     [count]="totalItems" [limit]="rowLimit" [offset]="pageNumber" (page)="setPage($event)">
        <ngx-datatable-column [name]="'basic.name' | translate" prop="name" [sortable]="true"></ngx-datatable-column>
        <ngx-datatable-column [name]="'basic.code' | translate" prop="code" [sortable]="true"></ngx-datatable-column>
        <ngx-datatable-column [name]="'dictionary.networkCode' | translate" prop="networkCode" [sortable]="false"></ngx-datatable-column>
        <ngx-datatable-column [name]="'dictionary.merchantCode' | translate" prop="merchantCode" [sortable]="false"></ngx-datatable-column>
        <ngx-datatable-column [name]="'basic.note' | translate" prop="note" [sortable]="false"></ngx-datatable-column>
        <ngx-datatable-column [name]="'dictionary.state' | translate" prop="state" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-value="value">
            <span class="state-value" [ngClass]="{'disabled': value === 'DISABLED'}">{{value}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'basic.options' | translate" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row">
            <a class="row-action">
              <i class="material-icons" [routerLink]="getDetailLink(row.id)" [title]="'basic.showDetail' | translate">description</i>
            </a>
            <a class="row-action" *ngIf="row.state !== 'DISABLED'">
              <i class="material-icons" (click)="showDeleteModal(row.id)" [title]="'basic.delete' | translate">delete</i>
            </a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template ngx-datatable-footer-template>
            <mss-table-footer
              [page]="pageNumber"
              [rowsShown]="itemLimit"
              [rowCount]="totalItems"
              (rowsShownChange)="itemsPerPage($event)"
              (changePage)="table.onFooterPage($event)"
              class="d-table-footer">
            </mss-table-footer>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
</div>

<mss-modal-window [(visible)]="createModalShown">
  <h1 class="create-dialog-title">{{'orgUnits.list.addOrgUnit' | translate}}</h1>
  <mss-org-unit-form (modelSubmit)="createOrgUnit($event)" (dismiss)="hideCreateModal()"></mss-org-unit-form>
</mss-modal-window>

<mss-modal-window [(visible)]="deleteModalShown">
  <div class="delete-prompt">
    <h1>{{'orgUnits.list.removeQuestion' | translate}}</h1>
    <div class="delete-prompt-footer">
      <mss-button class="delete-prompt-action" [label]="'basic.dismiss' | translate" (click)="hideDeleteModal()"></mss-button>
      <mss-button class="delete-prompt-action" [label]="'basic.delete' | translate" (click)="deleteOrgUnit()"></mss-button>
    </div>
  </div>
</mss-modal-window>
