<div class="mss-view-container">

  <!--header-->
  <div class="mss-header-row">
    <span class="mss-title">{{'issuers.title' | translate}}</span>
    <mss-button class="mss-action-button" [label]="'issuers.addIssuer' | translate" (click)="toggleNewIssuerModal()"></mss-button>
  </div>

  <!--issuers data table-->
  <div class="data-table-container">
    <ngx-datatable #table [loadingIndicator]="loading" [columnMode]="'force'" [externalPaging]="true"
                   [count]="tableData ? tableData.totalElements : 0 " [limit]="issuersRequest.pagination.number" [rows]="rows"
                   (page)="setPage($event)"
                   [externalSorting]="true"
                   (sort)="getSortedIssuers($event)"
                   [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" selectionType="single" (select)="onSelect($event)">>

      <ngx-datatable-column [name]="'basic.code' | translate" prop="code" [sortable]="true" [cellClass]="'mss-click-able'">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Click to detail">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'basic.name' | translate" prop="name" [sortable]="true">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Click to detail">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'basic.address' | translate" prop="addressName" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Click to detail">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'basic.city' | translate" prop="city" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Click to detail">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'basic.street' | translate" prop="street" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Click to detail">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'basic.zip' | translate" prop="zip" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Click to detail">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'dictionary.state' | translate" prop="state" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Click to detail">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-curPage="curPage">
          <mss-table-footer
            [page]="curPage"
            [rowsShown]="pageSize"
            [rowCount]="rowCount"
            (rowsShownChange)="changeLimit($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>

</div>

<!--Add new issuer modal-->
<mss-modal-window [(visible)]="newIssuerModalShowing">
  <h3 class="mss-modal-title">{{'issuers.addIssuer' | translate}}</h3>
  <form [formGroup]="newIssuerForm" class="new-issuer-form">
    <div class="new-issuer-inputs">
      <div class="new-issuer-input-side">
        <mss-input formControlName="code" [label]="('basic.code' | translate) + '*'"
                   [warn]="isPresent('code')"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('code')">{{'basic.required.code' | translate}}</span></div>
        <mss-input formControlName="name" [label]="('basic.name' | translate) + '*'"
                   [warn]="isPresent('name')"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('name')">{{'basic.required.name' | translate}}</span></div>
        <mss-input formControlName="addressName" [label]="'basic.address' | translate"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="city" [label]="'basic.city' | translate"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('city')">{{'basic.required.city' | translate}}</span></div>
        <mss-input formControlName="contactFirstname"
                   [label]="'basic.firstName' | translate"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="contactLastname"
                   [label]="'basic.lastName' | translate"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="dic" [label]="'basic.dic' | translate"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('dic')">{{'basic.required.dic' | translate}}</span></div>
      </div>
      <div class="new-issuer-input-side">
        <mss-input formControlName="email" [label]="'basic.email' | translate"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="ico" [label]="'basic.ico' | translate"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('ico')">{{'basic.required.ico' | translate}}</span></div>
        <mss-input formControlName="phone" [label]="'basic.phone' | translate"></mss-input>
        <div class="mss-validation-label"><span *ngIf="newIssuerForm.get('phone').hasError('pattern')">{{'basic.required.phone' |
          translate}}</span></div>
        <mss-input formControlName="street" [label]="'basic.street' | translate"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('street')">{{'basic.required.street' | translate}}</span></div>
        <mss-input formControlName="zip" [label]="'basic.zip' | translate"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('zip')">{{'basic.required.zip' | translate}}</span></div>
      </div>
    </div>
    <div class="mss-buttons-row">
      <mss-button [label]="'basic.dismiss' | translate" type="button" class="mss-action-button right-margin"
                  (click)="toggleNewIssuerModal()"></mss-button>
      <mss-button [label]="'basic.add' | translate" type="submit" class="mss-action-button" (click)="addIssuer()"
                  [disabled]="newIssuerForm.invalid"></mss-button>
    </div>
  </form>
</mss-modal-window>
