<div class="mss-view-container">

  <!--header-->
  <div class="header-row">
    <div class="mss-title">{{'issuers.title' | translate}}</div>
    <mss-button [label]="'issuers.addIssuer' | translate" (click)="toggleNewIssuerModal()"></mss-button>
  </div>

  <!--issuers data table-->
  <div class="data-table-container">
    <ngx-datatable #table [loadingIndicator]="loading" [columnMode]="'force'" [externalPaging]="true"
                   [count]="tableData ? tableData.totalElements : 0 " [limit]="issuersRequest.pagination.number" [rows]="rows"
                   (page)="setPage($event)"
                   [externalSorting]="true"
                   (sort)="getSortedIssuers($event)"
                   [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" selectionType="single" (select)="onSelect($event)">>

      <ngx-datatable-column [name]="'basic.code' | translate" prop="code" [sortable]="true" [cellClass]="'mss-click-able'">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Click to detail">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'basic.name' | translate" prop="name" [sortable]="true">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Click to detail">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'basic.address' | translate" prop="addressName" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Click to detail">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'basic.city' | translate" prop="city" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Click to detail">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'basic.street' | translate" prop="street" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Click to detail">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'basic.zip' | translate" prop="zip" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Click to detail">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'dictionary.state' | translate" prop="state" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Click to detail">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-curPage="curPage">
          <mss-table-footer
            [page]="curPage"
            [rowsShown]="pageSize"
            [rowCount]="rowCount"
            (rowsShownChange)="changeLimit($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>

</div>

<!--Add new issuer modal-->
<mss-modal-window [(visible)]="newIssuerModalShowing">
  <div class="new-issuer-form-title">{{'issuers.addIssuer' | translate}}</div>
  <form [formGroup]="newIssuerForm" class="new-issuer-form">
    <div class="new-issuer-inputs">
      <div class="new-issuer-input-side">
        <mss-input formControlName="code" [(value)]="newIssuer.code" [label]="('basic.code' | translate) + '*'"
                   [warn]="isPresent('code')"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('code')">{{'basic.required.code' | translate}}</span></div>
        <mss-input formControlName="name" [(value)]="newIssuer.name" [label]="('basic.name' | translate) + '*'"
                   [warn]="isPresent('name')"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('name')">{{'basic.required.name' | translate}}</span></div>
        <mss-input formControlName="addressName" [(value)]="newIssuer.addressName" [label]="'basic.address' | translate"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="city" [(value)]="newIssuer.city" [label]="'basic.city' | translate"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="contactFirstname" [(value)]="newIssuer.contactFirstname"
                   [label]="'basic.firstName' | translate"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="contactLastname" [(value)]="newIssuer.contactLastname"
                   [label]="'basic.lastName' | translate"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="dic" [(value)]="newIssuer.dic" [label]="'basic.dic' | translate"></mss-input>
        <div class="mss-validation-label"></div>
      </div>
      <div class="new-issuer-input-side">
        <mss-input formControlName="email" [(value)]="newIssuer.email" [label]="'basic.email' | translate"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="ico" [(value)]="newIssuer.ico" [label]="'basic.ico' | translate"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="phone" [(value)]="newIssuer.phone" [label]="'basic.phone' | translate"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="street" [(value)]="newIssuer.street" [label]="'basic.street' | translate"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="zip" [(value)]="newIssuer.zip" [label]="'basic.zip' | translate"></mss-input>
        <div class="mss-validation-label"></div>
      </div>
    </div>
    <div class="new-issuer-buttons">
      <mss-button [label]="'basic.dismiss' | translate" class="new-issuer-button" (click)="toggleNewIssuerModal()"></mss-button>
      <mss-button [label]="'basic.yes' | translate" class="new-issuer-button" (click)="addIssuer()"
                  [disabled]="newIssuerForm.invalid"></mss-button>
    </div>
  </form>
</mss-modal-window>
