@import 'theme';

.new-issuer-form-title {
  color: $primary-text-color;
  font-size: 25px;
  padding: 18px 24px 0 24px;
}

.new-issuer-form {
  display: flex;
  flex-direction: column;

  .new-issuer-inputs {
    display: flex;
    justify-content: space-between;

    .new-issuer-input-side {
      display: flex;
      flex-direction: column;
      width: 45%;
    }
  }
}

.table-input {
  background-color: transparent;
  border: none;
  color: $row-text-color;
  font-size: 14px;
}

.edit-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.table-icon {
  cursor: pointer;
}

/deep/ .datatable-body-row {
  cursor: pointer;

  &:hover {
    background-color: $data-table-hover-color;
  }
}
