<div class="mss-view-container">
  <div class="mss-header-row">
    <span class="mss-title">{{'users.list.title' | translate}}</span>
    <mss-button class="mss-action-button" label="{{'users.list.addUser' | translate}}" (click)="toggleNewUserModal($event)"></mss-button>
  </div>

  <!-- START FILTERS -->
  <div class="row">
    <div class="column" [formGroup]="filterForm">
      <mss-tabs class="tabs" [items]="filterSections" (itemChanged)="visibleSection = $event"></mss-tabs>
      <div class="content column" *ngIf="visibleSection.value ===  reportFilterSection.BASIC">
        <div class="row wrapped">
            <mss-input class="filter-item" formControlName="login" [label]="'basic.login' | translate"></mss-input>
            <mss-input class="filter-item" formControlName="firstName" [label]="'basic.firstName' | translate"></mss-input>
            <mss-input class="filter-item" formControlName="lastName" [label]="'basic.lastName' | translate"></mss-input>
          <mss-input class="filter-item" formControlName="email" [label]="'basic.email' | translate"></mss-input>
          <mss-input class="filter-item" formControlName="state" [label]="'basic.state' | translate"></mss-input>
        </div>
      </div>

      <div class="content" *ngIf="visibleSection.value === reportFilterSection.ADVANCED">
        <div class="row wrapped">
          <mss-select class="filter-item"
                      [label]="'dictionary.networkCode' | translate"
                      [options]="itemsForSelect['NETWORK']"
                      (selectedOptionChange)="selectCode($event, 'MERCHANT')"
                      formControlName="networkCode"></mss-select>
          <mss-select class="filter-item"
                      [label]="'dictionary.merchantCode' | translate"
                      [options]="itemsForSelect['MERCHANT']"
                      (selectedOptionChange)="selectCode($event, 'ORG_UNIT')"
                      formControlName="merchantCode"></mss-select>
          <mss-select class="filter-item"
                      [label]="'dictionary.orgUnitCode' | translate"
                      [options]="itemsForSelect['ORG_UNIT']"
                      formControlName="orgUnitCode"></mss-select>
        </div>
      </div>

    </div>
    <mss-button class="button shifted" [label]="'basic.clearFilter' | translate" (click)="clearFilter()"></mss-button>
  </div>

  <div class="button">
    <mss-button [label]="'reports.list.search' | translate" (click)="getUsers()"></mss-button>
  </div>
  <!-- END FILTERS -->

  <div class="data-table-container">
    <ngx-datatable #table [externalPaging]="true" [loadingIndicator]="loading" [count]="usersData ? usersData.totalElements : 0 "
                   [columnMode]="'force'" [headerHeight]="70" [footerHeight]="50"
                   [rowHeight]="'auto'" [externalSorting]="true" [limit]="rowLimit"
                   [rows]="tableRows" [selectionType]="'single'" (select)="onSelect($event)"
                   (page)="setPage($event)" (sort)="getSorted($event)">
      <ngx-datatable-column [name]="'basic.id' | translate" prop="id" [maxWidth]="80"></ngx-datatable-column>
      <ngx-datatable-column [name]="'users.dictionary.login' | translate" prop="login"></ngx-datatable-column>
      <ngx-datatable-column [name]="'users.list.cardGroupCode' | translate" prop="cardGroupCode"></ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.firstName' | translate" prop="firstName"></ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.lastName' | translate" prop="lastName"></ngx-datatable-column>
      <ngx-datatable-column [name]="'users.dictionary.firstLogon' | translate" prop="firstLogon"></ngx-datatable-column>
      <ngx-datatable-column [name]="'users.list.expiredDateForWarning' | translate" prop="expiredDateForWarning"></ngx-datatable-column>
      <ngx-datatable-column [name]="'users.dictionary.passwordExpired' | translate" prop="passwordExpired"></ngx-datatable-column>
      <ngx-datatable-column [name]="'users.dictionary.blocked' | translate" prop="blocked"></ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.state' | translate" prop="state">
        <ng-template ngx-datatable-cell-template let-value="value">
          <span class="mss-datatable-state-value" [ngClass]="{'disabled': value === 'DISABLED'}">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-curPage="curPage">
          <mss-table-footer
            [page]="pageNumber"
            [rowsShown]="rowLimit"
            [rowCount]="totalItems"
            (rowsShownChange)="changeLimit($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>

<!--Add new user modal-->
<mss-modal-window [(visible)]="newUserModalShowing">
  <div class="new-user-form-title">{{'users.list.addUser' | translate}}</div>
  <form [formGroup]="newUserForm" class="new-user-form">
    <div class="new-user-inputs">
      <div class="new-user-input-side">
        <mss-input formControlName="firstName" label="{{'basic.firstName' | translate}}*" [warn]="isPresent('firstName')"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('firstName')">{{'basic.required.firstName' | translate}}</span></div>
        <mss-input formControlName="lastName" label="{{'basic.lastName' | translate}}*" [warn]="isPresent('lastName')"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('lastName')">{{'basic.required.lastName' | translate}}</span></div>
        <mss-input formControlName="login" label="{{'basic.login' | translate}}*" [warn]="isPresent('login')"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('login')">{{'basic.required.login' | translate}}</span></div>
        <mss-input formControlName="password" label="{{'basic.password' | translate}}*" [warn]="isPresent('password')"
                   [type]="'password'"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('password')">{{'basic.required.password' | translate}}</span></div>
        <mss-input formControlName="passwordAgain" label="{{'basic.passwordAgain' | translate}}*"
                   [warn]="isPresent('passwordAgain') || !isPasswordsEqual"
                   [type]="'password'"></mss-input>
        <div class="mss-validation-label">
          <span *ngIf="isPresent('passwordAgain')">{{'basic.required.passwordAgain' | translate}}</span>
          <span *ngIf="!isPasswordsEqual">{{'basic.required.passwordsNotEqual' | translate}}</span>
        </div>
        <mss-input formControlName="email" label="{{'basic.email' | translate}}*" [warn]="isPresent('email') || !isValidEmail"></mss-input>
        <div class="mss-validation-label">
          <span *ngIf="isPresent('email')">{{'basic.required.badEmail' | translate}}</span>
          <span *ngIf="!isValidEmail">{{'basic.required.badEmail' | translate}}</span>
        </div>
        <mss-input formControlName="phone" label="{{'basic.phone' | translate}}"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="city" label="{{'basic.city' | translate}}"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="street" label="{{'basic.street' | translate}}"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="zip" label="{{'basic.zip' | translate}}"></mss-input>
        <div class="mss-validation-label"></div>
      </div>
      <div class="new-user-input-side">
        <mss-select formControlName="template" (selectedOptionChange)="onChangeTemplate($event)" [options]="templatesOptions"
                    variant="small" label="{{'basic.template' | translate}}*"></mss-select>
        <div class="mss-validation-label"><span *ngIf="isPresent('template')">{{'basic.required.template' | translate}}</span></div>
        <hr>
        <div class="mss-validation-label"></div>
        <div formArrayName="resources">
          <div *ngFor="let res of resources.controls; let i=index;" [formGroupName]="i">
            <mss-select *ngIf="getResourceLabel(i) === 'MERCHANT'" formControlName="networkCode" label="Network"
                        [options]="getTemplateResourcesOptionsByName('NETWORK')"
                        (selectedOptionChange)="onChangeCode($event, i)"></mss-select>
            <mss-select *ngIf="getResourceLabel(i) === 'CARD_GROUP'" formControlName="networkCode" label="Issuer"
                        [options]="getTemplateResourcesOptionsByName('ISSUER')"
                        (selectedOptionChange)="onChangeCode($event, i)"></mss-select>
            <mss-select formControlName="resourceId" label="{{getResourceLabel(i)}}*"
                        [options]="getTemplateResourcesOptionsByIndex(i)"></mss-select>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="new-user-buttons">
      <mss-button label="{{'basic.dismiss' | translate}}" class="new-user-button" (click)="toggleNewUserModal()"></mss-button>
      <mss-button label="{{'basic.add' | translate}}" class="new-user-button" (click)="addUser()"
                  [disabled]="newUserForm.invalid || !isPasswordsEqual || !isValidEmail"></mss-button>
    </div>
  </form>
</mss-modal-window>

