<div class="mss-view-container">
  <div class="mss-header-row">
    <span class="mss-title">{{'users.list.title' | translate}}</span>
    <mss-button class="mss-action-button" label="{{'users.list.addUser' | translate}}" (click)="toggleNewUserModal($event)"></mss-button>
  </div>

  <!-- START FILTERS -->
  <div class="row" *ngIf="visibleSection != null">
    <div class="column" [formGroup]="filterForm">
      <mss-tabs class="tabs" [items]="filterSections" (itemChanged)="visibleSection = $event"
                *ngIf="filterSections.length > 1">
      </mss-tabs>

      <!--BASIC TAB-->
      <div class="content column" *ngIf="visibleSection.value ===  userFilterSection[0]">
        <div class="row wrapped">
          <mss-input class="filter-item" formControlName="login" [label]="'basic.login' | translate"></mss-input>
          <mss-input class="filter-item" formControlName="firstName" [label]="'basic.firstName' | translate"></mss-input>
          <mss-input class="filter-item" formControlName="lastName" [label]="'basic.lastName' | translate"></mss-input>
          <mss-input class="filter-item" formControlName="email" [label]="'basic.email' | translate"></mss-input>
          <mss-select
            class="filter-item"
            formControlName="state"
            [label]="'basic.state' | translate"
            [options]="userStates"></mss-select>
        </div>
      </div>

      <!--ISSUER TAB-->
      <div class="content" *ngIf="visibleSection.value === userFilterSection[1]">
        <div class="row wrapped">
          <mss-select class="filter-item"
                      [label]="'dictionary.issuerCode' | translate"
                      [options]="itemsForSelect['ISSUER']"
                      (selectedOptionChange)="selectCode($event, 'CARD_GROUP')"
                      *mssRoleIf="'filters.issuerCodeSelect'"
                      formControlName="issuerCode"></mss-select>
          <mss-select class="filter-item"
                      [label]="'dictionary.cardGroupCode' | translate"
                      [options]="itemsForSelect['CARD_GROUP']"
                      *mssRoleIf="'filters.cardGroupCodeSelect'"
                      formControlName="cardGroupCode"></mss-select>
        </div>
      </div>

      <!--NETWORK TAB-->
      <div class="content" *ngIf="visibleSection.value === userFilterSection[2]">
        <div class="row wrapped">
          <mss-select class="filter-item"
                      [label]="'dictionary.networkCode' | translate"
                      [options]="itemsForSelect['NETWORK']"
                      (selectedOptionChange)="selectCode($event, 'MERCHANT')"
                      *mssRoleIf="'filters.networkCodeSelect'"
                      formControlName="networkCode"></mss-select>
          <mss-select class="filter-item"
                      [label]="'dictionary.merchantCode' | translate"
                      [options]="itemsForSelect['MERCHANT']"
                      (selectedOptionChange)="selectCode($event, 'ORG_UNIT')"
                      *mssRoleIf="'filters.merchantCodeSelect'"
                      formControlName="merchantCode"></mss-select>
          <mss-select class="filter-item"
                      [label]="'dictionary.orgUnitCode' | translate"
                      [options]="itemsForSelect['ORG_UNIT']"
                      *mssRoleIf="'filters.orgUnitCodeSelect'"
                      formControlName="orgUnitCode"></mss-select>
        </div>
      </div>

    </div>
    <mss-button class="mss-action-button shifted" [label]="'basic.clearFilter' | translate" (click)="clearFilter()"></mss-button>
  </div>

  <div class="mss-action-button">
    <mss-button [label]="'basic.search' | translate" (click)="getUsers()"></mss-button>
  </div>
  <!-- END FILTERS -->

  <div class="data-table-container">
    <ngx-datatable #table [externalPaging]="true" [loadingIndicator]="loading" [count]="usersData ? usersData.totalElements : 0 "
                   [columnMode]="'force'" [headerHeight]="70" [footerHeight]="50"
                   [rowHeight]="'auto'" [externalSorting]="true" [limit]="rowLimit"
                   [rows]="tableRows" [selectionType]="'single'" (select)="onSelect($event)"
                   (page)="setPage($event)" (sort)="getSorted($event)">
      <ngx-datatable-column [name]="'basic.id' | translate" prop="id" [maxWidth]="80" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'users.dictionary.login' | translate" prop="login" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.issuerCode' | translate" prop="issuerCode" *mssRoleIf="'filters.issuerCodeSelect'" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.cardGroupCode' | translate" prop="cardGroupCode" *mssRoleIf="'filters.cardGroupCodeSelect'" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.networkCode' | translate" prop="networkCode" *mssRoleIf="'filters.networkCodeSelect'" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.merchantCode' | translate" prop="merchantCode" *mssRoleIf="'filters.merchantCodeSelect'" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.orgUnitCode' | translate" prop="orgUnitCode" *mssRoleIf="'filters.orgUnitCodeSelect'" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.firstName' | translate" prop="firstName" [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.lastName' | translate" prop="lastName" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.state' | translate" prop="state" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value">
          <span class="mss-datatable-state-value" [ngClass]="{'disabled': value === 'DISABLED'}">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.email' | translate" prop="email" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.system' | translate" prop="system" [sortable]="true" *mssRoleIf="'users.system'">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'users.dictionary.resourceName' | translate" prop="resourceName" [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'users.dictionary.resource' | translate" prop="resource" *mssRoleIf="'users.resourceColumn'" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'users.dictionary.resourceId' | translate" prop="resourceId" *mssRoleIf="'users.resourceIdColumn'" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-curPage="curPage">
          <mss-table-footer
            [page]="pageNumber"
            [rowsShown]="rowLimit"
            [rowCount]="totalItems"
            (rowsShownChange)="changeLimit($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>

<!--Add new user modal-->
<mss-modal-window [(visible)]="newUserModalShowing">
  <h3 class="mss-modal-title">{{'users.list.addUser' | translate}}</h3>
  <form [formGroup]="newUserForm" class="new-user-form">
    <div class="new-user-inputs">
      <div class="new-user-input-side">
        <mss-input formControlName="firstName" label="{{'basic.firstName' | translate}}*" [warn]="isPresent('firstName')"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('firstName')">{{'basic.required.firstName' | translate}}</span></div>
        <mss-input formControlName="lastName" label="{{'basic.lastName' | translate}}*" [warn]="isPresent('lastName')"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('lastName')">{{'basic.required.lastName' | translate}}</span></div>
        <mss-input formControlName="login" label="{{'basic.login' | translate}}*" [warn]="isPresent('login')"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('login')">{{'basic.required.login' | translate}}</span></div>
        <mss-input formControlName="password" label="{{'basic.password' | translate}}*" [warn]="isPresent('password')"
                   [type]="'password'"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('password')">{{'basic.required.password' | translate}}</span></div>
        <mss-input formControlName="passwordAgain" label="{{'basic.passwordAgain' | translate}}*"
                   [warn]="isPresent('passwordAgain') || !isPasswordsEqual"
                   [type]="'password'"></mss-input>
        <div class="mss-validation-label">
          <span *ngIf="isPresent('passwordAgain')">{{'basic.required.passwordAgain' | translate}}</span>
          <span *ngIf="!isPasswordsEqual">{{'basic.required.passwordsNotEqual' | translate}}</span>
        </div>
        <mss-input formControlName="email" label="{{'basic.email' | translate}}*" [warn]="isPresent('email') || !isValidEmail"></mss-input>
        <div class="mss-validation-label">
          <span *ngIf="isPresent('email')">{{'basic.required.badEmail' | translate}}</span>
          <span *ngIf="!isValidEmail">{{'basic.required.badEmail' | translate}}</span>
        </div>
        <mss-input formControlName="phone" label="{{'basic.phone' | translate}}"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="city" label="{{'basic.city' | translate}}"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="street" label="{{'basic.street' | translate}}"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="zip" label="{{'basic.zip' | translate}}"></mss-input>
        <div class="mss-validation-label"></div>
      </div>
      <div class="new-user-input-side">
        <mss-select formControlName="template" (selectedOptionChange)="onChangeTemplate($event)" [options]="templatesOptions"
                    label="{{'basic.template' | translate}}*"></mss-select>
        <div class="mss-validation-label"><span *ngIf="isPresent('template')">{{'basic.required.template' | translate}}</span></div>
        <hr>
        <div class="mss-validation-label"></div>
        <div formArrayName="resources">
          <div *ngFor="let res of resources.controls; let i=index;" [formGroupName]="i">
            <mss-select *ngIf="getResourceLabel(i) === 'MERCHANT' || getResourceLabel(i) === 'ORG_UNIT'" formControlName="networkCode"
                        label="NETWORK" [options]="getTemplateResourcesOptionsByName('NETWORK')"
                        (selectedOptionChange)="selectCode($event, 'MERCHANT')">
            </mss-select>
            <mss-select *ngIf="getResourceLabel(i) === 'ORG_UNIT'" formControlName="merchantCode" label="MERCHANT"
                        [options]="getTemplateResourcesOptionsByName('MERCHANT')"
                        (selectedOptionChange)="selectCode($event, 'ORG_UNIT')">
            </mss-select>
            <mss-select *ngIf="getResourceLabel(i) === 'CARD_GROUP'" formControlName="issuerCode" label="ISSUER"
                        [options]="getTemplateResourcesOptionsByName('ISSUER')"
                        (selectedOptionChange)="selectCode($event, 'CARD_GROUP')">
            </mss-select>
            <mss-select formControlName="resourceId" label="{{getResourceLabel(i)}}*"
                        [options]="getTemplateResourcesOptionsByIndex(i)">
            </mss-select>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="mss-buttons-row">
      <mss-button label="{{'basic.dismiss' | translate}}" class="mss-action-button right-margin" type="button"
                  (click)="toggleNewUserModal()"></mss-button>
      <mss-button label="{{'basic.add' | translate}}" class="mss-action-button" (click)="addUser()" type="submit"
                  [disabled]="newUserForm.invalid || !isPasswordsEqual || !isValidEmail"></mss-button>
    </div>
  </form>
</mss-modal-window>

