<div class="mss-view-container">
  <div class="mss-header-row">
    <span class="mss-title">{{'users.list.title' | translate}}</span>
    <mss-button class="mss-action-button" label="{{'users.list.addUser' | translate}}" (click)="goToCreateUser($event)"></mss-button>
  </div>

  <!-- START FILTERS -->
  <div class="row" *ngIf="visibleSection != null">
    <div class="column" [formGroup]="filterForm">
      <mss-tabs class="tabs" [items]="filterSections" (itemChanged)="visibleSection = $event"
                *ngIf="filterSections.length > 1">
      </mss-tabs>

      <!--BASIC TAB-->
      <div class="content column" *ngIf="visibleSection.value ===  userFilterSection[0]">
        <div class="row wrapped">
          <mss-input class="filter-item" formControlName="login" [label]="'basic.login' | translate"></mss-input>
          <mss-input class="filter-item" formControlName="firstName" [label]="'basic.firstName' | translate"></mss-input>
          <mss-input class="filter-item" formControlName="lastName" [label]="'basic.lastName' | translate"></mss-input>
          <mss-input class="filter-item" formControlName="email" [label]="'basic.email' | translate"></mss-input>
          <mss-select
            class="filter-item"
            formControlName="state"
            [label]="'basic.state' | translate"
            [options]="userStates"></mss-select>
        </div>
      </div>

      <!--ISSUER TAB-->
      <div class="content" *ngIf="visibleSection.value === userFilterSection[1]">
        <div class="row wrapped">
          <mss-select class="filter-item"
                      [label]="'dictionary.issuerCode' | translate"
                      [options]="itemsForSelect['ISSUER']"
                      (selectedOptionChange)="selectCode($event, 'CARD_GROUP')"
                      *mssRoleIf="'users.issuerCodeSelect'"
                      formControlName="issuerCode"></mss-select>
          <mss-select class="filter-item"
                      [label]="'dictionary.cardGroupCode' | translate"
                      [options]="itemsForSelect['CARD_GROUP']"
                      *mssRoleIf="'users.cardGroupCodeSelect'"
                      formControlName="cardGroupCode"></mss-select>
        </div>
      </div>

      <!--NETWORK TAB-->
      <div class="content" *ngIf="visibleSection.value === userFilterSection[2]">
        <div class="row wrapped">
          <mss-select class="filter-item"
                      [label]="'dictionary.networkCode' | translate"
                      [options]="itemsForSelect['NETWORK']"
                      (selectedOptionChange)="selectCode($event, 'MERCHANT')"
                      *mssRoleIf="'users.networkCodeSelect'"
                      formControlName="networkCode"></mss-select>
          <mss-select class="filter-item"
                      [label]="'dictionary.merchantCode' | translate"
                      [options]="itemsForSelect['MERCHANT']"
                      (selectedOptionChange)="selectCode($event, 'ORG_UNIT')"
                      *mssRoleIf="'users.merchantCodeSelect'"
                      formControlName="merchantCode"></mss-select>
          <mss-select class="filter-item"
                      [label]="'dictionary.orgUnitCode' | translate"
                      [options]="itemsForSelect['ORG_UNIT']"
                      *mssRoleIf="'users.orgUnitCodeSelect'"
                      formControlName="orgUnitCode"></mss-select>
        </div>
      </div>

    </div>
    <mss-button class="mss-action-button shifted" [label]="'basic.clearFilter' | translate" (click)="clearFilter()"></mss-button>
  </div>

  <div class="mss-action-button">
    <mss-button [label]="'basic.search' | translate" (click)="getUsers()"></mss-button>
  </div>
  <!-- END FILTERS -->

  <div class="data-table-container">
    <ngx-datatable #table [externalPaging]="true" [loadingIndicator]="loading" [count]="usersData ? usersData.totalElements : 0 "
                   [columnMode]="'force'" [headerHeight]="70" [footerHeight]="50"
                   [rowHeight]="'auto'" [externalSorting]="true" [limit]="rowLimit"
                   [rows]="tableRows" [selectionType]="'single'" (select)="onSelect($event)"
                   (page)="setPage($event)" (sort)="getSorted($event)">
      <ngx-datatable-column [name]="'basic.id' | translate" prop="id" [maxWidth]="80" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'users.dictionary.login' | translate" prop="login" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.issuerCode' | translate" prop="issuerCode" *mssRoleIf="'createEdit.issuerCodeSelect'"
                            [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.cardGroupCode' | translate" prop="cardGroupCode"
                            *mssRoleIf="'createEdit.cardGroupCodeSelect'" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.networkCode' | translate" prop="networkCode" *mssRoleIf="'createEdit.networkCodeSelect'"
                            [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.merchantCode' | translate" prop="merchantCode" *mssRoleIf="'createEdit.merchantCodeSelect'"
                            [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.orgUnitCode' | translate" prop="orgUnitCode" *mssRoleIf="'createEdit.orgUnitCodeSelect'"
                            [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.firstName' | translate" prop="firstName" [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.lastName' | translate" prop="lastName" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.state' | translate" prop="state" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value">
          <span class="mss-datatable-state-value" [ngClass]="{'disabled': value === 'DISABLED'}">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.email' | translate" prop="email" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.system' | translate" prop="system" [sortable]="true" *mssRoleIf="'users.system'">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'users.dictionary.resourceName' | translate" prop="resourceName" [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'users.dictionary.resource' | translate" prop="resource" *mssRoleIf="'users.resourceColumn'" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'users.dictionary.resourceId' | translate" prop="resourceId" *mssRoleIf="'users.resourceIdColumn'" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'users.discarge' | translate" [sortable]="false" *mssRoleIf="'users.discarge'">
        <ng-template ngx-datatable-cell-template let-row="row">
          <i *ngIf="row.state !== 'DISCARDED'" (click)="discardUser($event, row.id)" class="material-icons icon">clear</i>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-curPage="curPage">
          <mss-table-footer
            [page]="pageNumber"
            [rowsShown]="rowLimit"
            [rowCount]="totalItems"
            (rowsShownChange)="changeLimit($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>
