<div *ngIf="merchant" class="mss-view-container">
  <div class="mss-title title">{{'merchants.detail.title' | translate}} - {{merchant.id}}</div>

  <mss-tabs [items]="detailOptions" (itemChanged)="setSelectedOption($event)"></mss-tabs>

  <div class="merchant-detail-content" [formGroup]="merchantForm">
    <div *ngIf="selectedOption === detailOptions[0]">
      <div class="category-wrapper">
        <div class="column" *ngFor="let infoColumn of basicInfo">
          <div *ngIf="!editing">
            <div class="mss-input-like-container employee-detail-item" *ngFor="let item of infoColumn">
              <div class="label">{{item['label']}}</div>
              <div class="value">{{item['value']}}</div>
            </div>
          </div>

          <div *ngIf="editing">
            <div class="employee-detail-item" *ngFor="let item of infoColumn">
              <mss-input [label]="item['label']" [formControlName]="item['formName']" *ngIf="item['options'] == null"></mss-input>
              <mss-select [label]="item['label']" [formControlName]="item['formName']" *ngIf="item['options']"
                          [options]="stateSelect"></mss-select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="selectedOption === detailOptions[1]">
      <div class="category-wrapper">
        <div class="column" *ngFor="let infoColumn of contactInfo">
          <div *ngIf="!editing">
            <div class="mss-input-like-container employee-detail-item" *ngFor="let item of infoColumn">
              <div class="label">{{item['label']}}</div>
              <div class="value">{{item['value']}}</div>
            </div>
          </div>

          <div *ngIf="editing">
            <div class="employee-detail-item" *ngFor="let item of infoColumn">
              <mss-input [label]="item['label']" [formControlName]="item['formName']"></mss-input>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="selectedOption === detailOptions[2]">
      <div class="category-wrapper">
        <div class="column" *ngFor="let infoColumn of addressInfo">
          <div *ngIf="!editing">
            <div class="mss-input-like-container employee-detail-item" *ngFor="let item of infoColumn">
              <div class="label">{{item['label']}}</div>
              <div class="value">{{item['value']}}</div>
            </div>
          </div>

          <div *ngIf="editing">
            <div class="employee-detail-item" *ngFor="let item of infoColumn">
              <mss-input [label]="item['label']" [formControlName]="item['formName']"></mss-input>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *mssRoleIf="'users.edit'">
      <div class="edit-buttons-container">
        <mss-button [label]="'basic.edit' | translate" *ngIf="!editing" (click)="startEditing()" class="edit-button"></mss-button>
        <mss-button [label]="'basic.dismiss' | translate" *ngIf="editing" (click)="cancelEditing()" class="edit-button"></mss-button>
        <mss-button [label]="'basic.save' | translate" *ngIf="editing" (click)="submitEdit()" class="edit-button"></mss-button>
      </div>
    </div>
  </div>
</div>
