@import 'theme';

$header-text-color: $secondary-color;
$button-width: 200px;
$form-item-width: 400px;

.terminal-container {
  @include mss-datatable-row-break(10, false);

  padding: 40px 50px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .filters {
    display: flex;

    .filter-item {
      margin-right: 30px;

      .label {
        margin-bottom: 10px;
      }
    }
  }
}

.terminal-modal-container {
  width: 820px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  position: relative;

  .close-wrapper {
    position: absolute;
    right: -10px;
    top: -15px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .close {
    font-size: 26px;
    font-weight: 300;
    transform: rotate(45deg);
    color: $primary-text-color;
  }
}

.click-able {
  cursor: pointer;
  user-select: none;
}

.new-terminal-inputs {
  display: flex;
}

.modal-column {
  display: flex;
  flex-direction: column;

  &:first-child {
    margin-right: 20px;
  }
}

.modal-input:not(:last-child) {
  margin-bottom: 20px;
}

.detail-row-container {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;

  .detail-column {
    display: flex;
    flex-direction: column;
  }
}

.edit-button {
  width: 150px;
  align-self: flex-end;
}

.detail-shift {
  margin-bottom: 20px;
}
