<div class="terminal-container">
  <div class="header">
    <span>{{'terminals.title' | translate}}</span>
    <mss-button class="action-button" [label]="'terminals.addTerminal' | translate"
                (click)="switchModal()" *mssRoleIf="'terminals.create'">
    </mss-button>
  </div>

  <div class="filter-container">
    <div class="filters" [formGroup]="filterForm">
      <mss-select [disabled]="networkCodes.length === 0"
                  *mssRoleIf="'filters.networkCodeSelect'"
                  class="filter-item"
                  [options]="networkCodes"
                  [label]="'dictionary.networkCode' | translate"
                  formControlName="networkCode"
                  labelPosition="top"
                  (selectedOptionChange)="networkSelect($event)"></mss-select>
      <mss-select [disabled]="merchantCodes.length === 0"
                  *mssRoleIf="'filters.merchantCodeSelect'"
                  class="filter-item"
                  [options]="merchantCodes"
                  [label]="'dictionary.merchantCode' | translate"
                  formControlName="merchantCode"
                  labelPosition="top"
                  (selectedOptionChange)="merchantSelect($event)"></mss-select>
      <mss-select [disabled]="orgUnitCodes.length === 0"
                  *mssRoleIf="'filters.orgUnitCodeSelect'"
                  class="filter-item"
                  [options]="orgUnitCodes"
                  [label]="'dictionary.orgUnitCode' | translate"
                  formControlName="orgUnitCode"
                  labelPosition="top"></mss-select>
      <mss-input formControlName="code" class="filter-item"
                 [label]="'basic.code' | translate" labelPosition="top">
      </mss-input>
      <mss-input formControlName="name" class="filter-item"
                 [label]="'basic.name' | translate" labelPosition="top">
      </mss-input>
    </div>
    <mss-button class="terminal-button bottom" [label]="'basic.clearFilter' | translate" (click)="clearFilter()"></mss-button>
  </div>

  <div class="terminal-button">
    <mss-button [label]="'basic.search' | translate" (click)="getTerminalList()"></mss-button>
  </div>

  <ngx-datatable #table [externalPaging]="true" [loadingIndicator]="loading" [count]="terminalData ? terminalData.totalElements : 0 "
                 [columnMode]="'force'" [headerHeight]="70" [footerHeight]="50"
                 [rowHeight]="'auto'" [externalSorting]="true" [limit]="rowLimit"
                 [rows]="terminalRows" [selectionType]="'single'" (select)="onSelect($event)"
                 (page)="setPage($event)" (sort)="getSortedTerminals($event)"
                 [offset]="terminalData ? terminalData.number : 0">
    <ngx-datatable-column [name]="'basic.name' | translate" prop="name" [cellClass]="'mss-click-able'"
                          [sortable]="true"></ngx-datatable-column>
    <ngx-datatable-column [name]="'basic.code' | translate" prop="code" [sortable]="true"></ngx-datatable-column>
    <ngx-datatable-column [name]="'dictionary.orgUnitCode' | translate" prop="orgUnitCode"
                          [sortable]="true" *mssRoleIf="'filters.orgUnitCodeSelect'">
    </ngx-datatable-column>
    <ngx-datatable-column [name]="'dictionary.merchantCode' | translate" prop="merchantCode"
                          [sortable]="true" *mssRoleIf="'filters.merchantCodeSelect'">
    </ngx-datatable-column>
    <ngx-datatable-column [name]="'basic.street' | translate" prop="street" [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column [name]="'basic.city' | translate" prop="city" [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column [name]="'basic.region' | translate" prop="region" [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column [name]="'basic.country' | translate" prop="country" [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column [name]="'dictionary.state' | translate" prop="state" [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-column [name]="'dictionary.state' | translate" prop="state" [sortable]="false"></ngx-datatable-column>
    <ngx-datatable-footer>
      <ng-template
        ngx-datatable-footer-template
        let-rowCount="rowCount"
        let-pageSize="pageSize"
        let-curPage="curPage">
        <mss-table-footer
          [page]="curPage"
          [rowsShown]="pageSize"
          [rowCount]="rowCount"
          (rowsShownChange)="changeLimit($event)"
          (changePage)="table.onFooterPage($event)"
          class="d-table-footer">
        </mss-table-footer>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
</div>

<mss-modal-window [(visible)]="modalShowing" *mssRoleIf="'terminals.create'">
  <form [formGroup]="newTerminalForm" (ngSubmit)="addTerminal()">
    <div class="terminal-modal-container">
      <div class="close-wrapper" (click)="switchModal()">
        <div class="close">+</div>
      </div>
      <div class="mss-title">{{'terminals.addTerminal' | translate}}</div>
      <div class="new-terminal-inputs">
        <div class="modal-column">
          <mss-input class="modal-input" [label]="'basic.name' | translate" formControlName="name"></mss-input>
          <mss-input class="modal-input" [label]="'basic.street' | translate" formControlName="street"></mss-input>
          <mss-input class="modal-input" [label]="'basic.city' | translate" formControlName="city"></mss-input>
          <mss-input class="modal-input" [label]="'basic.zip' | translate" formControlName="zip"></mss-input>
          <mss-input class="modal-input" [label]="'basic.region' | translate" formControlName="region"></mss-input>
          <mss-input class="modal-input" [label]="'basic.country' | translate" formControlName="country"></mss-input>
        </div>
        <div class="modal-column">
          <mss-input class="modal-input" [label]="'basic.code' | translate" formControlName="code"></mss-input>
          <mss-select class="modal-input" [label]="'dictionary.networkCode' | translate" [options]="networkCodes"
                      formControlName="networkCode" *mssRoleIf="'filters.networkCodeSelect'"></mss-select>
          <mss-select class="modal-input" [label]="'dictionary.merchantCode' | translate" [options]="merchantCodes"
                      formControlName="merchantId" *mssRoleIf="'filters.merchantCodeSelect'"></mss-select>
          <mss-select class="modal-input" [label]="'dictionary.orgUnitCode' | translate" [options]="orgUnitCodes"
                      formControlName="orgUnitId" *mssRoleIf="'filters.orgUnitCodeSelect'"></mss-select>
          <mss-input class="modal-input" [type]="'number'" [label]="'basic.coefficient' | translate"
                     formControlName="coefficient"></mss-input>
          <mss-input class="modal-input" [label]="'basic.note' | translate" formControlName="note"></mss-input>
          <mss-button [label]="'terminals.addTerminal' | translate" [disabled]="newFormInvalid"></mss-button>
        </div>
      </div>
    </div>
  </form>
</mss-modal-window>
