<div class="transaction-container" *ngIf="displayData">
  <div class="header-row">
    Transakce - {{transaction ? transaction.uuid : ''}}
  </div>
  <div class="content-container">
    <div class="column">
      <mss-list class="list" [data]="displayData.basic">Basic information</mss-list>
      <mss-list class="list" [data]="displayData.issuer" (clicked)="goToDetail($event)">Issuer</mss-list>
      <mss-list class="list" [data]="displayData.acquirer" (clicked)="goToDetail($event)">Acquirer</mss-list>
      <mss-list class="list" [data]="displayData.terminal">Terminal</mss-list>
    </div>
    <div class="column">
      <mss-list class="list" [data]="displayData.amount">Amount</mss-list>
      <mss-list class="list" [data]="displayData.identification">Identification</mss-list>
      <mss-list class="list" [data]="displayData.cardHolder">Card Holder</mss-list>
    </div>
  </div>
</div>
