@import '../../../theme';

.content-container {
  display: flex;
  margin-top: 20px;

  .column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;

    .item {
      margin-bottom: 15px;
    }

    &:first-child {
      margin-right: 30px;
    }

    &:last-child {
      margin-left: 30px;
    }
  }
}

.title {
  margin-top: 20px;
}
