<div class="mss-view-container">
  <div class="header-row">
    <div class="mss-title">
      {{'employees.list.title' | translate}}
    </div>
    <mss-button label="Přidat uživatele" (click)="toggleNewUserModal($event)"></mss-button>
  </div>
  <div class="data-table-container">
    <ngx-datatable #table [externalPaging]="true" [loadingIndicator]="loading" [count]="usersData ? usersData.totalElements : 0 "
                   [columnMode]="'force'" [headerHeight]="70" [footerHeight]="50"
                   [rowHeight]="'auto'" [externalSorting]="true" [limit]="rowLimit"
                   [rows]="tableRows" [selectionType]="'single'" (select)="onSelect($event)"
                   (page)="setPage($event)" (sort)="getSorted($event)">
      <ngx-datatable-column [name]="'basic.id' | translate" prop="id" [maxWidth]="80"></ngx-datatable-column>
      <ngx-datatable-column [name]="'employees.dictionary.login' | translate" prop="login"></ngx-datatable-column>
      <ngx-datatable-column [name]="'employees.list.cardGroupCode' | translate" prop="cardGroupCode"></ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.firstName' | translate" prop="firstName"></ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.lastName' | translate" prop="lastName"></ngx-datatable-column>
      <ngx-datatable-column [name]="'employees.dictionary.firstLogon' | translate" prop="firstLogon"></ngx-datatable-column>
      <ngx-datatable-column [name]="'employees.list.expiredDateForWarning' | translate" prop="expiredDateForWarning"></ngx-datatable-column>
      <ngx-datatable-column [name]="'employees.dictionary.passwordExpired' | translate" prop="passwordExpired"></ngx-datatable-column>
      <ngx-datatable-column [name]="'employees.dictionary.blocked' | translate" prop="blocked"></ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.state' | translate" prop="state">
        <ng-template ngx-datatable-cell-template let-value="value">
          <span class="mss-datatable-state-value" [ngClass]="{'disabled': value === 'DISABLED'}">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-curPage="curPage">
          <mss-table-footer
            [page]="pageNumber"
            [rowsShown]="rowLimit"
            [rowCount]="totalItems"
            (rowsShownChange)="changeLimit($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>

<!--Add new user modal-->
<mss-modal-window [(visible)]="newUserModalShowing">
  <div class="new-user-form-title">Přidat uživatele</div>
  <form [formGroup]="newUserForm" class="new-user-form">
    <div class="new-user-inputs">
      <div class="new-user-input-side">
        <mss-input formControlName="firstName" label="Křestní jméno*" [warn]="isPresent('firstName')"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('firstName')">Křestní jméno je povinný údaj</span></div>
        <mss-input formControlName="lastName" label="Příjmení*" [warn]="isPresent('lastName')"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('lastName')">Příjmení je povinný údaj</span></div>
        <mss-input formControlName="login" label="Login*" [warn]="isPresent('login')"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('login')">Login je povinný údaj</span></div>
        <mss-input formControlName="password" label="Heslo*" [warn]="isPresent('password')" [type]="'password'"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('password')">Heslo je povinný údaj</span></div>
        <mss-input formControlName="passwordAgain" label="Heslo znovu*" [warn]="isPresent('passwordAgain') || !isPasswordsEqual"
                   [type]="'password'"></mss-input>
        <div class="mss-validation-label">
          <span *ngIf="isPresent('passwordAgain')">Heslo znovu je povinný údaj</span>
          <span *ngIf="!isPasswordsEqual">Hesla se nezhodují</span>
        </div>
        <mss-input formControlName="email" label="Email*" [warn]="isPresent('email') || !isValidEmail"></mss-input>
        <div class="mss-validation-label">
          <span *ngIf="isPresent('email')">Email je povinný údaj</span>
          <span *ngIf="!isValidEmail">Email je nesprávního formátu</span>
        </div>
        <mss-input formControlName="phone" label="Telefon"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="city" label="Město"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="street" label="Ulice"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="zip" label="PSČ"></mss-input>
        <div class="mss-validation-label"></div>
      </div>
      <div class="new-user-input-side">
        <mss-select formControlName="template" (selectedOptionChange)="onChangeTemplate($event)" [options]="templatesOptions"
                    variant="small" label="Šablona*"></mss-select>
        <div class="mss-validation-label"><span *ngIf="isPresent('template')">Příjmení je povinný údaj</span></div>
        <hr>
        <div class="mss-validation-label"></div>
        <div formArrayName="resources">
          <div *ngFor="let res of resources.controls; let i=index;" [formGroupName]="i">
            <mss-select *ngIf="getResourceLabel(i) === 'MERCHANT'" formControlName="networkCode" label="Network"
                        [options]="getTemplateResourcesOptionsByName('NETWORK')"
                        (selectedOptionChange)="onChangeCode($event, i)"></mss-select>
            <mss-select *ngIf="getResourceLabel(i) === 'CARD_GROUP'" formControlName="networkCode" label="Issuer"
                        [options]="getTemplateResourcesOptionsByName('ISSUER')"
                        (selectedOptionChange)="onChangeCode($event, i)"></mss-select>
            <mss-select formControlName="resourceId" label="{{getResourceLabel(i)}}*"
                        [options]="getTemplateResourcesOptionsByIndex(i)"></mss-select>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="new-user-buttons">
      <mss-button label="Zavřít" class="new-user-button" (click)="toggleNewUserModal()"></mss-button>
      <mss-button label="Přidat" class="new-user-button" (click)="addUser()"
                  [disabled]="newUserForm.invalid || !isPasswordsEqual || !isValidEmail"></mss-button>
    </div>
  </form>
</mss-modal-window>

