<div class="mss-view-container">
  <div class="mss-title">
    {{'employees.list.title' | translate}}
  </div>
  <div class="data-table-container">
    <ngx-datatable #table [externalPaging]="true" [loadingIndicator]="loading" [count]="usersData ? usersData.totalElements : 0 "
                   [columnMode]="'force'" [headerHeight]="70" [footerHeight]="50"
                   [rowHeight]="'auto'" [externalSorting]="true" [limit]="rowLimit"
                   [rows]="tableRows" [selectionType]="'single'" (select)="onSelect($event)"
                   (page)="setPage($event)" (sort)="getSorted($event)">
      <ngx-datatable-column [name]="'basic.id' | translate" prop="id" [maxWidth]="80"></ngx-datatable-column>
      <ngx-datatable-column [name]="'employees.dictionary.login' | translate"  prop="login"></ngx-datatable-column>
      <ngx-datatable-column [name]="'employees.list.cardGroupCode' | translate" prop="cardGroupCode"></ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.firstName' | translate" prop="firstName"></ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.lastName' | translate" prop="lastName"></ngx-datatable-column>
      <ngx-datatable-column [name]="'employees.dictionary.firstLogon' | translate" prop="firstLogon"></ngx-datatable-column>
      <ngx-datatable-column [name]="'employees.list.expiredDateForWarning' | translate" prop="expiredDateForWarning"></ngx-datatable-column>
      <ngx-datatable-column [name]="'employees.dictionary.passwordExpired' | translate" prop="passwordExpired"></ngx-datatable-column>
      <ngx-datatable-column [name]="'employees.dictionary.blocked' | translate" prop="blocked"></ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.state' | translate" prop="state">
        <ng-template ngx-datatable-cell-template let-value="value">
          <span class="mss-datatable-state-value" [ngClass]="{'disabled': value === 'DISABLED'}">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-curPage="curPage">
          <mss-table-footer
            [page]="pageNumber"
            [rowsShown]="rowLimit"
            [rowCount]="totalItems"
            (rowsShownChange)="changeLimit($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>

