<div class="mss-view-container">

  <!--header-->
  <div class="mss-header-row">
    <span class="mss-title">{{'merchants.title' | translate}}</span>
    <mss-button *mssRoleIf="'merchants.create'" [label]="'merchants.addMerchant' | translate"
                (click)="redirectToMerchantCreation()" class="mss-action-button">
    </mss-button>
  </div>

  <!--filters-->
  <div class="row">
    <div class="column">
      <mss-tabs class="tabs" [items]="filterSections" (itemChanged)="visibleSection = $event" *ngIf="showNetworkTab"></mss-tabs>
      <div class="content" *ngIf="visibleSection.value === merchantsFilterSections.BASIC">
        <div class="row wrapped">
          <mss-input [(value)]="name" [label]="'basic.name' | translate" class="mss-filter-item"></mss-input>
          <mss-input [(value)]="ico" [label]="'basic.ico' | translate" class="mss-filter-item"></mss-input>
          <mss-input [(value)]="dic" [label]="'basic.dic' | translate" class="mss-filter-item"></mss-input>
          <mss-input [(value)]="city" [label]="'basic.city' | translate" class="mss-filter-item"></mss-input>
          <mss-input [(value)]="zip" [label]="'basic.zip' | translate" class="mss-filter-item"></mss-input>
        </div>
      </div>
      <div class="content" *ngIf="visibleSection.value === merchantsFilterSections.NETWORK">
        <div class="row wrapped">
          <mss-select [disabled]="networkCodes.length === 0"
                      *mssRoleIf="'merchants.networkCodeSelect'"
                      class="mss-filter-item"
                      [label]="'dictionary.networkCode' | translate"
                      [options]="networkCodes"
                      [clearAble]="true"
                      [selectedOption]="networkCode"
                      (selectedOptionChange)="selectNetworkCode($event)"></mss-select>
          <mss-select [disabled]="merchantCodes.length === 0"
                      *mssRoleIf="'merchants.merchantCodeSelect'"
                      class="mss-filter-item"
                      [options]="merchantCodes"
                      [clearAble]="true"
                      [label]="'dictionary.merchantCode' | translate"
                      [(selectedOption)]="merchantCode"></mss-select>
        </div>
      </div>
    </div>
    <mss-button class="mss-action-button shifted" [label]="'basic.clearFilter' | translate" (click)="clearFilter()"></mss-button>
  </div>

  <div class="mss-action-button">
    <mss-button [label]="'basic.search' | translate" (click)="getMerchantList()"></mss-button>
  </div>

  <!--merchants data table-->
  <div class="data-table-container">
    <ngx-datatable #table [loadingIndicator]="loading" [rows]="rows" [columnMode]="'force'"
                   [headerHeight]="70" [footerHeight]="50" [rowHeight]="'auto'"
                   [limit]="requestModel.pagination.number" [count]="tableData ? tableData.totalElements : 0"
                   [externalSorting]="true" [externalPaging]="true" [selectionType]="'single'" (select)="onSelect($event)"
                   (sort)="getSortedMerchants($event)" (page)="setPage($event)">
      <ngx-datatable-column prop="code" [name]="'basic.code' | translate" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column prop="name" [name]="'basic.name' | translate" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column prop="ico" [name]="'basic.ico' | translate" [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column prop="dic" [name]="'basic.dic' | translate" [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column prop="city" [name]="'basic.city' | translate" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column prop="zip" [name]="'basic.zip' | translate" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column prop="state" [name]="'dictionary.state' | translate" [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-curPage="curPage">
          <mss-table-footer
            [page]="curPage"
            [rowsShown]="pageSize"
            [rowCount]="rowCount"
            (rowsShownChange)="changeLimit($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>
