<div class="mss-view-container">

  <!--header-->
  <div class="header-row">
    <div class="mss-title">{{'merchants.title' | translate}}</div>
    <mss-button *mssRoleIf="'merchants.create'" [label]="'merchants.addMerchant' | translate" (click)="toggleNewMerchantModal()"></mss-button>
  </div>

  <!--merchants data table-->
  <div class="data-table-container">
    <ngx-datatable #table [loadingIndicator]="loading" [columnMode]="'force'" [rows]="rows"
                   [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                   [externalPaging]="true" [limit]="merchantsRequest.pagination.number"
                   [externalSorting]="true"
                   (sort)="getSortedMerchants($event)"
                   [count]="tableData ? tableData.totalElements : 0 " (page)="setPage($event)">

      <ngx-datatable-column [name]="'basic.name' | translate" prop="name" [sortable]="true">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Double click to edit" (dblclick)="startEditing(row)"
                *ngIf="editedRow !== row.$$index">{{value}}</span>
          <input class="table-input" autofocus *ngIf="editedRow === row.$$index" [(ngModel)]="editedMerchant.name"/>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="bankAccount" [name]="'dictionary.bankAccount' | translate" [sortable]="true">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Double click to edit" (dblclick)="startEditing(row)"
                *ngIf="editedRow !== row.$$index">{{value}}</span>
          <input class="table-input" autofocus *ngIf="editedRow === row.$$index" [(ngModel)]="editedMerchant.bankAccount"/>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="ico" [name]="'basic.ico' | translate" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Double click to edit" (dblclick)="startEditing(row)"
                *ngIf="editedRow !== row.$$index">{{value}}</span>
          <input class="table-input" autofocus *ngIf="editedRow === row.$$index" [(ngModel)]="editedMerchant.ico"/>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="city" [name]="'basic.city' | translate" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Double click to edit" (dblclick)="startEditing(row)"
                *ngIf="editedRow !== row.$$index">{{value}}</span>
          <input class="table-input" autofocus *ngIf="editedRow === row.$$index" [(ngModel)]="editedMerchant.city"/>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="email" [name]="'basic.email' | translate" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Double click to edit" (dblclick)="startEditing(row)"
                *ngIf="editedRow !== row.$$index">{{value}}</span>
          <input class="table-input" autofocus *ngIf="editedRow === row.$$index" [(ngModel)]="editedMerchant.email"/>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="state" [name]="'dictionary.state' | translate" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Double click to edit" (dblclick)="startEditing(row)"
                *ngIf="editedRow !== row.$$index">{{value}}</span>
          <mss-toggle [(toggled)]="merchantState" *ngIf="editedRow === row.$$index"></mss-toggle>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'basic.edit' | translate" [width]="70" [sortable]="false" *mssRoleIf="'merchants.edit'">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <div class="edit-buttons-container">
            <i (click)="startEditing(row)" class="material-icons table-icon" *ngIf="editedRow === -1">mode_edit</i>
            <i class="material-icons table-icon" (click)="cancelEditing()" *ngIf="editedRow === row.$$index">not_interested</i>
            <i class="material-icons table-icon" (click)="submitEdit()" *ngIf="editedRow === row.$$index">check</i>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-curPage="curPage">
          <mss-table-footer
            [page]="curPage"
            [rowsShown]="pageSize"
            [rowCount]="rowCount"
            (rowsShownChange)="changeLimit($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>

</div>


<!--Add new merchant modal-->
<mss-modal-window [(visible)]="newMerchantModalShowing" *mssRoleIf="'merchants.create'">
  <div class="new-merchant-form-title">{{'merchants.addMerchant' | translate}}</div>
  <form [formGroup]="newMerchantForm" class="new-merchant-form">
    <div class="new-merchant-inputs">
      <div class="new-merchant-input-side">
        <mss-input formControlName="name" [(value)]="newMerchant.name" [label]="('basic.name' | translate) + '*'"
                   [warn]="isPresent('name')"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('name')">{{'basic.required.name' | translate}}</span></div>
        <mss-input formControlName="code" [(value)]="newMerchant.code" [label]="('basic.name' | translate) + '*'"
                   [warn]="isPresent('code')"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isPresent('code')">{{'basic.required.code' | translate}}</span></div>
        <mss-input formControlName="bankAccount" [(value)]="newMerchant.bankAccount"
                   [label]="'dictionary.bankAccount' | translate"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="ico" [(value)]="newMerchant.ico" [label]="'basic.ico' | translate"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="dic" [(value)]="newMerchant.dic" [label]="'basic.dic' | translate"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="note" [(value)]="newMerchant.note" [label]="'basic.note' | translate"></mss-input>
        <div class="mss-validation-label"></div>
      </div>
      <div class="new-merchant-input-side">
        <mss-input formControlName="country" [(value)]="newMerchant.country" [label]="'basic.country' | translate"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="region" [(value)]="newMerchant.region" [label]="'basic.region' | translate"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="city" [(value)]="newMerchant.city" [label]="'basic.city' | translate"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="zip" [(value)]="newMerchant.zip" [label]="'basic.zip' | translate"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="street" [(value)]="newMerchant.street" [label]="'basic.address' | translate"></mss-input>
        <div class="mss-validation-label"></div>
        <mss-input formControlName="email" [(value)]="newMerchant.email" [label]="'basic.email' | translate"></mss-input>
        <div class="mss-validation-label"><span *ngIf="isValidEmail('email')">{{'basic.required.badEmail' | translate}}</span></div>
        <mss-input formControlName="phone" [(value)]="newMerchant.phone" [label]="'basic.phone' | translate"></mss-input>
        <div class="mss-validation-label"></div>
      </div>
    </div>
    <div class="new-merchant-buttons">
      <mss-button [label]="'basic.dismiss' | translate" class="new-merchant-button" (click)="toggleNewMerchantModal()"></mss-button>
      <mss-button [label]="'basic.save' | translate" class="new-merchant-button" (click)="addMerchant()"
                  [disabled]="newMerchantForm.invalid"></mss-button>
    </div>
  </form>
</mss-modal-window>
