@import 'theme';

$form-item-width: 400px;

.icon {
  cursor: pointer;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  .button {
    flex-grow: 1;

    &:first-child {
      margin-right: 20px;
    }

    &:last-child {
      margin-left: 20px;
    }
  }
}

.content {
  .tabs {
    margin-bottom: 30px;
  }

  .section {
    display: none;

    .column {
      &:first-child {
        margin-right: 30px;
      }

      &:last-child {
        margin-left: 30px;
      }

      .form-item {
        width: $form-item-width;
      }
    }

    &.visible {
      display: flex;
    }
  }
}

.row {
  display: flex;

  &.wrapped {
    flex-wrap: wrap;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .filter-item {
    margin-right: 60px;
    margin-bottom: 15px;
    width: $default-input-width;
  }
}
