<div class="mss-view-container">
  <div class="mss-header-row">
    <span class="mss-title">{{'acquirers.list.title' | translate}}</span>
    <mss-button class="mss-action-button" [label]="'acquirers.list.addAcquirer' | translate"
                (click)="goToCreateAcquirer()"></mss-button>
  </div>

  <!-- START FILTERS -->
  <div class="row">
    <div class="column" [formGroup]="filterForm" *ngIf="filterForm">
      <div class="content column">
        <div class="row wrapped">
          <mss-input class="filter-item" formControlName="code" [label]="'basic.code' | translate"></mss-input>
          <mss-input class="filter-item" formControlName="name" [label]="'basic.name' | translate"></mss-input>
        </div>
      </div>
    </div>
    <mss-button class="mss-action-button shifted" [label]="'basic.clearFilter' | translate" (click)="clearFilter()"></mss-button>
  </div>

  <div class="mss-action-button">
    <mss-button [label]="'basic.search' | translate" (click)="getAcquirers()"></mss-button>
  </div>
  <!-- END FILTERS -->

  <div class="data-table-container">
    <ngx-datatable #table [loadingIndicator]="loading" [columnMode]="'force'" [rows]="tableRows"
                   [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                   [externalPaging]="true" [limit]="rowLimit"
                   [externalSorting]="true" (sort)="getSortedAcquirers($event)"
                   [selectionType]="'single'"
                   (activate)="goToDetail($event.row.code)"
                   [count]="totalItems " (page)="setPage($event)">
      <ngx-datatable-column [name]="'basic.code' | translate" prop="code" [sortable]="true"
                            [cellClass]="'mss-click-able'"></ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.name' | translate" prop="name" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column [name]="'acquirers.dictionary.acquiringInstitutionCode' | translate" prop="acquiringInstitutionCode"
                            [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column [name]="'acquirers.dictionary.hsmKeyName' | translate" prop="hsmKeyName"
                            [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column [name]="'acquirers.dictionary.hsmTransitKeyName' | translate" prop="hsmTransitKeyName"
                            [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.country' | translate" prop="country" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.delete' | translate" [sortable]="false" [width]="40">
        <ng-template ngx-datatable-cell-template let-row="row">
          <div class="edit-buttons-container">
            <i (click)="showDeleteModal($event,row.code)" class="material-icons icon">clear</i>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template>
          <mss-table-footer
            [page]="pageNumber"
            [rowsShown]="rowLimit"
            [rowCount]="totalItems"
            (rowsShownChange)="itemsPerPage($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>

<mss-modal-window [(visible)]="deleteModalVisible">
  <div class="mss-view-container">
    <div class="mss-title">
      {{'acquirers.list.deleteQuestion' | translate}}
    </div>

    <div class="modal-buttons">
      <mss-button class="button" (click)="deleteModalVisible = false" [label]="'basic.dismiss' | translate"></mss-button>
      <mss-button class="button" (click)="deleteAcquirer()" [label]="'basic.yes' | translate"></mss-button>
    </div>
  </div>
</mss-modal-window>
