@import 'theme';

.icon {
  cursor: pointer;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  .button {
    flex-grow: 1;

    &:first-child {
      margin-right: 20px;
    }

    &:last-child {
      margin-left: 20px;
    }
  }
}

.row {
  display: flex;

  &.wrapped {
    flex-wrap: wrap;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
