<div class="mss-view-container">

  <!--header-->
  <div class="mss-header-row">
    <span class="mss-title">{{'templates.list.title' | translate}}</span>
    <mss-button class="mss-action-button" [label]="'templates.list.addTemplate' | translate" routerLink="/platform/templates/add"></mss-button>
  </div>

  <!--template data table-->
  <div class="data-table-container">
    <ngx-datatable #table [loadingIndicator]="loading" [columnMode]="'force'" [externalPaging]="true"
                   [count]="totalElements" [limit]="templatesRequest.pagination.number" [rows]="templates"
                   (page)="setPage($event)"
                   [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" selectionType="single" (select)="onSelect($event)">>

      <ngx-datatable-column [name]="'basic.code' | translate" prop="code">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Click to detail">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'basic.name' | translate" prop="name">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Click to detail">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'basic.resource' | translate" prop="resource">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Click to detail">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'templates.dictionary.system' | translate" prop="system">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell" title="Click to detail">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-curPage="curPage">
          <mss-table-footer
            [page]="curPage"
            [rowsShown]="pageSize"
            [rowCount]="rowCount"
            (rowsShownChange)="changeLimit($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>

    </ngx-datatable>
  </div>
</div>
