@import 'theme';

.icon {
  cursor: pointer;
}

.row {
  display: flex;

  &.wrapped {
    flex-wrap: wrap;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .filter-item {
    margin-right: 30px;
    width: $default-input-width;
    margin-bottom: 10px;
  }
}

.clear {
  margin-top: 19px; // margin of label
}