@import 'theme';

.data-table-container {
  .cell.clickable {
    text-decoration: underline;
    cursor: pointer;
  }
}

.row {
  display: flex;

  &.wrapped {
    flex-wrap: wrap;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.content {
  margin: 25px 0 20px 0;
  display: flex;

  .label {
    @include default-component-label;

    width: $default-label-width;
    margin-bottom: $label-top-margin-bottom;
  }
}

.calendar-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status-declined {
  color: $negative-number-color;
}

.status-accepted {
  color: $positive-number-color;
}

