<div class="mss-view-container">
  <!-- HEADER -->
  <div class="mss-header-row">
    <span class="mss-title">{{'topupsSchedule.list.title' | translate}}</span>
  </div>

  <!-- FILTERS -->
  <div class="row">
    <div class="column" [formGroup]="filterForm">
      <mss-tabs class="tabs" *ngIf="filterSections.length > 1" [items]="filterSections" (itemChanged)="visibleSection = $event"></mss-tabs>
      <div class="content" *ngIf="visibleSection.value === topUpsScheduleFilterSections[0]">
        <div class="row wrapped">
          <mss-input class="filter-item" [label]="'dictionary.specificSymbol' | translate" formControlName="specificSymbol"></mss-input>
          <mss-input class="filter-item" [label]="'dictionary.variableSymbol' | translate" formControlName="variableSymbol"></mss-input>
          <mss-select class="filter-item" [options]="stateOptions" [clearAble]="true"
                      [label]="'dictionary.state' | translate" formControlName="state"></mss-select>
        </div>
      </div>
      <div class="content" *ngIf="visibleSection.value === topUpsScheduleFilterSections[1]">
        <div class="row wrapped">
          <mss-select class="filter-item" formControlName="issuerCode" [options]="issuerCodes" [clearAble]="true"
                      [label]="'dictionary.issuerCode' | translate" *mssRoleIf="'topupsSchedule.issuerCodeSelect'"></mss-select>
          <mss-select class="filter-item" formControlName="cardGroupId" [options]="cardGroupCodes" [clearAble]="true"
                      [label]="'dictionary.cardGroupCode' | translate" *mssRoleIf="'topupsSchedule.cardGroupCodeSelect'"></mss-select>
        </div>
      </div>
    </div>
    <mss-button class="mss-action-button shifted" [label]="'basic.clearFilter' | translate" (click)="clearFilter()"></mss-button>
  </div>

  <div class="mss-action-button">
    <mss-button [label]="'basic.search' | translate" (click)="getTopupsScheduleList()"></mss-button>
  </div>

  <!-- DATA TABLE-->
  <div class="data-table-container">
    <ngx-datatable #table [loadingIndicator]="loading" [rows]="rows" [columnMode]="'force'"
                   [headerHeight]="70" [footerHeight]="50" [rowHeight]="'auto'"
                   (activate)="goToDetail($event.row)"
                   [limit]="requestModel.pagination.number" [count]="tableData ? tableData.totalElements : 0"
                   [externalSorting]="true" [externalPaging]="true"
                   (sort)="getSortedTopupsScheduleList($event)" (page)="setPage($event)">
      <ngx-datatable-column prop="filename" [name]="'topupsSchedule.dictionary.filename' | translate"
                            [sortable]="true" [width]="100">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <span [title]="value" class="mss-limited-text">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="cardGroupName" [name]="'topupsSchedule.dictionary.cardGroupName' | translate"
                            [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column prop="specificSymbol" [name]="'dictionary.specificSymbol' | translate" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column prop="variableSymbol" [name]="'dictionary.variableSymbol' | translate" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column prop="state" [name]="'basic.state' | translate" [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column prop="amountAll" [sortable]="false" class="test">
        <ng-template ngx-datatable-header-template>
          <div class="mss-header-cell-align-right">{{'dictionary.amount' | translate}}</div>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <div class="mss-cell-align-right">{{value | currency:row['currency']['code']:true:'1.' + row['currency']['digits']}}</div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-curPage="curPage">
          <mss-table-footer
            [page]="curPage"
            [rowsShown]="pageSize"
            [rowCount]="rowCount"
            (rowsShownChange)="changeLimit($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>
