<div class="content-header">
  <div class="profile-name">{{profile.firstName}} {{profile.lastName}}</div>
  <div class="logout-container" (click)="logOut()">
    <span>{{'basic.logout' | translate}}</span>
    <i class="material-icons logout-icon">power_settings_new</i>
  </div>
</div>
<div class="app-content-container" [ngClass]="{'side-toolbar': toolbarPosition === 'side', 'top-toolbar': toolbarPosition === 'top'}">
  <mss-path-navigation></mss-path-navigation>
  <router-outlet></router-outlet>
</div>
<mss-toolbar [position]="toolbarPosition" [userData]="profile"></mss-toolbar>
