<form [formGroup]="form" class="org-unit-form">
  <h1 class="org-unit-form-heading" *ngIf="completeView">{{'orgUnits.detail.sections.nameCode' | translate}}</h1>
  <div class="org-unit-form-body">
    <div class="org-unit-form-input-container">
      <mss-input formControlName="name" [label]="'basic.name' | translate"></mss-input>
    </div>
    <div class="org-unit-form-input-container">
      <mss-input formControlName="code" [label]="'basic.code' | translate"></mss-input>
    </div>
  </div>
  <h1 class="org-unit-form-heading" *mssRoleIf="'filters.merchantCodeSelect'">
    {{'orgUnits.detail.sections.networkMerchant' | translate}}
  </h1>
  <div class="org-unit-form-body" *mssRoleIf="'orgUnits.formMerchantSelect'">
    <div class="org-unit-form-input-container" *mssRoleIf="'orgUnits.formNetworkSelect'">
      <mss-select formControlName="networkCode" [options]="networkOptions" [label]="'dictionary.networkCode' | translate"></mss-select>
    </div>
    <div class="org-unit-form-input-container" *mssRoleIf="'orgUnits.formMerchantSelect'">
      <mss-select formControlName="merchantId" [options]="merchantOptions" [label]="'dictionary.merchantCode' | translate"></mss-select>
    </div>
  </div>
  <h1 class="org-unit-form-heading">{{'basic.address' | translate}}</h1>
  <div class="org-unit-form-body">
    <div class="org-unit-form-input-container">
      <mss-input formControlName="region" [label]="'basic.address' | translate"></mss-input>
    </div>
    <div class="org-unit-form-input-container">
      <mss-input formControlName="city" [label]="'basic.city' | translate"></mss-input>
    </div>
    <div class="org-unit-form-input-container">
      <mss-input formControlName="street" [label]="'basic.street' | translate"></mss-input>
    </div>
    <div class="org-unit-form-input-container">
      <mss-input formControlName="zip" [label]="'basic.zip' | translate"></mss-input>
    </div>
  </div>
  <h1 class="org-unit-form-heading">{{'basic.note' | translate}}</h1>
  <div class="org-unit-form-body">
    <div class="org-unit-form-input-container wide">
      <mss-input formControlName="note" [label]="'basic.note' | translate"></mss-input>
    </div>
  </div>
  <div class="mss-buttons-row">
    <mss-button [label]="variant === 'update' ? ('basic.back' | translate) : ('basic.dismiss' | translate)"
                class="mss-action-button right-margin" (click)="emitDismiss()"></mss-button>
    <mss-button [label]="variant === 'update' ? ('basic.edit' | translate) : ('basic.add' | translate)"
                class="mss-action-button" (click)="emitOrgUnit()"
                [disabled]="formInvalid"></mss-button>
  </div>
</form>
