<form [formGroup]="form" class="org-unit-form">
  <h1 class="org-unit-form-heading">Název a kód</h1>
  <div class="org-unit-form-body">
    <div class="org-unit-form-input-container">
      <mss-input formControlName="name" label="Název"></mss-input>
    </div>
    <div class="org-unit-form-input-container">
      <mss-input formControlName="code" label="Kód"></mss-input>
    </div>
  </div>
  <h1 class="org-unit-form-heading">Síť a obchodník</h1>
  <div class="org-unit-form-body">
    <div class="org-unit-form-input-container">
      <mss-select formControlName="networkCode" [options]="networkOptions" label="Síť"></mss-select>
    </div>
    <div class="org-unit-form-input-container">
      <mss-select formControlName="merchantId" [options]="merchantOptions" label="Obchodník"></mss-select>
    </div>
  </div>
  <h1 class="org-unit-form-heading">Adresa</h1>
  <div class="org-unit-form-body">
    <div class="org-unit-form-input-container">
      <mss-input formControlName="region" label="Region"></mss-input>
    </div>
    <div class="org-unit-form-input-container">
      <mss-input formControlName="city" label="Město"></mss-input>
    </div>
    <div class="org-unit-form-input-container">
      <mss-input formControlName="street" label="Ulice"></mss-input>
    </div>
    <div class="org-unit-form-input-container">
      <mss-input formControlName="zip" label="PSČ"></mss-input>
    </div>
  </div>
  <h1 class="org-unit-form-heading">Poznámka</h1>
  <div class="org-unit-form-body">
    <div class="org-unit-form-input-container wide">
      <mss-input formControlName="note" label="Poznámka"></mss-input>
    </div>
  </div>
  <div class="org-unit-form-footer">
    <mss-button [label]="variant === 'update' ? 'Zpět' : 'Zrušit'" class="org-unit-form-action" (click)="emitDismiss()"></mss-button>
    <mss-button label="Uložít" class="org-unit-form-action" (click)="emitOrgUnit()" [disabled]="formInvalid"></mss-button>
  </div>
</form>
