<div class="routing-table-container mss-view-container">
  <div class="mss-header-row">
    <span class="mss-title">{{'routingTables.list.title' | translate}}</span>
    <mss-button class="mss-action-button" (click)="switchModal()" [label]="'routingTables.list.addTable' | translate"></mss-button>
  </div>
  <div *ngIf="rows.length > 0" class="data-table-container">
    <ngx-datatable #table [columns]="columns" [loadingIndicator]="loading" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                   [rowHeight]="'auto'" [limit]="rowLimit" [rows]="rows" [selectionType]="'single'" (select)="onSelect($event)">
      <ngx-datatable-column [name]="'routingTables.dictionary.name' | translate" prop="name">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span class="cell">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'routingTables.dictionary.description' | translate" prop="description">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <div class="cell" *ngIf="edit !== row.$$index">{{value}}</div>
          <input class="table-input" autofocus *ngIf="edit === row.$$index" type="text" [(ngModel)]="editModel"/>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'basic.delete' | translate" [maxWidth]="80">
        <ng-template ngx-datatable-cell-template let-row="row">
          <i (click)="showDeleteModal($event, row)" class="material-icons click-able">clear</i>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-curPage="curPage">
          <mss-table-footer
            [page]="curPage"
            [rowsShown]="pageSize"
            [rowCount]="rowCount"
            (rowsShownChange)="changeLimit($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>

<mss-modal-window [(visible)]="modalShowing">
  <form [formGroup]="newTableForm" (ngSubmit)="addRoutingTable()">
    <div class="routing-table-modal-container">
      <div class="close-wrapper" (click)="switchModal()">
        <div class="close">+</div>
      </div>
      <h3 class="mss-modal-title">{{'routingTables.list.addTable' | translate}}</h3>
      <div class="name-wrapper routing-table-modal-input">
        <mss-input formControlName="name" [label]="'routingTables.dictionary.name' | translate" [(value)]="newTable.name"></mss-input>
        <div *ngIf="showMessage()" class="warning-text">{{'routingTables.list.nameExist' | translate}}</div>
      </div>
      <mss-input formControlName="description" class="routing-table-modal-input"
                 [label]="'routingTables.dictionary.description' | translate"
                 [(value)]="newTable.description"></mss-input>
      <div class="mss-buttons-row">
        <mss-button label="{{'basic.dismiss' | translate}}" class="mss-action-button right-margin" type="button"
                    (click)="switchModal()"></mss-button>
        <mss-button label="{{'basic.add' | translate}}" class="mss-action-button" type="submit"
                    [disabled]="newTableForm.invalid"></mss-button>
      </div>
    </div>
  </form>
</mss-modal-window>

<mss-modal-window [(visible)]="warnModalVisible">
  <h3 class="mss-modal-title">Opravdu chcete záznam odstranit?</h3>
  <div class="modal-buttons">
    <mss-button class="button" label="Zavřít" (click)="switchWarnModal()"></mss-button>
    <mss-button class="button" label="Ano" (click)="deleteRow()"></mss-button>
  </div>
</mss-modal-window>
