<div class="issuer-card-container">
  <div class="header-row">
    <div class="header">
      {{'cards.cardRequests.title' | translate}}
    </div>
  </div>

  <div class="filter-container">
    <div class="filters">
      <div class="calendar-select filter-item">
        <div class="label">{{'dictionary.from' | translate}}</div>
        <mss-date-picker-input class="date-picker" [pickedDate]="fromDate"
                               (pickedDateChange)="changeFromDate($event)"></mss-date-picker-input>
      </div>
      <div class="calendar-select filter-item">
        <div class="label">{{'dictionary.to' | translate}}</div>
        <mss-date-picker-input class="date-picker" [pickedDate]="toDate" (pickedDateChange)="changeToDate($event)"></mss-date-picker-input>
      </div>
      <mss-select [disabled]="cardGroupCodes.length === 0"
                  class="filter-item"
                  [options]="cardGroupCodes"
                  [label]="'dictionary.cardGroupCode' | translate"
                  labelPosition="top"
                  [(selectedOption)]="searchModel.search.predicateObject.cardGroupCode"></mss-select>
      <mss-select [disabled]="requestStates.length === 0"
                  class="filter-item"
                  [options]="requestStates"
                  labelPosition="top"
                  [label]="'dictionary.state' | translate"
                  [(selectedOption)]="searchModel.search.predicateObject.state"></mss-select>
    </div>
    <mss-button class="issuer-card-button bottom" [label]="'basic.clearFilter' | translate" (click)="clearFilter()"></mss-button>
  </div>

  <div class="issuer-card-button">
    <mss-button [label]="'cards.cardRequests.search' | translate" (click)="getRequests()"></mss-button>
  </div>

  <div class="table-container">
    <ngx-datatable #table (activate)="goToDetail($event)" [externalPaging]="true"
                   [count]="tableData ? tableData.totalElements : 0 " [loadingIndicator]="loading"
                   (page)="setPage($event)"
                   [externalSorting]="true"
                   (sort)="getSortedCardRequests($event)"
                   [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="48" [limit]="searchModel.pagination.number"
                   [rows]="rows">
      <ngx-datatable-column [name]="'cards.cardRequests.employerName' | translate" prop="name" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column [name]="'cards.cardRequests.numberOfCards' | translate" prop="number" [sortable]="false"></ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.state' | translate" prop="state" [sortable]="false"></ngx-datatable-column>
      <ngx-datatable-column [name]="'cards.cardRequests.decline' | translate" [maxWidth]="100" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
          <i class="material-icons table-icon" (click)="handleActionClick(row, 'decline', $event)">clear</i>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'cards.cardRequests.accept' | translate" [maxWidth]="100" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
          <i class="material-icons table-icon" (click)="handleActionClick(row, 'confirm', $event)">done</i>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-curPage="curPage">
          <mss-table-footer
            [page]="curPage"
            [rowsShown]="pageSize"
            [rowCount]="rowCount"
            (rowsShownChange)="changeLimit($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>

<mss-modal-window [(visible)]="modalVisible">
  <div class="mss-title" *ngIf="modalDisplaying === 'confirm'">{{'cards.cardRequests.warnModal.titleAccept' | translate}}</div>
  <div class="mss-title" *ngIf="modalDisplaying !== 'confirm'">{{'cards.cardRequests.warnModal.titleDecline' | translate}}</div>
  <div class="modal-buttons">
    <mss-button class="button" [label]="'basic.yes' | translate"
                (click)="modalDisplaying === 'confirm' ? sendConfirm() : sendDecline()"></mss-button>
    <mss-button class="button" [label]="'basic.dismiss' | translate" (click)="modalVisible = false"></mss-button>
  </div>
</mss-modal-window>
