@import 'theme';

$header-text-color: #4a4a4a;
$calendar-text-color: #747474;
$item-width: 400px;

.issuer-card-container {
  padding: 40px 50px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .filters-column {
    display: flex;
    flex-direction: column;

    .filters-row {
      display: flex;
      flex-wrap: wrap;

      .filter-item {
        margin-right: 30px;
        margin-bottom: 15px;
        width: $item-width;

        .label {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.bottom {
  margin-top: 29px;
}

.table-container {
  position: relative;

  .table-icon {
    cursor: pointer;
  }
}

.calendar-select {
  @include default-component-label;

  color: $calendar-text-color;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;

  .button {
    width: 100px;
    margin-left: 20px;
  }
}
