@import 'theme';

$header-text-color: $secondary-color;

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .filters-column {
    display: flex;
    flex-direction: column;

    .filters-row {
      display: flex;
      flex-wrap: wrap;

      .label {
        @include default-component-label;

        width: $default-label-width;
        margin-bottom: $label-top-margin-bottom;
      }
    }
  }
}

.table-container {
  position: relative;

  .table-icon {
    cursor: pointer;
  }
}

.calendar-select {
  @include default-component-label;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;

  .button {
    width: 100px;
    margin-left: 20px;
  }
}
