@import 'theme';

$header-text-color: #4a4a4a;
$calendar-text-color: #747474;

.issuer-card-container {
  padding: 40px 50px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .filters {
    display: flex;

    .filter-item {
      margin-right: 30px;

      .label {
        margin-bottom: 10px;
      }
    }
  }
}

.table-container {
  position: relative;

  .table-icon {
    cursor: pointer;
  }
}

.calendar-select {
  @include default-component-label;

  color: $calendar-text-color;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;

  .button {
    width: 100px;
    margin-left: 20px;
  }
}
