<div class="issuer-card-container">
  <div class="header-row">
    <div class="header">
      Žádosti o kartu
    </div>
  </div>

  <div class="filter-container">
    <div class="filters">
      <div class="calendar-select filter-item">
        <div class="label">Od</div>
        <mss-date-picker-input class="date-picker" [pickedDate]="fromDate"
                               (pickedDateChange)="changeFromDate($event)"></mss-date-picker-input>
      </div>
      <div class="calendar-select filter-item">
        <div class="label">Do</div>
        <mss-date-picker-input class="date-picker" [pickedDate]="toDate" (pickedDateChange)="changeToDate($event)"></mss-date-picker-input>
      </div>
      <mss-select [disabled]="cardGroupCodes.length === 0"
                  [showName]="'card group code'" class="filter-item"
                  [options]="cardGroupCodes"
                  label="Card group code"
                  labelPosition="top"
                  [(selectedOption)]="searchModel.search.predicateObject.cardGroupCode"></mss-select>
      <mss-select [disabled]="requestStates.length === 0"
                  showName="Stav karty" class="filter-item"
                  [options]="requestStates"
                  labelPosition="top"
                  label="Stav karty"
                  [(selectedOption)]="searchModel.search.predicateObject.state"></mss-select>
    </div>
    <mss-button class="issuer-card-button bottom" label="Vymazat filtr" (click)="clearFilter()"></mss-button>
  </div>

  <div class="issuer-card-button">
    <mss-button label="Vyhledat žádosti" (click)="getRequests()"></mss-button>
  </div>

  <div class="table-container">
    <ngx-datatable #table (activate)="goToDetail($event)" [externalPaging]="true"
                   [count]="tableData ? tableData.totalElements : 0 " [loadingIndicator]="loading"
                   (page)="setPage($event)"
                   [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="48" [limit]="searchModel.pagination.number"
                   [rows]="rows">
      <ngx-datatable-column name="Zaměstnavatel" prop="name"></ngx-datatable-column>
      <ngx-datatable-column name="Počet karet" prop="number"></ngx-datatable-column>
      <ngx-datatable-column name="Stav" prop="state"></ngx-datatable-column>
      <ngx-datatable-column name="Zamítnout" [maxWidth]="100">
        <ng-template ngx-datatable-cell-template let-row="row">
          <i class="material-icons table-icon" (click)="handleActionClick(row, 'decline', $event)">clear</i>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Schválit" [maxWidth]="100">
        <ng-template ngx-datatable-cell-template let-row="row">
          <i class="material-icons table-icon" (click)="handleActionClick(row, 'confirm', $event)">done</i>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    <div class="datatable-select">
      <mss-select [options]="rowLimitOptions"
                  [selectedOption]="searchModel.pagination.number"
                  (selectedOptionChange)="changeLimit($event)"
                  label="Počet na stránku">
      </mss-select>
    </div>
  </div>
</div>

<mss-modal-window [(visible)]="modalVisible">
  <div class="mss-title">Opravu chcete žádost o kartu {{modalDisplaying === 'confirm' ? 'potvrdit' : 'zamitnout'}}?</div>
  <div class="modal-buttons">
    <mss-button class="button" label="Ano" (click)="modalDisplaying === 'confirm' ? sendConfirm() : sendDecline()"></mss-button>
    <mss-button class="button" label="Zavřít" (click)="modalVisible = false"></mss-button>
  </div>
</mss-modal-window>