<div class="mss-view-container">
  <div class="mss-header-row">
    <div class="mss-title">{{'paymentTopups.title' | translate}}</div>
  </div>

  <div class="row">
    <div class="column" [formGroup]="filterForm">
      <mss-tabs class="tabs" [items]="filterSections" (itemChanged)="visibleSection = $event"></mss-tabs>

      <div class="content" *ngIf="visibleSection.value === topupsFilterSections[0]">
        <div class="row wrapped">
          <div class="calendar-select filter-item">
            <span class="label">{{'dictionary.from' | translate}}</span>
            <mss-date-time-picker-input formControlName="createdFrom"></mss-date-time-picker-input>
          </div>
          <div class="calendar-select filter-item">
            <span class="label">{{'dictionary.to' | translate}}</span>
            <mss-date-time-picker-input formControlName="createdTo"></mss-date-time-picker-input>
          </div>
        </div>
      </div>

      <div class="content" *ngIf="visibleSection.value === topupsFilterSections[1]">
        <div class="row wrapped">
          <mss-input class="filter-item" [label]="'dictionary.variableSymbol' | translate"
                     formControlName="variableSymbol">
          </mss-input>
          <mss-input class="filter-item" [label]="'dictionary.specificSymbol' | translate"
                     formControlName="specificSymbol">
          </mss-input>
          <mss-select class="filter-item" [label]="'basic.state' | translate"
                      [options]="stateOptions" [clearAble]="true" formControlName="state">
          </mss-select>
        </div>
      </div>

      <div class="content" *ngIf="visibleSection.value === topupsFilterSections[2]">
        <div class="row wrapped">
          <mss-select class="filter-item" [label]="'dictionary.issuerCode' | translate"
                      *mssRoleIf="'paymentTopups.issuerCodeSelect'"
                      [options]="issuerCodes" [clearAble]="true" formControlName="issuerCode">
          </mss-select>
          <mss-select class="filter-item" [label]="'dictionary.cardGroupCode' | translate"
                      *mssRoleIf="'paymentTopups.cardGroupCodeSelect'"
                      [options]="cardGroupCodes" [clearAble]="true" formControlName="cardGroupCode">
          </mss-select>
        </div>
      </div>
    </div>
    <mss-button class="mss-action-button shifted" [label]="'basic.clearFilter' | translate" (click)="clearFilter()"></mss-button>
  </div>

  <div class="mss-action-button">
    <mss-button [label]="'basic.search' | translate" (click)="getPayments()"></mss-button>
  </div>

  <div class="data-table-container">
    <ngx-datatable #table [loadingIndicator]="loading" [columnMode]="'force'" [rows]="paymentTopup"
                   [headerHeight]="70" [footerHeight]="50" [rowHeight]="'auto'"
                   [limit]="requestModel.pagination.number" [count]="totalItems"
                   [externalPaging]="true" (page)="setPage($event)"
                   [selectionType]="'single'" (select)="onSelect($event)">
      <ngx-datatable-column prop="uuid" [name]="'dictionary.uuid' | translate" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <span [title]="value" class="mss-limited-text">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="created" [name]="'paymentTopups.createdAt' | translate" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <div>{{value | mssDate}}</div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="settlemntDate" [name]="'paymentTopups.settlementDate' | translate" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <div>{{value | mssDate}}</div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="variableSymbol" [name]="'dictionary.variableSymbol' | translate" [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column prop="specificSymbol" [name]="'dictionary.specificSymbol' | translate" [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column prop="accountNumber" [name]="'dictionary.accountNumber' | translate" [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column prop="state" [name]="'basic.state' | translate" [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column prop="amount" [sortable]="false">
        <ng-template ngx-datatable-header-template>
          <div class="mss-header-cell-align-right">{{'dictionary.amount' | translate}}</div>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <div class="mss-cell-align-right">{{value | currency:row['currency']['code']:true:'1.' + row['currency']['digits']}}</div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template>
          <mss-table-footer
            [page]="pageNumber"
            [rowsShown]="rowLimit"
            [rowCount]="totalItems"
            (rowsShownChange)="changeLimit($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>

</div>
