<div class="mss-view-container">
  <div class="mss-header-row">
    <div class="mss-title">{{'routingTables.detail.title' | translate}} - {{routingTable.name}}</div>
  </div>

  <div class="merchant-detail-content" [formGroup]="routingTableForm">
    <div class="category-wrapper">
      <div class="column" *ngFor="let infoColumn of basicInfo">
        <div *ngIf="!editingRouteTable">
          <div class="mss-input-like-container routing-table-detail-item" *ngFor="let item of infoColumn">
            <div class="label">{{item['label']}}</div>
            <div class="value">{{item['value']}}</div>
          </div>
        </div>

        <div *ngIf="editingRouteTable">
          <div class="routing-table-detail-item" *ngFor="let item of infoColumn">
            <mss-input [label]="item['label']" [formControlName]="item['formName']"></mss-input>
          </div>
        </div>
      </div>
    </div>

    <div *mssRoleIf="'users.edit'">
      <div class="mss-buttons-row">
        <mss-button [label]="'basic.edit' | translate" *ngIf="!editingRouteTable" (click)="startEditRouteTable()"
                    class="mss-action-button"></mss-button>
        <mss-button [label]="'basic.dismiss' | translate" *ngIf="editingRouteTable" (click)="cancelEditRouteTable()"
                    class="mss-action-button right-margin"></mss-button>
        <mss-button [label]="'basic.save' | translate" *ngIf="editingRouteTable" (click)="submitEditRouteTable()"
                    class="mss-action-button"></mss-button>
      </div>
    </div>
  </div>

  <div class="mss-header-row">
    <div class="mss-title">{{'routingTables.detail.routesTable' | translate}}</div>
    <div class="mss-buttons-row">
      <mss-button class="mss-action-button right-margin" (click)="switchModal()"
                  [label]="'routingTables.detail.addRoute' | translate"></mss-button>
      <mss-button class="mss-action-button" [label]="'routingTables.detail.saveRoutes' | translate" (click)="saveRoutes()"></mss-button>
    </div>

  </div>
  <div *ngIf="rows" class="data-table-container">
    <ngx-datatable #table [loadingIndicator]="loading" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                   [rowHeight]="'auto'" [rows]="rows">
      <!-- Row Detail Template -->
      <ngx-datatable-row-detail [rowHeight]="220" #myDetailRow>
        <ng-template let-row="row" ngx-datatable-row-detail-template>
          <div class="expandable-row-container">
            <div class="detail-column">
              <div class="select-wrapper input-shift">
                <div class="select-label">{{'routingTables.dictionary.rule' | translate}}</div>
                <mss-select class="detail-select" [(selectedOption)]="editRoute.ruleName" [options]="rules"></mss-select>
              </div>
              <mss-input class="input-shift" [label]="'routingTables.dictionary.ruleParam' | translate"
                         [(value)]="editRoute.ruleParam"></mss-input>
              <mss-input [label]="'Description'" [(value)]="editRoute.description"></mss-input>
            </div>
            <div class="detail-column">
              <div class="select-wrapper input-shift">
                <div class="select-label">{{'routingTables.dictionary.target' | translate}}</div>
                <mss-select class="detail-select" [(selectedOption)]="editRoute.targetName" [options]="targets"></mss-select>
              </div>
              <mss-input class="input-shift" [label]="'routingTables.dictionary.targetParam' | translate"
                         [(value)]="editRoute.targetParam"></mss-input>
              <mss-button class="detail-save" [label]="'basic.save' | translate" (click)="saveEditing()"></mss-button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
      <ngx-datatable-column [name]="'routingTables.dictionary.order' | translate" prop="orderInTable"></ngx-datatable-column>
      <ngx-datatable-column [name]="'routingTables.dictionary.rule' | translate" prop="ruleName"></ngx-datatable-column>
      <ngx-datatable-column [name]="'routingTables.dictionary.ruleParam' | translate" prop="ruleParam"></ngx-datatable-column>
      <ngx-datatable-column [name]="'routingTables.dictionary.target' | translate" prop="targetName"></ngx-datatable-column>
      <ngx-datatable-column [name]="'routingTables.dictionary.targetParam' | translate" prop="targetParam"></ngx-datatable-column>
      <ngx-datatable-column [name]="'routingTables.dictionary.description' | translate" prop="description"></ngx-datatable-column>
      <ngx-datatable-column [name]="'routingTables.dictionary.action' | translate" [maxWidth]="160" [resizeable]="false" [draggable]="false"
                            [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
          <i class="material-icons click-able" (click)="editing(row)">edit</i>
          <i class="material-icons click-able" (click)="changeOrder(-1, row.$$index)"
             [ngClass]="{'disabled': rows[row.$$index].orderInTable === 0}">keyboard_arrow_up</i>
          <i class="material-icons click-able" (click)="changeOrder(1, row.$$index)"
             [ngClass]="{'disabled': rows[row.$$index].orderInTable === maxOrder}">keyboard_arrow_down</i>
          <i class="material-icons click-able" (click)="deleteRow(row.$$index)">clear</i>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<mss-modal-window [(visible)]="modalShowing">
  <form *ngIf="rules && targets" [formGroup]="newRouteForm" (ngSubmit)="addRoute()">
    <div class="routes-modal-container">
      <div class="close-wrapper" (click)="switchModal()">
        <div class="close">+</div>
      </div>
      <h3 class="mss-modal-title">{{'routingTables.detail.addRoute' | translate}}</h3>
      <div class="routes-select-container routing-table-modal-input">
        <mss-select [(selectedOption)]="newRoute.ruleName"
                    [label]="'routingTables.dictionary.rule' | translate"
                    class="routes-select" formControlName="rule" [options]="rules"></mss-select>
      </div>
      <mss-input formControlName="ruleParam" class="routing-table-modal-input" [label]="'routingTables.dictionary.ruleParam' | translate"
                 [(value)]="newRoute.ruleParam"></mss-input>
      <div class="routes-select-container routing-table-modal-input">
        <mss-select [(selectedOption)]="newRoute.targetName"
                    [label]="'routingTables.dictionary.target' | translate"
                    class="routes-select" formControlName="target" [options]="targets">
        </mss-select>
      </div>
      <mss-input formControlName="targetParam" [label]="'routingTables.dictionary.targetParam' | translate"
                 class="routing-table-modal-input" [(value)]="newRoute.targetParam">
      </mss-input>
      <mss-input formControlName="description" [label]="'routingTables.dictionary.description' | translate"
                 class="routing-table-modal-input" [(value)]="newRoute.description">
      </mss-input>
      <mss-button [disabled]="newRouteForm.invalid" [label]="'routingTables.detail.addRoute' | translate"
                  class="routing-table-modal-input"></mss-button>
    </div>
  </form>
</mss-modal-window>

