<div class="mss-view-container">
  <div class="mss-header-row">
    <span class="mss-title">{{'imports.list.title' | translate}}</span>
    <mss-button class="mss-action-button" [label]="'imports.list.addImport' | translate"
                (click)="newImportModalVisible = true"></mss-button>
  </div>

  <div class="data-table-container">
    <ngx-datatable #table [loadingIndicator]="loading" [columnMode]="'force'" [rows]="tableRows"
                   [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                   [externalPaging]="true" [limit]="rowLimit"
                   [externalSorting]="true" (sort)="getSortedImports($event)"
                   [selectionType]="'single'"
                   (activate)="goToDetail($event.row.name)"
                   [count]="totalItems " (page)="setPage($event)">
      <ngx-datatable-column [name]="'basic.name' | translate" prop="name" [sortable]="true"
                            [cellClass]="'mss-click-able'"></ngx-datatable-column>
      <ngx-datatable-column [name]="'imports.dictionary.nameRead' | translate" prop="nameRead" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column [name]="'imports.dictionary.runAfterStart' | translate" prop="runAfterStart" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{value ? ('basic.yes' | translate) : ('basic.no' | translate)}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'imports.dictionary.running' | translate" prop="running" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{value ? ('basic.yes' | translate) : ('basic.no' | translate)}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'imports.dictionary.type' | translate" prop="type" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.delete' | translate" [sortable]="false" [width]="40">
        <ng-template ngx-datatable-cell-template let-row="row">
          <div class="edit-buttons-container">
            <i (click)="showDeleteModal($event,row.name)" class="material-icons icon">clear</i>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.action' | translate" prop="running" [sortable]="false" [width]="40">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <div class="edit-buttons-container">
            <i (click)="toggle($event,row)" class="material-icons icon">{{value ? 'stop' : 'play_arrow'}}</i>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template>
          <mss-table-footer
            [page]="pageNumber"
            [rowsShown]="rowLimit"
            [rowCount]="totalItems"
            (rowsShownChange)="itemsPerPage($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>

<mss-modal-window [(visible)]="newImportModalVisible">
  <div class="mss-view-container">
    <h3 class="mss-modal-title">{{'imports.list.addImport' | translate}}</h3>
    <form [formGroup]="newImportForm" (ngSubmit)="addNewImport()">
      <mss-input [label]="('basic.name' | translate) + '*'" [warn]="isPresent('name')" formControlName="name"></mss-input>
      <div class="mss-validation-label"><span *ngIf="isPresent('name')">{{'basic.required.name' | translate}}</span></div>
      <mss-input [label]="'imports.dictionary.nameRead' | translate" [warn]="isPresent('nameRead')" formControlName="nameRead"></mss-input>
      <div class="mss-validation-label"><span *ngIf="isPresent('nameRead')">{{'imports.dictionary.nameRead' | translate}}</span></div>
      <mss-checkbox formControlName="runAfterStart" [label]="'imports.dictionary.runAfterStart' | translate"></mss-checkbox>
      <mss-select [label]="'imports.dictionary.type' | translate" formControlName="type" [options]="importTypes"></mss-select>
      <div class="buttons">
        <mss-button class="button" (click)="newImportModalVisible = false" type="button" [label]="'basic.dismiss' | translate"></mss-button>
        <mss-button class="button" [disabled]="newImportForm.invalid" [label]="'imports.list.addImport' | translate"
                    type="submit"></mss-button>
      </div>
    </form>
  </div>
</mss-modal-window>

<mss-modal-window [(visible)]="deleteModalVisible">
  <div class="mss-view-container">
    <h3 class="mss-modal-title">
      {{'imports.list.deleteQuestion' | translate}}
    </h3>

    <div class="buttons">
      <mss-button class="button" (click)="deleteModalVisible = false" [label]="'basic.dismiss' | translate"></mss-button>
      <mss-button class="button" (click)="deleteImport()" [label]="'basic.yes' | translate"></mss-button>
    </div>
  </div>
</mss-modal-window>
