@import 'theme';

.icon {
  cursor: pointer;
}

.row {
  display: flex;

  &.filter-container {
    justify-content: space-between;
    align-items: center;
  }

  &.wrapped {
    flex-wrap: wrap;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .filter-item {
    margin-right: 30px;
    width: $default-input-width;
    margin-bottom: 6px;
  }
}