// ---------------- general ----------------

$primary-color: #ec1c2d;
$secondary-color: #4a4a4a;
$contrast-color: #ffffff;
$warn-color: #b00b13;
$disabled-color: #aaaaaa;
$default-component-background-color: #ffffff;
$content-background-color: #f2f2f2;
$primary-text-color: #747474;
$positive-number-color: #6ab11d;
$negative-number-color: $warn-color;
$data-table-hover-color: #f2f2f2;

$animation-time: 0.25s;

$default-margin: 12px;
$default-padding: 12px;
$default-component-height: 46px;
$default-input-width: 500px;
$default-label-width: 136px;
$default-input-width-label-top: $default-input-width - $default-label-width;

$modal-window-z-index: 999;

@mixin default-component-label {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: $primary-text-color;
  overflow: hidden;
}

// ---------------- autocomplete-input ----------------

@mixin mss-autocomplete-container {
  position: relative;
  display: inline-block;
}

@mixin mss-upper-z-index {
  z-index: 4;
}

// ---------------- avatar ----------------

@mixin mss-avatar {
  border-radius: 50%;
}

// ---------------- button ----------------

$button-color: $primary-color;

@mixin mss-button {
  width: 100%;
  height: 100%;

  padding: $default-padding;
  border: none;
  border-radius: 5px;

  background-color: $button-color;
  color: $contrast-color;

  box-shadow: none;

  cursor: pointer;

  &:hover {
    background-color: lighten($button-color, 10%);
  }

  &:active {
    background-color: darken($button-color, 10%);
  }
}

@mixin mss-button-disabled {
  opacity: 0.5;
  cursor: default;

  &:hover {
    background-color: $button-color;
  }

  &:active {
    background-color: $button-color;
  }
}

@mixin mss-button-content {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  user-select: none;
}

@mixin mss-button-icon {
  height: 16px;
  width: 16px;
  font-size: 16px;

  margin: 0 6px;
}

// ---------------- checkbox ----------------

$checkbox-size: 18px;

@mixin mss-checkbox-container {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

@mixin mss-checkbox {
  height: $checkbox-size;
  width: $checkbox-size;

  background-color: $default-component-background-color;

  border: 1px solid $secondary-color;
  border-radius: 2px;

  &::after {
    position: relative;
    left: 5px;
    display: block;
    content: '';
    width: 5px;
    height: 10px;
    transform: rotate(45deg);
    border: transparent;
    transition: border 0.2s;
  }
}

@mixin mss-checkbox-checked {
  &::after {
    border-right: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
  }
}

@mixin mss-checkbox-label {
  @include default-component-label;

  width: $default-label-width;
}

// ---------------- data-table ----------------

$header-background-color: #d7d7d7;
$header-text-color: #888888;
$row-text-color: $primary-text-color;
$item-padding: 12px;
$pages-padding: 8px 13px;
$pager-active-color: #4c4c4c;

@mixin mss-arrows-disabled {
  display: none !important;
}

@mixin mss-arrow-position-fix {
  position: relative;
  top: 2px;
}

@mixin mss-contrast-link {
  color: $contrast-color;
  background-color: $pager-active-color;
}

@mixin mss-datatable-header-cell {
  white-space: normal !important;
  padding: $item-padding;
}

@mixin mss-header-row-center {
  display: flex;
  align-items: center;
  width: auto !important;
}

@mixin mss-header-inner {
  width: auto !important;
}

@mixin mss-data-table {
  width: 100%;
  margin-top: $default-margin;
  overflow: visible !important;
}

@mixin mss-datatable-header {
  background-color: $header-background-color;
  color: $header-text-color;
  font-weight: 600;
  display: flex !important;
  align-items: center;
}

@mixin mss-datatable-header-sortable {
  .datatable-header-cell-label {
    text-decoration: underline;
  }

  .sort-btn::before {
    font-family: 'data-table';
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    speak: none;
    line-height: 1;
    content: 'e';
    -webkit-font-smoothing: antialiased;
  }
}

@mixin mss-datatable-body-row {
  background-color: $contrast-color;
  color: $row-text-color;

  &:hover {
    background-color: rgba($row-text-color, 0.05);
    cursor: pointer;
  }
}

@mixin mss-datatable-row-wrapper {
  &:not(:last-child) {
    .datatable-body-row {
      border-bottom: 1px solid $header-background-color;
    }
  }
}

@mixin mss-datatable-body-cell {
  display: flex !important;
  align-items: center;
  padding: $item-padding;
  user-select: text !important;
}

@mixin datatable-body-cell-label {
  width: 100%;
}

@mixin mss-page-count {
  display: none;
}

@mixin mss-datatable-footer {
  margin-top: 20px;
}

@mixin mss-datatable-icon-right {
  display: flex !important;
  align-items: baseline;

  &::before {
    content: 'Další';
    padding-right: 20px;
  }
}

@mixin mss-datatable-icon-left {
  display: flex !important;
  align-items: baseline;

  &::after {
    content: 'Předchozí';
    padding-left: 20px;
  }
}

@mixin mss-datatable-row-break($column-count, $has-options) {
  $options-cell-width: 100px;

  /deep/ {
    .datatable-scroll {
      width: 100% !important;
    }

    .datatable-body-row {
      width: 100% !important;
    }

    .datatable-header-cell {
      padding: 0 10px !important;
    }

    .datatable-body-cell, .datatable-header-cell {
      flex: 0 0 #{2 * percentage(1 / (ceil($column-count / 2) * 2))} !important;
      width: auto !important;
      overflow: hidden !important;

      @if ($has-options) {
        &:last-child {
          position: absolute !important;
          right: -$options-cell-width !important;
          top: 0 !important;
          width: $options-cell-width !important;
          height: 100% !important;
        }
      }
    }

    .datatable-row-center {
      display: flex !important;
      flex-wrap: wrap !important;
      position: relative !important;
      width: 100% !important;

      @if ($has-options) {
        width: calc(100% - #{$options-cell-width}) !important;
      }
    }
  }
}

@mixin mss-datatable-pager {
  text-align: left !important;
}

@mixin mss-pager-pages {
  margin-right: 10px !important;
}

@mixin mss-page-link {
  padding: $pages-padding !important;
  background-color: $contrast-color;
  border-radius: 5px;
  text-decoration: none;
  color: $pager-active-color;
  font-weight: 600;
}

@mixin mss-datatable-row-detail {
  background-color: rgba($header-background-color, 0.5);
  overflow: visible !important;
}

@mixin mss-skip-buttons {
  display: none !important;
}

@mixin mss-resize-handle {
  display: none !important;
}

// ---------------- date picker ----------------

$calendar-day-size: 27px;
$date-picker-main-color: $secondary-color;
$date-picker-selected-date-color: $primary-color;

@mixin mss-date-picker-container {
  background-color: $default-component-background-color;
  overflow: hidden;

  &.bordered {
    border-radius: 5px;
  }
}

@mixin mss-month-select-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $default-padding;
  background-color: $date-picker-main-color;
  color: $contrast-color;
}

@mixin mss-arrow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
  height: 25px;
  width: 25px;
  margin: 0 6px;

  &:hover {
    background-color: rgba(#ffffff, 0.1);
  }

  &:active {
    background-color: rgba(#ffffff, 0.2);
  }
}

@mixin mss-picked-month-label {
  @include default-component-label;

  color: $contrast-color;
}

@mixin mss-date-picker-calendar {
  display: flex;
  flex-direction: column;
  padding: 11px;

  &.bordered {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid $date-picker-main-color;
  }
}

@mixin mss-date-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin mss-header-row {
  border-bottom: 1px solid #000000;
}

@mixin mss-header-day {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: $calendar-day-size;
  height: $calendar-day-size;
}

@mixin mss-date-day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $calendar-day-size;
  height: $calendar-day-size;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;

  &.selectedDate {
    background-color: $date-picker-selected-date-color;
    color: $contrast-color;
    font-weight: 600;
  }

  &:hover {
    background-color: rgba($date-picker-selected-date-color, 0.5);
  }

  &:active {
    background-color: rgba($date-picker-selected-date-color, 0.6);
  }
}

// ---------------- date picker input ----------------

$date-input-height: $default-component-height;
$date-input-width: 100%;
$date-picker-icon-background-color: $secondary-color;

@mixin mss-date-picker-input-container {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  z-index: $modal-window-z-index;
}

@mixin mss-date-picker-overlay-active {
  pointer-events: auto;
}

@mixin mss-date-input-label {
  width: $date-input-width;
  height: $date-input-height;
  padding-left: 20px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $contrast-color;
  cursor: pointer;
  position: relative;
}

@mixin mss-calendar-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: $date-input-height;
  width: $date-input-height;
  background-color: $date-picker-icon-background-color;
  user-select: none;
}

@mixin mss-calendar-icon {
  color: $contrast-color;
  font-size: 20px;
}

@mixin mss-date-picker-dropdown-container {
  position: absolute;
  overflow: hidden;
  z-index: $modal-window-z-index - 1;
  padding-top: 10px;

  &.hidden {
    display: none;
  }
}

// ---------------- date-time input ------------

$extended-header-height: 49px;

@mixin mss-date-time-picker-pickers-container {
  display: flex;
  border: 1px solid $date-picker-main-color;
  border-radius: 5px 5px 8px 8px;
  overflow: hidden;
}

@mixin mss-date-time-picker-extended-header {
  height: $extended-header-height;
  background-color: $date-picker-main-color;
}

@mixin mss-date-time-picker-time-holder {
  background-color: $default-component-background-color;
  display: flex;
  height: calc(100% - #{$extended-header-height});
  flex-direction: column;
  justify-content: center;
}

// ---------------- footer ----------------

@mixin mss-footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin mss-page-container {
  display: flex;
  align-self: center;
}

@mixin mss-pages {
  background-color: #ffffff;
  border-radius: 5px;
  color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 11px;
  width: 100px;
  padding: 0 15px;
}

@mixin mss-page-input {
  width: 30px;
  border-bottom: 1px solid $secondary-color;
  text-align: center;
  font-size: 17px;
  color: $secondary-color;
  margin-right: 5px;
}

@mixin mss-page-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;

  &:hover {
    background-color: $secondary-color;

    .icon {
      filter: brightness(400%);
    }
  }

  &:not(:first-child) {
    margin-left: 11px;
  }
}

@mixin mss-pager-icon {
  width: 24px;
  height: 24px;

  &.smaller {
    width: 18px;
    height: 18px;
  }
}

@mixin mss-footer-select {
  width: 250px;
}

@mixin mss-disable-button {
  opacity: 0.7;
  cursor: default;

  &:hover {
    background-color: #ffffff;

    .icon {
      filter: none;
    }
  }
}

// ---------------- file-upload ----------------

@mixin mss-file-name {
  display: flex;
  flex-grow: 1;
  align-items: center;

  border: 1px solid $primary-color;
  background-color: $contrast-color;
  padding: 6px;

  overflow: hidden;
}

@mixin mss-file-upload-button {
  display: flex;
  height: 45px;
  align-items: center;

  padding: $default-padding;
  border: none;
  border-radius: 10px;
  color: $contrast-color;
  cursor: pointer;

  background-color: $primary-color;
}

@mixin mss-file-upload-icon {
  width: 20px;
  padding-right: 5px;
}

@mixin mss-file-upload-input {
  color: $contrast-color;
  cursor: pointer;

  display: flex;
  align-items: center;
  height: 45px;
  white-space: nowrap;

  background-color: $primary-color;

  padding: 6px;
}

@mixin mss-file-upload-container {
  @include default-component-label;

  display: flex;
  width: 100%;
}

// ---------------- input ----------------

$input-height: $default-component-height;
$input-width: 100%;
$border-color: #979797;

@mixin mss-input-container {
  display: flex;
  align-items: center;
}

@mixin mss-input-label-top {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

@mixin mss-input-label {
  @include default-component-label;

  display: block;
  min-width: $default-label-width;
  max-width: $default-label-width;
}

@mixin mss-input {
  height: $input-height;
  width: $input-width;
  padding: 13px 21px;
  border: 1px solid $border-color;
  border-radius: 5px;

  font-size: 14px;
  font-weight: 400;

  color: $primary-text-color;
  background-color: $default-component-background-color;

  &::placeholder {
    color: #cdcdcd;
    font-style: italic;
  }
}

@mixin mss-input-warn {
  border-color: $warn-color;
}

// ---------------- multiselect ----------------
$multiselect-height: $input-height;

@mixin mass-multiselect-arrow {
  width: 14px;
  height: 14px;
  margin-left: 10px;
  transition: transform $animation-time;
}

@mixin mss-multiselect-button {
  @include default-component-label;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: $select-height;
  cursor: pointer;
  border-radius: 5px;
  background-color: $default-component-background-color;
  padding: 0 $default-padding;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);

  &:hover {
    background-color: rgba($primary-text-color, 0.2);
  }
}

@mixin mss-multiselect-button-small {
  font-size: 14px;
  border: none;
  color: $row-text-color;
  box-shadow: none;
  height: 26px;
}

@mixin mss-multiselect-button-disabled {
  background-color: $disabled-color;
}

@mixin mss-multiselect-container {
  display: flex;

  &.left {
    align-items: center;
  }

  &.top {
    flex-direction: column;
  }
}

@mixin mss-multiselect-clear-container {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 0.5px solid $primary-text-color;
  margin-left: 5px;
  padding-left: 10px;
}

@mixin mss-multiselect-clear {
  transform: rotate(45deg);
  font-size: 30px;
  line-height: 1;
  font-weight: 300;
  color: $primary-text-color;
}

@mixin mss-multiselect-label {
  @include default-component-label;

  &.left {
    min-width: $default-label-width;
    max-width: $default-label-width;
  }

  &.top {
    margin-bottom: 10px;
  }
}

@mixin mss-multiselect-inner-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

@mixin mss-multiselect-content {
  position: absolute;
  z-index: 4;
  max-height: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transition: max-height $animation-time;
  background-color: $default-component-background-color;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  margin-top: 2px;
}

@mixin mss-show-multiselect {
  max-height: 250px;
}

@mixin mss-multiselect-option {
  padding: $default-padding;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

@mixin mss-key-multiselect-option {
  color: $primary-color;
  background-color: rgba($disabled-color, 0.2);
}

@mixin mss-multiselect-overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

@mixin mss-multiselect-selected-option {
  background-color: $disabled-color;
}

@mixin mss-multiselect-select-icon {
  height: $checkbox-size;
  width: $checkbox-size;

  &::after {
    position: relative;
    left: 5px;
    display: block;
    content: '';
    width: 5px;
    height: 10px;
    transform: rotate(45deg);
    border: transparent;
    transition: border 0.2s;
    border-right: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
  }
}

@mixin multiselect-selected-items-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// ---------------- select ----------------
$select-height: $input-height;

@mixin mss-arrow-rotate {
  transform: rotate(90deg);
}

@mixin mass-select-arrow {
  width: 14px;
  height: 14px;
  margin-left: 10px;
  transition: transform $animation-time;
}

@mixin mss-select-button {
  @include default-component-label;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: $select-height;
  cursor: pointer;
  border-radius: 5px;
  background-color: $default-component-background-color;
  padding: 0 $default-padding;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);

  &:hover {
    background-color: rgba($primary-text-color, 0.2);
  }
}

@mixin mss-select-button-small {
  font-size: 14px;
  border: none;
  color: $row-text-color;
  box-shadow: none;
  height: 26px;
}

@mixin mss-select-action-container {
  display: flex;
  align-items: center;
}

@mixin mss-select-button-disabled {
  background-color: $disabled-color;
}

@mixin mss-select-container {
  display: flex;

  &.left {
    align-items: center;
  }

  &.top {
    flex-direction: column;
  }
}

@mixin mss-select-clear-container {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 0.5px solid $primary-text-color;
  margin-left: 5px;
  padding-left: 10px;
}

@mixin mss-select-clear {
  transform: rotate(45deg);
  font-size: 30px;
  line-height: 1;
  font-weight: 300;
  color: $primary-text-color;
}

@mixin mss-select-label {
  @include default-component-label;

  &.left {
    min-width: $default-label-width;
    max-width: $default-label-width;
  }

  &.top {
    margin-bottom: 10px;
  }
}

@mixin mss-select-inner-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

@mixin mss-select-content {
  position: absolute;
  z-index: 4;
  max-height: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transition: max-height $animation-time;
  background-color: $default-component-background-color;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  margin-top: 2px;
}

@mixin mss-show-select {
  max-height: 250px;
}

@mixin mss-select-option {
  padding: $default-padding;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

@mixin mss-key-select-option {
  color: $primary-color;
  background-color: rgba($disabled-color, 0.2);
}

@mixin mss-select-overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

// ---------------- modal window ----------------

@mixin mss-modal-window-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: calc(#{$modal-window-z-index} - 2);
}

@mixin mss-modal-window-overlay-active {
  background-color: rgba($disabled-color, 0.6);
  pointer-events: auto;
}

@mixin mss-modal-window {
  pointer-events: auto;
  position: relative;
  background-color: $default-component-background-color;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: $modal-window-z-index;
}

// ---------------- progress bar ----------------

$progress-bar-height: 16px;

@mixin mss-progress-bar-container {
  width: 500px;
  height: $progress-bar-height;
  background-color: $default-component-background-color;
  border-radius: $progress-bar-height;
  box-shadow: none;
  padding: $progress-bar-height * 0.2;
  margin: $default-margin;
  box-sizing: content-box;
}

@mixin mss-progress-bar {
  background-color: $primary-color;
  height: $progress-bar-height;
  border-radius: $progress-bar-height / 2;
}

// ---------------- radio-button-group ----------------

$radio-size: 20px;
$inactive-color: rgba(0, 0, 0, 0.54);

@mixin mss-radio-button-group {
  display: flex;
  flex-direction: column;
}

@mixin mss-radio-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

@mixin mss-radio-button {
  position: relative;
  margin-right: $radio-size;
  display: inline-block;
  height: $radio-size;
  width: $radio-size;
}

@mixin mss-inner-radio {
  background-color: $primary-color;
  transform: scale(0);
  border: none;
}

@mixin mss-inner-scale {
  transform: scale(0.5);
}

@mixin mss-primary-checked-border {
  border-color: $primary-color;
}

@mixin mss-radio {
  transition: transform $animation-time ease-out;
  width: $radio-size;
  height: $radio-size;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid $inactive-color;
}

// ---------------- slider ----------------

$slider-width: 160px;
$slider-base-height: 10px;
$slider-button-size: 22px;
$slider-padding: $default-padding;

@mixin mss-slider-container {
  padding: $slider-padding;
  position: relative;
  width: $slider-width;

  &.grabbing {
    cursor: grabbing;
  }
}

@mixin mss-slider {
  position: relative;
  pointer-events: none;
}

@mixin mss-slider-base {
  position: relative;

  width: $slider-width;
  height: $slider-base-height;
  border-radius: $slider-base-height / 2;
  background-color: $disabled-color;
  pointer-events: none;
}

@mixin mss-slider-filled {
  position: absolute;
  left: 0;
  top: 0;

  height: $slider-base-height;
  border-radius: $slider-base-height / 2;
  background-color: $primary-color;
  pointer-events: none;
}

@mixin mss-slider-button {
  position: absolute;
  top: (-$slider-button-size / 2) + ($slider-base-height / 2);

  height: $slider-button-size;
  width: $slider-button-size;
  border-radius: 50%;
  background-color: $contrast-color;
  cursor: grab;
  pointer-events: auto;

  &.grabbing {
    cursor: grabbing;
  }
}

// ---------------- tabs ----------------

@mixin mss-tabs-container {
  background-color: $default-component-background-color;
  width: 100%;
}

@mixin mss-tabs-header-row {
  height: 41px;
  width: 100%;
  display: flex;
}

@mixin mss-tabs-item {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $default-component-background-color;
  color: $primary-text-color;
  text-transform: uppercase;
  font-size: 16px;

  &.selected {
    background-color: $default-component-background-color;
  }
}

@mixin mss-tabs-line {
  height: 5px;
  background-color: $primary-color;
  position: relative;
  transition: left 0.5s;
}

// ---------------- time picker ----------------

@mixin mss-time-picker-container {
  background-color: $default-component-background-color;
  padding: $default-padding;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
}

@mixin mss-unit-picker-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin mss-time-picker-arrow-button {
  user-select: none;
  cursor: pointer;

  &.arrow-down {
    transform: rotate(180deg);
  }
}

@mixin mss-time-unit-value {
  font-size: 18px;
  font-weight: 600;
}

@mixin mss-clock-divider {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ---------------- toggle ----------------

$toggle-button-size: 20px;
$toggle-width: 44px;
$toggle-padding: 2px;
$toggle-transition-time: 0.3s;
$toggle-height: $input-height;

@mixin mss-toggle-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  height: $toggle-height;
}

@mixin mss-toggle-background {
  height: calc(#{$toggle-button-size} + #{$toggle-padding * 2});
  width: $toggle-width;
  background-color: $disabled-color;
  border-radius: $toggle-button-size;
  padding: $toggle-padding;
  transition: background-color $toggle-transition-time;
}

@mixin mss-toggle-background-toggled {
  background-color: $primary-color;
}

@mixin mss-toggle-button {
  position: relative;
  left: 0;
  height: $toggle-button-size;
  width: $toggle-button-size;
  border-radius: 50%;
  background-color: $contrast-color;
  transition: left $toggle-transition-time;
}

@mixin mss-toggle-button-toggled {
  left: $toggle-width - $toggle-button-size - $toggle-padding * 2;
}

@mixin mss-toggle-label {
  @include default-component-label;

  width: $default-label-width;
}

// ---------------- toolbar ----------------

$top-toolbar-height: 60px;
$side-toolbar-width: 236px;

$toolbar-text-color: #a8a8a8;

@mixin mss-toolbar-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $default-component-background-color;
  padding: 28px;
  box-sizing: border-box;
  box-shadow: 0 2px 33px 0 rgba(0, 0, 0, 0.08);
}

@mixin mss-top {
  display: flex;
  justify-content: flex-start;
  height: $top-toolbar-height;
  width: 100%;
  align-items: center;
}

@mixin mss-side {
  width: $side-toolbar-width;
  height: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin mss-toolbar-item {
  display: flex;
  align-items: center;

  color: $toolbar-text-color;
  padding: $default-padding;
  cursor: pointer;
  user-select: none;

  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: rgba($primary-color, 0.6);
  }
}

@mixin mss-toolbar-active-item {
  color: $primary-color;
}

@mixin mss-toolbar-item-icon {
  margin-right: 20px;
  font-size: 25px;
}

//not used in gastrocard because it has both side and top toolbar
@mixin mss-content-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $content-background-color;

  &.top-toolbar {
    left: 0;
    top: $top-toolbar-height;
    height: calc(100% - #{$top-toolbar-height});
  }

  &.side-toolbar {
    top: 0;
    left: $side-toolbar-width;
    width: calc(100% - #{$side-toolbar-width});
  }
}

@mixin mss-toolbar-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin mss-toolbar-logo {
  width: 125px;
  margin-top: 24px;
  margin-bottom: 48px;
}

@mixin mss-toolbar-name {
  font-size: 18px;
  color: $primary-text-color;
  margin-top: 15px;
  margin-bottom: 50px;
}
