// Global defaults

* {
  font-family: 'Roboto', sans-serif;
}

$default-background-color: #ffffff;
$primary-color: #492578;
$contrast-color: #ffffff;
$warn-color: #b00b13;
$disabled-color: #aaaaaa;
$animation-time: 0.25s;

$default-margin: 12px;
$default-padding: 12px;

@mixin default-component-label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

// ---------------- autocomplete-input ----------------

@mixin mss-autocomplete-container {
  position: relative;
  display: inline-block;
}

@mixin mss-upper-z-index {
  z-index: 4;
}

// ---------------- avatar ----------------

@mixin mss-avatar {
  border-radius: 50%;
}

// ---------------- button ----------------

@mixin mss-button {
  width: auto;
  height: auto;

  margin: $default-margin;
  padding: $default-padding;
  border: none;
  border-radius: 10px;

  background-color: $primary-color;
  color: $contrast-color;

  box-shadow: none;
  outline: none;

  cursor: pointer;

  &:hover {
    background-color: lighten($primary-color, 10%);
  }

  &:active {
    background-color: darken($primary-color, 10%);
  }

}

@mixin mss-button-content {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  user-select: none;
}

@mixin mss-button-icon {
  height: 16px;
  width: 16px;

  margin: 0 6px;
}

// ---------------- checkbox ----------------

$checkbox-size: 15px;

@mixin mss-checkbox-container {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;

  margin: $default-margin;
}

@mixin mss-checkbox {
  height: $checkbox-size;
  width: $checkbox-size;

  background-color: $contrast-color;

  border: 1px solid $primary-color;
  border-radius: 2px;

  outline: none;
  margin-right: 10px;

  &::after {
    position: relative;
    left: 5px;
    display: block;
    content: '';
    width: 4px;
    height: 9px;
    transform: rotate(45deg);
    border: transparent;
    transition: border 0.2s;
  }

}

@mixin mss-checkbox-checked {
  &::after {
    border-right: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
  }
}

@mixin mss-checkbox-label {
  @include default-component-label;
}

// ---------------- data-table ----------------

$header-background-color: #D7D7D7;
$header-text-color: #888888;
$row-text-color: #747474;
$side-padding: 20px;
$pages-padding: 8px 13px;
$pager-active-color: #4C4C4C;

@mixin mss-arrows-disabled {
  display: none !important;
}

@mixin mss-arrow-position-fix {
  position: relative;
  top: 2px;
}

@mixin mss-contrast-link {
  color: $contrast-color;
  background-color: $pager-active-color;
}

@mixin mss-data-table-container {
  width: 850px;
  position: relative;
}

@mixin mss-data-table {
  width: 100%;
  margin-top: $default-margin;
}

@mixin mss-datatable-header {
  background-color: $header-background-color;
  color: $header-text-color;
  font-weight: 600;
  display: flex !important;
  align-items: center;
  padding: 0 $side-padding;
}

@mixin mss-datatable-body-row {
  background-color: $contrast-color;
  padding: 0 $side-padding;
  color: $row-text-color;
}

@mixin mss-datatable-row-wrapper {
  &:not(:last-child) {
    border-bottom: 1px solid $header-background-color;
  }
}

@mixin mss-datatable-body-cell {
  display: flex !important;
  align-items: center;
  padding: 10px;
  user-select: text !important;
}

@mixin mss-page-count {
  display: none;
}

@mixin mss-datatable-footer {
  margin-top: 20px;
}

@mixin mss-datatable-icon-right {
  display: flex !important;
  align-items: baseline;
  &::before {
    content: 'Další';
    padding-right: 20px;
  }
}

@mixin mss-datatable-icon-left {
  display: flex !important;
  align-items: baseline;
  &::after {
    content: 'Předchozí';
    padding-left: 20px;
  }
}

@mixin mss-datatable-pager {
  text-align: left !important;
}

@mixin mss-pager-pages {
  margin-right: 10px !important;
}

@mixin mss-page-link {
  padding: $pages-padding !important;
  background-color: $contrast-color;
  border-radius: 5px;
  text-decoration: none;
  color: $pager-active-color;
  font-weight: 600;
}

@mixin mss-skip-buttons {
  display: none !important;
}

@mixin mss-data-table-select {
  position: absolute;
  right: 0;
  top: calc(100% - 45px);
}

@mixin mss-table-female {
  color: red;
}

@mixin mss-resize-handle {
  display: none !important;
}

// ---------------- date picker ----------------

$calendar-day-size: 30px;

@mixin mss-date-picker-container {
  background-color: $default-background-color;
  border-radius: 8px;
  overflow: hidden;
}

@mixin mss-month-select-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $default-padding;
  background-color: $primary-color;
  color: $contrast-color;
}

@mixin mss-arrow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
  height: 25px;
  width: 25px;
  margin: 0 6px;

  &:hover {
    background-color: rgba(white, 0.1);
  }

  &:active {
    background-color: rgba(white, 0.2);
  }
}

@mixin mss-picked-month-label {
  @include default-component-label;
}

@mixin mss-date-picker-calendar {
  display: flex;
  flex-direction: column;
  padding: $default-padding;
}

@mixin mss-date-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin mss-header-row {
  border-bottom: 1px solid black;
}

@mixin mss-header-day {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: $calendar-day-size;
  height: $calendar-day-size;
}

@mixin mss-date-day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $calendar-day-size;
  height: $calendar-day-size;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;

  &.selectedDate {
    background-color: $primary-color;
    color: $contrast-color;
    font-weight: 600;
  }

  &:hover {
    background-color: rgba($primary-color, 0.5);
  }

  &:active {
    background-color: rgba($primary-color, 0.6);
  }

}

// ---------------- file-upload ----------------

@mixin mss-file-name {
  display: flex;
  flex-grow: 1;
  align-items: center;

  border: 1px solid $primary-color;
  background-color: $contrast-color;
  padding: 6px;

  overflow: hidden;
}

@mixin mss-file-upload-button {
  display: flex;
  height: 25px;
  align-items: center;

  padding: $default-padding;
  border: none;
  border-radius: 10px;
  color: $contrast-color;
  cursor: pointer;

  background-color: $primary-color;
}

@mixin mss-file-upload-icon {
  width: 20px;
  padding-right: 5px;
}

@mixin mss-file-upload-input {
  color: $contrast-color;
  cursor: pointer;

  display: flex;
  align-items: center;
  height: 25px;
  white-space: nowrap;

  background-color: $primary-color;

  padding: 6px;
}

@mixin mss-file-upload-container {
  @include default-component-label;

  display: flex;
  width: 250px;
}

// ---------------- input ----------------

$input-height: 25px;
$input-width: 250px;

@mixin mss-input-container {
  display: flex;
  align-items: center;
}

@mixin mss-input-label {
  @include default-component-label;
  display: block;
  width: 130px;
}

@mixin mss-input {
  height: $input-height;
  width: $input-width;
  padding: 6px;
  outline: none;
  border: none;
  box-shadow: inset 0 0 3px $primary-color;

  font-size: 14px;
  font-weight: 400;
}

// ---------------- select ----------------

@mixin mss-arrow-rotate {
  transform: rotate(90deg);
}

@mixin mass-select-arrow {
  width: 14px;
  height: 14px;
  margin-left: 10px;
  transition: transform $animation-time;
}

@mixin mss-select-button {
  @include default-component-label;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 250px; // change it to 100% if you want to give it size from upper component
  height: 100%;
  cursor: pointer;
  outline: none;
  border: 1px solid $primary-color;
  background-color: $contrast-color;
  padding: $default-padding;

}

@mixin mss-select-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

@mixin mss-select-content {
  position: absolute;
  z-index: 4;
  max-height: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transition: max-height $animation-time;
  background-color: $contrast-color;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

@mixin mss-show-select {
  max-height: 250px;
}

@mixin mss-select-option {
  padding: $default-padding;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

@mixin mss-key-select-option {
  color: $primary-color;
  background-color: rgba($disabled-color, 0.2);
}

@mixin mss-select-overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

// ---------------- modal window ----------------

@mixin mss-modal-window-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mss-modal-window-overlay-active {
  background-color: rgba($disabled-color, 0.6);
  pointer-events: auto;
}

@mixin mss-modal-window {
  pointer-events: auto;
  position: relative;
  background-color: $default-background-color;
  padding: 24px;
  border-radius: 5px;
  max-width: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

// ---------------- progress bar ----------------

$progress-bar-height: 16px;

@mixin mss-progress-bar-container {
  width: 500px;
  height: $progress-bar-height;
  background-color: $default-background-color;
  border-radius: $progress-bar-height;
  box-shadow: none;
  padding: $progress-bar-height * 0.2;
  margin: $default-margin;
}

@mixin mss-progress-bar {
  background-color: $primary-color;
  height: $progress-bar-height;
  border-radius: $progress-bar-height / 2;
}

// ---------------- radio-button-group ----------------

$radio-size: 20px;
$inactive-color: rgba(0, 0, 0, 0.54);

@mixin mss-radio-button-group {
  display: flex;
  flex-direction: column;
}

@mixin mss-radio-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

@mixin mss-radio-button {
  position: relative;
  margin-right: $radio-size;
  display: inline-block;
  height: $radio-size;
  width: $radio-size;
}

@mixin mss-inner-radio {
  background-color: $primary-color;
  transform: scale(0);
  border: none;
}

@mixin mss-inner-scale {
  transform: scale(.5);
}

@mixin mss-primary-checked-border {
  border-color: $primary-color;
}

@mixin mss-radio {
  transition: transform $animation-time ease-out;
  width: $radio-size;
  height: $radio-size;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid $inactive-color;
}

// ---------------- slider ----------------

$slider-width: 160px;
$slider-base-height: 10px;
$slider-button-size: 22px;
$slider-padding: $default-padding;

@mixin mss-slider-container {
  padding: $slider-padding;
  position: relative;
  width: $slider-width;

  &.grabbing {
    cursor: grabbing;
  }
}

@mixin mss-slider {
  position: relative;
  pointer-events: none;
}

@mixin mss-slider-base {
  position: relative;

  width: $slider-width;
  height: $slider-base-height;
  border-radius: $slider-base-height / 2;
  background-color: $disabled-color;
  pointer-events: none;
}

@mixin mss-slider-filled {
  position: absolute;
  left: 0;
  top: 0;

  height: $slider-base-height;
  border-radius: $slider-base-height / 2;
  background-color: $primary-color;
  pointer-events: none;
}

@mixin mss-slider-button {
  position: absolute;
  top: (-$slider-button-size / 2) + ($slider-base-height / 2);

  height: $slider-button-size;
  width: $slider-button-size;
  border-radius: 50%;
  background-color: $contrast-color;
  cursor: grab;
  pointer-events: auto;

  &.grabbing {
    cursor: grabbing;
  }
}

// ---------------- toggle ----------------

$toggle-button-size: 20px;
$toggle-width: 40px;
$toggle-transition-time: .5s;

@mixin mss-toggle-container {
  margin: $default-margin;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

@mixin mss-toggle-background {
  height: $toggle-button-size;
  width: $toggle-width;
  background-color: $disabled-color;
  border-radius: $toggle-button-size;
  padding: $toggle-button-size * 0.1;
  margin-right: 10px;
  transition: background-color $toggle-transition-time;
}

@mixin mss-toggle-background-toggled {
  background-color: $primary-color;
}

@mixin mss-toggle-button {
  position: relative;
  left: 0;
  height: $toggle-button-size;
  width: $toggle-button-size;
  border-radius: 50%;
  background-color: $contrast-color;
  transition: left $toggle-transition-time;
}

@mixin mss-toggle-button-toggled {
  left: $toggle-width - $toggle-button-size;
}

@mixin mss-toggle-label {
  @include default-component-label;
}

// ---------------- toolbar ----------------

$toolbar-height: 60px;

@mixin mss-toolbar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: $toolbar-height;
  width: 100%;
  background-color: $primary-color;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: $default-padding;
  box-sizing: border-box;
}

@mixin mss-toolbar-item {
  color: $contrast-color;
  padding: $default-padding;
  cursor: pointer;
  user-select: none;

  font-size: 16px;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    background-color: rgba($contrast-color, 0.1);
  }

  &:active {
    background-color: rgba($contrast-color, 0.2);
  }
}

@mixin mss-content-container {
  position: absolute;
  top: $toolbar-height;
  left: 0;
}
