@import 'theme';

.ngx-datatable {
  @include mss-data-table;
}

.datatable-header-cell {
  @include mss-datatable-header-cell;
}

.resize-handle {
  @include mss-resize-handle;
}

.datatable-header {
  @include mss-datatable-header;

  .datatable-row-center {
    @include mss-header-row-center;
  }
}

.datatable-header-cell.sortable:not(.sort-active):hover {
  @include mss-datatable-header-sortable;
}

.datatable-body-row {
  @include mss-datatable-body-row;
}

.datatable-body-cell {
  @include mss-datatable-body-cell;
}

.datatable-body-cell-label {
  @include datatable-body-cell-label;
}

.page-count {
  @include mss-page-count;
}

.datatable-row-wrapper {
  @include mss-datatable-row-wrapper;
}

.datatable-footer {
  @include mss-datatable-footer;
}

/* stylelint-disable selector-no-type */

.datatable-pager {
  @include mss-datatable-pager;

  .disabled {
    @include mss-arrows-disabled;
  }

  li {
    &:first-child, &:last-child {
      @include mss-skip-buttons;
    }

    &:nth-child(2) {
      @include mss-pager-pages;

      a {
        @include mss-datatable-icon-left;

        .datatable-icon-left {
          @include mss-arrow-position-fix;
        }
      }
    }

    &:nth-last-child(2) {
      @include mss-pager-pages;

      a {
        @include mss-datatable-icon-right;

        .datatable-icon-right {
          @include mss-arrow-position-fix;
        }
      }
    }
  }

  .pages {
    @include mss-pager-pages;

    &.active {
      a {
        @include mss-contrast-link;
      }
    }
  }

  a {
    @include mss-page-link;
  }
}

.ngx-datatable .datatable-body .progress-linear {
  display: block;
  width: 100%;
  height: 5px;
  padding: 0;
  margin: 0;
  position: absolute;
}

.ngx-datatable .datatable-body .progress-linear .container {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 5px;
  transform: translate(0, 0) scale(1, 1);
  background-color: #aad1f9;
}

.ngx-datatable .datatable-body .progress-linear .container .bar {
  animation: query 0.8s infinite cubic-bezier(0.39, 0.57, 0.56, 1);
  transition: -webkit-transform 0.2s linear, transform 0.2s linear, all 0.2s linear;
  background-color: #106cc8;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
}

.d-table-footer {
  width: 100%;
}

.mss-datatable-state-value {
  color: $positive-number-color;

  &.disabled {
    color: $negative-number-color;
  }
}

.datatable-row-detail {
  @include mss-datatable-row-detail;
}
