@import 'theme';

body, html {
  height: 100%;
}

body {
  line-height: 1.2;
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

// stylelint-disable-next-line selector-no-type, rule-empty-line-before
input {
  border: none;
  background: none;
}

// view classes

.mss-view-container {
  padding: 20px 50px 40px 50px;
}

.mss-title {
  color: $secondary-color;
  font-size: 36px;
}

.mss-click-able {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.mss-form-container {
  display: flex;
  flex-direction: column;
  background-color: $default-background-color;
  padding: 35px;
}

.mss-validation-label {
  color: $warn-color;
  height: 18px;
  padding-top: 2px;
  font-size: 12px;
  text-align: right;
}

.mss-input-like-container {
  @include mss-input-container;

  .label {
    @include mss-input-label;
  }

  .value {
    @include mss-input;

    border: none;
  }
}

.mss-limited-text {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.mss-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.mss-modal-title {
  color: $primary-text-color;
  font-size: 25px;
  padding: 18px 0 18px 0;
}

.mss-action-button {
  width: 200px;
  min-width: 200px;
  height: 43px;

  &.bottom {
    align-self: flex-end;
  }

  &.right-margin {
    margin-right: $default-margin;
  }

  &.shifted {
    margin-left: 50px;
  }
}

.mss-buttons-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

// data-table related classes

.data-table-container {
  position: relative;
}

.table-input {
  background-color: transparent;
  border: none;
  color: $row-text-color;
  font-size: 14px;
}
