<div class="mss-view-container">
  <div class="header-row">
    <div class="mss-title">Kampaň - {{campaignName}}</div>
    <div class="button-container">
      <mss-button class="button right-margin" *ngIf="campaignDetail" [label]="campaignDetail.running ?  'Deaktivovat' : 'Aktivovat'"
                  (click)="toggleCampaign()"></mss-button>
      <mss-button class="button right-margin" (click)="modalVisible = true" label="Smazat kampaň"></mss-button>
      <mss-button class="button" [label]="editingCampaign ? 'Náhled' : 'Editovat'"
                  (click)="editingCampaign = !editingCampaign"></mss-button>
    </div>
  </div>

  <div class="content" *ngIf="campaignDetail && !editingCampaign">
    <div class="column">
      <div class="mss-input-like-container item">
        <div class="label">Jméno</div>
        <div class="value">{{campaignDetail.name}}</div>
      </div>
      <div class="mss-input-like-container item">
        <div class="label">Typ kampaně</div>
        <div class="value">{{campaignDetail.campaignName}}</div>
      </div>
    </div>
    <div class="column">
      <div class="mss-input-like-container item">
        <div class="label">Pořadí</div>
        <div class="value">{{campaignDetail.orderCampaign}}</div>
      </div>
      <div class="mss-input-like-container item">
        <div class="label">Spustit při startu</div>
        <div class="value">{{campaignDetail.runAfterStart ? 'Ano' : 'Ne'}}</div>
      </div>
    </div>
  </div>
  <form [formGroup]="campaingForm" (ngSubmit)="editCampaign()" *ngIf="campaignDetail && editingCampaign">
    <div class="content">
      <div class="column">
        <mss-input class="item" label="Jméno" formControlName="name"></mss-input>
        <mss-select class="item" [options]="campaignFactories" label="Typ kampaně" formControlName="campaignName"></mss-select>
      </div>
      <div class="column">
        <mss-input class="item" type="number" formControlName="orderCampaign" label="Pořadí"></mss-input>
        <mss-toggle label="Spustit při startu" formControlName="runAfterStart"></mss-toggle>
      </div>
    </div>
    <div class="button-container">
      <mss-button type="submit" class="button" label="Potvrdit editaci" [disabled]="campaingForm.invalid"></mss-button>
    </div>
  </form>

  <div class="properties">
    <div class="header-row">
      <div class="mss-title">Properties</div>
      <mss-button class="button" (click)="toggleProperties()"
                  [label]="editingProperties ? 'Náhled' : 'Editovat'"></mss-button>
    </div>
    <div class="content" *ngIf="!editingProperties">
      <div class="column " *ngIf="properties.length === 0">Tato kampaň zatím neobsahuje žádné properties.
      </div>
      <div class="column" *ngIf="properties.length > 0">
        <div class="mss-input-like-container item" *ngFor="let property of properties">
          <div class="label">{{property.pk.key}}</div>
          <div class="value">{{property.value}}</div>
        </div>
      </div>
      <div class="column"></div>
    </div>
    <form *ngIf="editingProperties && propertyForm" [formGroup]="propertyForm" (ngSubmit)="updateProperties()">
      <div class="content">
        <div class="column" *ngIf="propertyForm.value.length === 0">
          Tento typ kampaně neobsahuje žádné properties.
        </div>
        <div class="column" *ngIf="propertyForm.value.length > 0">
          <div *ngFor="let property of propertyForm.value; let i = index; trackBy: identifyProperty" [formGroupName]="i">
            <mss-input *ngIf="property.type === 'STRING'" [label]="property.key" formControlName="value"></mss-input>
            <mss-toggle *ngIf="property.type === 'BOOLEAN'" [label]="property.key" formControlName="value"></mss-toggle>
          </div>
        </div>
        <div class="column"></div>
      </div>
      <div class="button-container">
        <mss-button *ngIf="propertyForm.value.length > 0" [disabled]="propertyForm.invalid" class="button" label="Uložit"></mss-button>
      </div>
    </form>
  </div>
</div>

<mss-modal-window [(visible)]="modalVisible">
  <div class="mss-title">
    Opravdu chcete kampaň smazat?
  </div>
  <div class="button-container">
    <mss-button class="button right-margin" label="Ne" (click)="modalVisible = false"></mss-button>
    <mss-button class="button" label="Ano" (click)="deleteCampaign()"></mss-button>
  </div>
</mss-modal-window>
