@import 'theme';

$header-text-color: #4a4a4a;
$calendar-text-color: #747474;

.filter-container {
  display: flex;
  justify-content: space-between;
}

.filter-item {
  width: 500px;
  margin-bottom: 10px;
}

.row {
  display: flex;

  &.wrapped {
    flex-wrap: wrap;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .tab-content {
    display: flex;
    flex-direction: column;
    width: 500px;
  }
}

.form-item {
  margin-right: 60px;
  margin-bottom: 15px;
}

.right-padding-tabs {
  padding-right: 50px;
}

.content {
  padding: 40px 0 20px 0;
}
