<div [ngClass]="{'mss-view-container': !embeddedObject}">
  <div class="mss-header-row" *ngIf="!embeddedObject">
    <span class="mss-title">{{'cards.cardList.title' | translate}}</span>
  </div>

  <div class="row">
    <div class="column right-padding-tabs" [formGroup]="filterForm">
      <mss-tabs *ngIf="filterSections.length > 1" class="tabs" [items]="filterSections" (itemChanged)="visibleSection = $event"></mss-tabs>
      <div class="column" *ngIf="visibleSection.value ===  cardFilterSection.BASIC">
        <div class="row wrapped">
          <div class="tab-content">
            <mss-input [label]="'dictionary.cln' | translate" formControlName="cln"
                       class="mss-filter-item"></mss-input>
          </div>
          <div class="tab-content">
            <mss-input [label]="'cards.cardList.lastName' | translate" formControlName="lastname"
                       class="mss-filter-item"></mss-input>
          </div>
          <div class="tab-content">
            <mss-select
              [options]="cardStates"
              [label]="'cards.cardList.cardState' | translate"
              formControlName="state"
              [clearAble]="true"
              class="mss-filter-item"></mss-select>
          </div>
        </div>
      </div>
      <div class="content column" *ngIf="visibleSection.value ===  cardFilterSection.ISSUER">
        <div class="row wrapped">
          <ng-container *ngIf="!embeddedObject?.issuerCode && !embeddedObject?.cardGroupCode">
            <mss-select
              [label]="'dictionary.issuerCode' | translate"
              [options]="issuerCodes"
              [clearAble]="true"
              *mssRoleIf="'cards.issuerCodeSelect'"
              formControlName="issuerCode"
              (selectedOptionChange)="selectIssuerCode($event)"
              class="mss-filter-item">
            </mss-select>
          </ng-container>
          <ng-container *ngIf="!embeddedObject?.cardGroupCode">
            <mss-select
              [options]="cardGroupCodes"
              [clearAble]="true"
              *mssRoleIf="'cards.cardGroupCodeSelect'"
              [label]="'dictionary.cardGroupCode' | translate"
              formControlName="cardGroupCode"
              class="mss-filter-item">
            </mss-select>
          </ng-container>
        </div>
        <div class="row wrapped">
        </div>
      </div>
      <div class="mss-action-button">
        <mss-button [label]="'basic.search' | translate" (click)="getCards()"></mss-button>
      </div>
    </div>
    <mss-button [label]="'basic.clearFilter' | translate" class="mss-action-button" (click)="clearFilter()"></mss-button>
  </div>


  <div *ngIf="rows" class="data-table-container">
    <ngx-datatable #table [externalPaging]="true" [loadingIndicator]="loading" [count]="totalItems"
                   [columnMode]="'force'" [headerHeight]="70" [footerHeight]="50" [rowHeight]="'auto'"
                   (activate)="goToDetail($event)"
                   [externalSorting]="true"
                   (sort)="getSortedCards($event)"
                   [limit]="rowLimit" [rows]="rows" (page)="setPage($event)">
      <ngx-datatable-column [name]="'dictionary.cln'| translate" prop="cln" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.cardGroupName'| translate" prop="cardGroupName" [sortable]="false"></ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.expiryDate'| translate" prop="expiryDate"
                            [sortable]="true">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>{{getFormatedExpiration(value)}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.panSequenceNumber' | translate" prop="panSequenceNumber"
                            [sortable]="false"></ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.login' | translate" prop="login" [sortable]="false"></ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.firstName' | translate" prop="firstName" [sortable]="false"></ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.lastName' | translate" prop="lastName" [sortable]="false"></ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.state' | translate" prop="state" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span *ngIf="editingRow !== row.$$index" title="Double click to edit" (click)="$event.stopPropagation()"
                (dblclick)="startEditing(row, $event)">{{value}}</span>
          <mss-select (click)="$event.stopPropagation()" variant="small" *ngIf="editingRow === row.$$index" [options]="cardStates"
                      [(selectedOption)]="editedCard.state">
          </mss-select>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column *mssRoleIf="'createEdit.cardGroupCodeSelect'" [name]="'dictionary.cardGroupPrimaryCode' | translate"
                            prop="cardGroupPrimaryCode" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column *mssRoleIf="'createEdit.issuerCodeSelect'" [name]="'dictionary.issuerCode' | translate" prop="issuerCode"
                            [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column *mssRoleIf="'cards.servisCodeSelect'" [name]="'dictionary.serviceCode' | translate" prop="serviceCode"
                            [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column [name]="'cards.cardList.request' | translate" prop="processRequest"
                            [maxWidth]="190" *mssRoleIf="'cardRequests.create'">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <mss-button (click)="sendRequest(row, $event)"
                      [label]="value ? ('cards.cardList.requestSent' | translate) : ('cards.cardList.sendRequest' | translate)"
                      [disabled]="value"></mss-button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.edit' | translate" prop="processRequest" [maxWidth]="100" [sortable]="false"
                            *mssRoleIf="'cards.edit'">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <div class="icons-container" *ngIf="!value">
            <i class="material-icons edit" (click)="startEditing(row, $event)" *ngIf="editingRow === -1">mode_edit</i>
            <i class="material-icons" (click)="cancelEditing($event)" *ngIf="editingRow === row.$$index">not_interested</i>
            <i class="material-icons" (click)="submitEdit($event)" *ngIf="editingRow === row.$$index">check</i>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template>
          <mss-table-footer
            [page]="pageNumber"
            [rowsShown]="rowLimit"
            [rowCount]="totalItems"
            (rowsShownChange)="changeLimit($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>
