@import 'theme';

.filter-container {
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;

  &.wrapped {
    flex-wrap: wrap;
  }

  .column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .tab-content {
    display: flex;
    flex-direction: column;
  }
}

.right-padding-tabs {
  padding-right: 50px;
}

.content {
  padding: 40px 0 20px 0;
}
