<div class="employer-card-container">
  <div class="header-row">
    <div class="header">{{'cards.cardList.title' | translate}}</div>
    Changes view
    <mss-toggle label="Issuer" [(toggled)]="issuer"></mss-toggle>
  </div>

  <div class="filter-container">
    <div class="filters">
      <div class="filter-item" *ngIf="issuer">
        <mss-select [disabled]="cardGroupCodes.length === 0"
                    [options]="cardGroupCodes"
                    [label]="'dictionary.cardGroupCode'"
                    [(selectedOption)]="payload.search.predicateObject.cardGroupCode"></mss-select>
      </div>
      <div class="filter-item">
        <mss-select [disabled]="cardStates.length === 0"
                    [options]="cardStates"
                    [label]="'cards.cardList.cardState' | translate"
                    [(selectedOption)]="payload.search.predicateObject.state"></mss-select>
      </div>
      <div class="filter-item">
        <mss-input [label]="'dictionary.cln' | translate" [(value)]="payload.search.predicateObject.cln"></mss-input>
      </div>
      <div class="filter-item">
        <mss-input [label]="'cards.cardList.lastName' | translate" [(value)]="payload.search.predicateObject.lastname"></mss-input>
      </div>
    </div>
    <mss-button [label]="'basic.clearFilter' | translate" class="button" (click)="clearFilter()"></mss-button>
  </div>
  <div class="button">
    <mss-button [label]="'cards.cardList.search' | translate" (click)="getCards()"></mss-button>
  </div>


  <div *ngIf="rows" class="data-table-container">
    <ngx-datatable #table [externalPaging]="true" [loadingIndicator]="loading" [count]="tableData ? tableData.totalElements : 0 "
                   [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                   (activate)="goToDetail($event)"
                   [externalSorting]="true"
                   (sort)="getSortedCards($event)"
                   [limit]="payload.pagination.number" [rows]="rows" (page)="setPage($event)">
      <ngx-datatable-column [name]="'cards.cardList.name' | translate" prop="jmeno" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.state' | translate" prop="status" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span *ngIf="editingRow !== row.$$index" title="Double click to edit" (click)="$event.stopPropagation()"
                (dblclick)="startEditing(row, $event)">{{value}}</span>
          <mss-select (click)="$event.stopPropagation()" variant="small" *ngIf="editingRow === row.$$index" [options]="cardStates"
                      [(selectedOption)]="editedCard.state">
          </mss-select>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.expiration' | translate" [sortable]="false"></ngx-datatable-column>
      <ngx-datatable-column [name]="'dictionary.cln'| translate" [sortable]="false"></ngx-datatable-column>
      <ngx-datatable-column [name]="'cards.cardList.request' | translate" prop="processRequest" [maxWidth]="190" *ngIf="issuer">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <mss-button (click)="sendRequest(row, $event)"
                      [label]="value ? ('cards.cardList.requestSent' | translate) : ('cards.cardList.sendRequest' | translate)"
                      [disabled]="value"></mss-button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'basic.edit' | translate" [maxWidth]="100" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
          <div class="icons-container">
            <i class="material-icons edit" (click)="startEditing(row, $event)" *ngIf="editingRow === -1">mode_edit</i>
            <i class="material-icons" (click)="cancelEditing($event)" *ngIf="editingRow === row.$$index">not_interested</i>
            <i class="material-icons" (click)="submitEdit($event)" *ngIf="editingRow === row.$$index">check</i>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-curPage="curPage">
          <mss-table-footer
            [page]="curPage"
            [rowsShown]="pageSize"
            [rowCount]="rowCount"
            (rowsShownChange)="changeLimit($event)"
            (changePage)="table.onFooterPage($event)"
            class="d-table-footer">
          </mss-table-footer>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>
