@import 'theme';

.content {
  display: flex;

  .column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;

    &:first-child {
      margin-right: 30px;
    }

    &:last-child {
      margin-left: 30px;
    }

    .item {
      margin-bottom: 15px;
    }
  }
}

.properties {
  margin-top: 40px;
}

.no-margin {
  margin-top: 0;
}
