<h1 class="showcase-title">Component Showcase</h1>
<div class="showcase-container">

  <div class="showcase-row" *mssRoleIf="'showcase.test'">
    asdasdasdasd
  </div>

  <!--buttons-->
  <div class="showcase-row">
    <mss-button class="showcase-button" (click)="buttonClicked()" label="Button..."></mss-button>
    <mss-button class="showcase-button" (click)="buttonClicked()" label="...with icon..." icon="assets/icons/mock_icon.svg"></mss-button>
    <mss-button class="showcase-button" (click)="buttonClicked()" label="...on right." icon="assets/icons/mock_icon.svg" iconPosition="right"></mss-button>
    <label class="showcase-label">Clicks: {{buttonClicksCounter}}!</label>
  </div>

  <!--checkbox-->
  <div class="showcase-row">
    <mss-checkbox [(checked)]="checkboxChecked" label="random checkbox"></mss-checkbox>
    <label class="showcase-label">Checked: {{checkboxChecked}}</label>
  </div>

  <!--progress-bar-->
  <div class="showcase-row">
    <label class="showcase-label">Progress: </label>
    <mss-progress-bar [progress]="progress"></mss-progress-bar>
    <button (click)="updateProgress(false)" class="showcase-label">&nbsp;-&nbsp;</button>
    <button (click)="updateProgress(true)" class="showcase-label">&nbsp;+&nbsp;</button>
  </div>

  <!--toggle-->
  <div class="showcase-row">
    <mss-toggle [(toggled)]="toggled" label="random toggle"></mss-toggle>
    <label class="showcase-label">Toggled: {{toggled}}.</label>
  </div>

  <!--radio-button-group-->
  <div class="showcase-row">
    <mss-radio-button-group [options]="radioOptions" [(selected)]="radioSelected"></mss-radio-button-group>
    <label class="showcase-label">Radio selected: {{radioSelected}}</label>
  </div>

  <!--input-->
  <div class="showcase-row multiple">
    <mss-input class="margin-row" [(value)]="inputValue1" label="Input: "></mss-input>
    <mss-input class="margin-row" [(value)]="inputValue2" label="Number input: " type="number"></mss-input>
    <mss-input class="margin-row" [(value)]="inputValue3"></mss-input>
    <mss-input class="margin-row" [(value)]="inputValue4" label="Such placeholder: " placeholder="much wow"></mss-input>
    <label class="showcase-label">Values: [{{inputValue1}}], [{{inputValue2}}], [{{inputValue3}}], [{{inputValue4}}]</label>
  </div>

  <!--autocomplete-input-->
  <div class="showcase-row">
    <mss-autocomplete-input [label]="'choose your pokemon'" [placeholder]="'search pokemons'" [searchedItems]="searchInputArray"
                            [(selected)]="selectedPokemon">
    </mss-autocomplete-input>
    <label class="showcase-label">Pokemon selected: {{selectedPokemon}}</label>
  </div>

  <!--modal-window-->
  <div class="showcase-row">
    <label class="showcase-label"></label>
    <button (click)="toggleModalShowing(0)" class="showcase-label">Show Modal</button>
    <button (click)="toggleModalShowing(1)" class="showcase-label">Show Modal without overlay</button>

    <mss-modal-window [(visible)]="modalShowing[0]">
      <h2>Modal window</h2>
      <div>{{loremIpsum}}</div>
      <button (click)="toggleModalShowing(0)">Close</button>
    </mss-modal-window>

    <mss-modal-window [(visible)]="modalShowing[1]" [overlay]="false">
      <h2>Modal window without overlay</h2>
      <div>{{loremIpsum}}</div>
      <button (click)="toggleModalShowing(1)">Close</button>
    </mss-modal-window>
  </div>

  <!--upload input-->
  <div class="showcase-row multiple">
    <mss-upload-input class="margin-row" [label]="'Upload type button'"></mss-upload-input>
    <mss-upload-input class="margin-row" [acceptFiles]="'image/*'" [type]="'input'" [label]="'Upload type input'"></mss-upload-input>
  </div>

  <!--avatar-->
  <div class="showcase-row">
    <label class="showcase-label">Avatar:</label>
    <mss-avatar class="showcase-label"></mss-avatar>
  </div>

  <!--slider-->
  <div class="showcase-row multiple">
    <label class="showcase-label">Sliders</label>
    <mss-slider [(value)]="sliderValue1"></mss-slider>
    <label class="showcase-label">Slider1 value: {{sliderValue1}}.</label>
    <mss-slider [(value)]="sliderValue2" [min]="slider2min" [max]="slider2max"></mss-slider>
    <label class="showcase-label">Slider2 value: {{sliderValue2}}. Min: {{slider2min}}. Max: {{slider2max}}</label>
  </div>

  <!--date-picker-->
  <div class="showcase-row multiple">
    <label>Picked date: {{pickedDate.format('DD. MM. YYYY')}}</label>
    <mss-date-picker [(pickedDate)]="pickedDate"></mss-date-picker>
  </div>

  <!--input date picker-->
  <div class="showcase-row">
    <mss-date-picker-input [(pickedDate)]="modalPickedDate"></mss-date-picker-input>
  </div>

  <!--input date time picker-->
  <div class="showcase-row">
    <mss-date-time-picker-input [(pickedDate)]="dateTimeDate"></mss-date-time-picker-input>
  </div>
  <!--select-->
  <div class="showcase-row">
    <mss-select [options]="selectOptions" [(selectedOption)]="selected"></mss-select>
    <label class="showcase-label">selected: {{selected}}</label>
  </div>

  <!--data-table-->
  <div class="showcase-row">
    <div class="table-wrapper">
      <mss-data-table [tableItems]="completeArray"></mss-data-table>
    </div>
  </div>
  <!--time-picker-->
  <div class="showcase-row multiple">
    <label>Picked time: {{pickedTime.format('hh: mm')}}</label>
    <mss-time-picker [(pickedTime)]="pickedTime"></mss-time-picker>
  </div>
</div>
