
.showcase-title {
  margin: 24px;
}

.showcase-container {
  margin: 12px 24px;
  border-radius: 10px;
  background-color: #dddddd;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 10px #000000;

  .showcase-row {
    margin: 12px 12px 0 12px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    width: auto;

    &:not(:last-child) {
      border-bottom: 1px dashed #000000;
    }

    .showcase-label {
      margin-left: 12px;
    }

    .table-wrapper {
      width: 100%;
    }

    .margin-row {
      margin-bottom: 15px;
    }

    &.multiple {
      flex-direction: column;
      align-items: start;
    }
  }
}
